<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->
<footer class="footer">
    © 2020 Traigo
</footer>
<!-- ============================================================== -->
<!-- End footer -->
<!-- ============================================================== -->
<div id="publish-alert-modal">
    <!-- ============================================================== -->
    <!-- Modal de notificacion de alertas -->
    <!-- ============================================================== -->
    <% include ./modals/publish-alert.modal.ejs %>
    <!-- ============================================================== -->
    <!-- End modal -->
    <!-- ============================================================== -->
</div>
