<!-- views/partials/header.ejs -->

<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-dark">
        <!-- ============================================================== -->
        <!-- Logo -->
        <!-- ============================================================== -->
        <div class="navbar-header">
            <a class="navbar-brand col-sm-12" href="/tienda">
                <!-- Logo icon -->
                <b>
                    <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                    <!-- Dark Logo icon -->
                    <img src="/static/dist/images/favicon_bl.png" alt="homepage" class="dark-logo" />
                    <!-- Light Logo icon -->
                    <img src="/static/dist/images/favicon_bl.png" alt="homepage" class="light-logo" />
                </b>
                <!--End Logo icon -->
                <!-- Logo text -->
                <span class="col-sm-9">
                    <!-- dark Logo text -->
                    <img src="/static/dist/images/logo.png" alt="homepage" class="dark-logo" />
                    <!-- Light Logo text -->
                    <img src="/static/dist/images/logo.png" class="light-logo" alt="homepage" />
                </span>
            </a>
        </div>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <div class="navbar-collapse">
            <!-- ============================================================== -->
            <!-- toggle and nav items -->
            <!-- ============================================================== -->
            <ul class="navbar-nav mr-auto">
                <!-- This is  -->
                <li class="nav-item"> <a class="nav-link nav-toggler d-block d-md-none waves-effect waves-dark" href="javascript:void(0)"><i
                            class="ti-menu"></i></a> </li>
                <li class="nav-item"> <a class="nav-link sidebartoggler d-none d-lg-block d-md-block waves-effect waves-dark"
                        href="javascript:void(0)"><i class="icon-menu"></i></a> </li>
                <!-- ============================================================== -->
                <!-- Search -->
                <!-- ============================================================== -->
                <li class="nav-item">
                    <!--<form class="app-search d-none d-md-block d-lg-block">
                            <input type="text" class="form-control" placeholder="Search & enter">
                        </form>-->
                </li>
            </ul>
            <!-- ============================================================== -->
            <!-- User profile and search -->
            <!-- ============================================================== -->
            <ul class="navbar-nav my-lg-0">
            <%if(locals.usuario.type == 'tienda' && locals.usuario.notifications) {%>
                <!-- ============================================================== -->
                <!-- Comment -->
                <!-- ============================================================== -->
                <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="ti-email"></i>
                            <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right mailbox animated bounceInDown">
                            <ul>
                                <li>
                                    <div class="drop-title">Notificaciones</div>
                                </li>
                                <li>
                                    <div class="message-center">
                                        <!-- Message -->
                                        <%for (let i=0; i < locals.usuario.notifications.length; i++) {%>

                                        <a href="javascript:void(0)" data-toggle="tooltip" title="<%=locals.usuario.notifications[i].description%>">
                                            <div class="btn btn-info btn-circle"><i class="ti-calendar"></i></div>
                                            <div class="mail-contnet">
                                                <h5><%=locals.usuario.notifications[i].title%></h5> <span class="mail-desc"><%=locals.usuario.notifications[i].description%></span> <span class="time"><%=locals.usuario.notifications[i].created_at%></span> </div>
                                        </a>
                                        <%}%>
                                    </div>
                                </li>
                                <li>
                                    <!--<a class="nav-link text-center link" href="javascript:void(0);"> <strong>Check all notifications</strong> <i class="fa fa-angle-right"></i> </a>-->
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- ============================================================== -->
                    <!-- End Comment -->
                    <!-- ============================================================== -->
                <%}%>
                <!-- ============================================================== -->
                <!-- User Profile -->
                <!-- ============================================================== -->
                <li class="nav-item dropdown u-pro">
                    <a class="nav-link dropdown-toggle waves-effect waves-dark profile-pic" href="" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"><img src="/static/img/tienda/<%=(locals.usuario.usuario.imagen)? locals.usuario.usuario.imagen: 'default.png' %>" alt="user"
                            class=""> <span class="hidden-md-down"><%=locals.usuario.usuario.nombre%> &nbsp;<i class="fa fa-angle-down"></i></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right animated flipInY">
                        <!-- text-->
                        <a href="/tienda/cerrarsesion" class="dropdown-item"><i class="fa fa-power-off"></i> Salir</a>
                        <!-- text-->
                    </div>
                </li>
                <!-- ============================================================== -->
                <!-- End User Profile -->
                <!-- ============================================================== -->
                <!--<li class="nav-item right-side-toggle"> <a class="nav-link  waves-effect waves-light" href="javascript:void(0)"><i
                            class="ti-settings"></i></a></li>-->
            </ul>
        </div>
    </nav>
</header>