<!-- ============================================================== -->
<!-- All Jquery -->

<script type='text/javascript' src="/socket.io/socket.io.js"></script>

<!-- ============================================================== -->
<script src="/static/dist/js/jquery-3.2.1.min.js"></script>
<!-- Bootstrap popper Core JavaScript -->
<script src="/static/dist/js/popper.min.js"></script>
<script src="/static/dist/js/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="/static/dist/js/perfect-scrollbar.jquery.min.js"></script>
<!--Wave Effects -->
<script src="/static/dist/js/waves.js"></script>
<!--Menu sidebar -->
<script src="/static/dist/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="/static/dist/js/custom.js"></script>
<!-- ============================================================== -->
<!-- This page plugins -->
<!-- ============================================================== -->
<script src="/static/dist/js/jquery.sparkline.min.js"></script>
<!-- Popup message jquery -->
<script src="/static/dist/js/jquery.toast.js"></script>
<!-- Chart JS -->
<script src="/static/dist/js/dashboard1.js"></script>
<!-- Axios -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<!-- development version, includes helpful console warnings -->
<!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
<script src="https://unpkg.com/vue@latest"></script>
<!-- use the latest vue-select release -->
<script src="https://unpkg.com/vue-select@latest"></script>
<!-- Modal de notificacion de alertas-->
<!--<script src="/static/dist/js/vue/modals-vue/shop/publish-alert.modal.js"></script>-->

<script>

    let vuePublishAlertModal = new Vue({
        el: '#publish-alert-modal',
        data() {
            return {
                /**
                 * Valida si se debe mostrar el modal
                 */
                show: false,
                /**
                 * Imagen de la alerta
                 */
                img: null,
                /**
                 * Titulo descriptivo de la alerta
                 */
                title: null,
                /**
                 * Tipo de alerta
                 */
                type: null
            }
        },
        methods: {
            /**
             * Abre el modal de la alerta
             *
             * @param dataAlert datos de la alerta 
             */
            showAlert(dataAlert) {
                // Agrega los datos de la alerta
                this.img = `/static/img/alertas/${dataAlert.img}`;
                this.title = dataAlert.nombre;
                this.type = dataAlert.tipo;
                this.show = true;
    
                // Abre el modal
                $('#alertModal').modal();
                // Muestra modal correcpondiente con la alerta
                this.getToastTypeAlert(dataAlert.nombre);
                $.toast({
                    heading: 'Alerta',
                    text: dataAlert.nombre,
                    position: 'bottom-right',
                    loaderBg:'#ff6849',
                    icon: 'info',
                    allowToastClose: true,
                    hideAfter: false,
                    stack: 5
                });
            },
            /**
             * Obtiene el color de la notificacionde la alerta dependiendo del tipo de alerta
             * @param text descripcion de la notificacion
             */ 
            async getToastTypeAlert(text) {
                // Ontiene el tipo de alerta 
                const typeAlert = await this.getTypeAlerts().map(type => {
                    // Valida si es el mismo tipo de alerta
                    if (type.id === type) {
                        return type;
                    }
                });
                // Establece estructura de notificacion
                let toastData = {
                    text,
                    heading: typeAlert.description,
                    position: 'bottom-right',
                    loaderBg:'#ff6849',
                    allowToastClose: true,
                    hideAfter: false,
                    stack: 6
                };
    
                // Verifica el tipo de alerta para agregar el icono de la notificacion
                if (typeAlert.name === 'info') {
                    toastData.icon = 'info';
                } else if (typeAlert.name === 'warning') {
                    toastData.icon = 'warning';
                } else  if (typeAlert.name === 'promo') {
                    toastData.icon = 'info';
                }
    
                // Muestra la notificacion
                $.toast(toastData);
            },
            /**
             * Obtiene los tipos de alertas
             */ 
            getTypeAlerts() {
                return axios({
                    method:'GET',
                    url:'/administrador/getBusinessOrders',
                    responseType:'json',
                    headers: { "Content-Type": "application/json" }
                }).then(response => {
                    return response.data;
                });
            }
        }
    });
    
    // Conexion de socket
    const socket = io('/');  // Server endpoint
    
    const user = JSON.parse('<%-JSON.stringify(user).replace("\'", "\\\'" )%>');
    
    // Conecta el usuario logueado
    socket.on('connect', connectUser);
    
    /**
     * Establece la conexion con el socket para la publicacion de alertas
     */
    function connectUser() {  // Called whenever a user signs in
        const user = JSON.parse('<%-JSON.stringify(user).replace("\'", "\\\'" )%>');
        const userId = user.usuario.idtienda;  // Retrieve userId
        if (!userId) return;
    
        // Emite la conexion
        socket.emit('userConnected', userId);
    }
    /**
     * Desconecta el usuario
     */
    function disconnectUser() {  // Called whenever a user signs out
        const user = JSON.parse('<%-JSON.stringify(user).replace("\'", "\\\'" )%>');
        const userId = user.usuario.idtienda;  // Retrieve userId
        if (!userId) return;
        // Emite la desconexion
        socket.emit('userDisconnected', userId);
    }
    
    // var socket = io.connect('/', {forceNew: true});
    socket.on('publish_alert', (data) => {
        // Componete vue de modal de publicacion de alertas
        vuePublishAlertModal.showAlert(data.alert);
    });
    
</script>
    