<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-pro"> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><img
                            src="/static/img/tienda/<%= (locals.usuario.usuario.imagen)? locals.usuario.usuario.imagen: 'default.png' %>"" alt="user-img" class="img-circle"><span class="hide-menu"><%=locals.usuario.usuario.nombre%></span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="/tienda/cerrarsesion"><i class="fa fa-power-off"></i> Salir</a></li>
                    </ul>
                </li>
                <li class="nav-small-cap">--- TIENDA</li>
                <!--<li>
                    <a class="waves-effect waves-dark" href="/tienda/productos" aria-expanded="false">
                        <i class="fas fa-gem"></i>
                        <span class="hide-menu">Productos</span>
                    </a>
                </li>-->
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                        <i class="fas fa-cubes"></i>
                        <span class="hide-menu">Pedidos
                            <span class="badge badge-pill badge-cyan ml-auto"></span>
                        </span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="/tienda/realizarpedido">Realizar pedido</a></li>
                        <!--<li><a href="/tienda/listapedidos">Lista de pedidos</a></li>-->
                        <!--<li><a href="/tienda/listatraigo">Lista traigo</a></li>-->
                    </ul>
                </li>
                <li>
                    <a class="waves-effect waves-dark" href="/tienda/historial" aria-expanded="false">
                        <i class="fas fa-history"></i>
                        <span class="hide-menu">Historial de pedidos</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>