<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/head%>
    <link href="/static/dist/css/pages/google-vector-map.css" rel="stylesheet">
    <link href="/static/dist/css/jquery-clockpicker.min.css" rel="stylesheet">
</head>


<body class="skin-blue fixed-layout">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Traigo</p>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">

        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <% include ../../partials/header%>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <% include ../../partials/sidebar%>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->

        <div class="page-wrapper">

            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Crear producto</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/administrador">Administrador</a></li>
                                <li class="breadcrumb-item">Productos</li>
                                <li class="breadcrumb-item active">Crear producto</li>
                            </ol>
                        </div>
                    </div>
                </div>

                <!-- Row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header bg-info">
                                <h4 class="m-b-0 text-white">Formulario de creación de productos</h4>
                            </div>
                            <div class="card-body">
                                <form novalidate action="/administrador/productos" method="POST" enctype=multipart/form-data>
                                    <% include ./fields%>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Row -->
            </div>
        </div>
<% include ../../partials/footer%>
    </div>

    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->

    <% include ../../partials/scripts%>
    <script src="/static/dist/js/pages/validation.js"></script>
    <script src="/static/dist/js/pages/custom.min.js"></script>

    <!-- Clock Plugin JavaScript -->
    <script src="/static/dist/js/jquery-clockpicker.min.js"></script>

    <script type = "text/javascript">
    // Verifica la validacion de los campos al editar una sucursal
    $("input,select,textarea").not("[type=submit]").jqBootstrapValidation();
    </script>
    
    <script type = "text/javascript">

		var opciones = [1];
		var elementos = 1;
		var adiciones = 1;

		var info = document.getElementById("info");

		var res = {
			cantidadElementos: 1,
			cantidadAdiciones: 1,
			cantidadFactores: 1,
			cantidadOpciones: [1]
		}

		info.setAttribute("value", JSON.stringify(res));
/*
		function agregarElemento() {

            var divelementos = document.getElementById("elementos");

            var divelemento = document.createElement("div");
            divelemento.setAttribute("id", "elemento" + elementos);

            var divrow = document.createElement("div");
            divrow.setAttribute("class", "row");

            var divcolnombre = document.createElement("div");
            divcolnombre.setAttribute("class", "col-md-7");

            var divcolprecio = document.createElement("div");
            divcolprecio.setAttribute("class", "col-md-5");

            var divcolfgnombre = document.createElement("div");
            divcolfgnombre.setAttribute("class", "form-group");

            var divcolfgprecio = document.createElement("div");
            divcolfgprecio.setAttribute("class", "form-group");

            var divcontrolnombre = document.createElement("div");
            divcontrolnombre.setAttribute("class", "controls");

            var divcontrolprecio = document.createElement("div");
            divcontrolprecio.setAttribute("class", "controls");

            var inputnombre = document.createElement("input");
            inputnombre.setAttribute("type", "text");
            inputnombre.setAttribute("class", "form-control");
            inputnombre.setAttribute("id", "elementonombre" + elementos);
            inputnombre.setAttribute("name", "elementonombre" + elementos);

            var inputprecio = document.createElement("input");
            inputprecio.setAttribute("type", "number");
            inputprecio.setAttribute("class", "form-control");
            inputprecio.setAttribute("id", "elementoprecio" + elementos);
            inputprecio.setAttribute("name", "elementoprecio" + elementos);

            divcontrolnombre.appendChild(inputnombre);
            divcontrolprecio.appendChild(inputprecio);

            divcolfgnombre.appendChild(divcontrolnombre);
            divcolfgprecio.appendChild(divcontrolprecio);

            divcolnombre.appendChild(divcolfgnombre);
            divcolprecio.appendChild(divcolfgprecio);

            divrow.appendChild(divcolnombre);
            divrow.appendChild(divcolprecio);

            divelementos.appendChild(divrow);

			elementos++;
			res.cantidadElementos++;
			info.setAttribute("value", JSON.stringify(res));	
		}

		function agregarAdicion(){

			var divadiciones = document.getElementById("adiciones");

            var divadicion = document.createElement("div");
            divadicion.setAttribute("id", "adicion" + adiciones);

            var divrow = document.createElement("div");
            divrow.setAttribute("class", "row");

            var divcolnombre = document.createElement("div");
            divcolnombre.setAttribute("class", "col-md-7");

            var divcolprecio = document.createElement("div");
            divcolprecio.setAttribute("class", "col-md-5");

            var divcolfgnombre = document.createElement("div");
            divcolfgnombre.setAttribute("class", "form-group");

            var divcolfgprecio = document.createElement("div");
            divcolfgprecio.setAttribute("class", "form-group");

            var divcontrolnombre = document.createElement("div");
            divcontrolnombre.setAttribute("class", "controls");

            var divcontrolprecio = document.createElement("div");
            divcontrolprecio.setAttribute("class", "controls");

            var inputnombre = document.createElement("input");
            inputnombre.setAttribute("type", "text");
            inputnombre.setAttribute("class", "form-control");
            inputnombre.setAttribute("id", "adicionnombre" + adiciones);
            inputnombre.setAttribute("name", "adicionnombre" + adiciones);

            var inputprecio = document.createElement("input");
            inputprecio.setAttribute("type", "number");
            inputprecio.setAttribute("class", "form-control");
            inputprecio.setAttribute("id", "adicionprecio" + adiciones);
            inputprecio.setAttribute("name", "adicionprecio" + adiciones);

            divcontrolnombre.appendChild(inputnombre);
            divcontrolprecio.appendChild(inputprecio);

            divcolfgnombre.appendChild(divcontrolnombre);
            divcolfgprecio.appendChild(divcontrolprecio);

            divcolnombre.appendChild(divcolfgnombre);
            divcolprecio.appendChild(divcolfgprecio);

            divrow.appendChild(divcolnombre);
            divrow.appendChild(divcolprecio);

            divadiciones.appendChild(divrow);

			res.cantidadAdiciones++;
			adiciones++;	
			info.setAttribute("value", JSON.stringify(res));
		}

*/

		function agregarElemento() {

            var divelementos = document.getElementById("elementos");

            var divelemento = document.createElement("div");
            divelemento.setAttribute("id", "elemento" + elementos);

            var divrow = document.createElement("div");
            divrow.setAttribute("class", "container row");

            var input = document.createElement("input");
            input.setAttribute("type", "text");
            input.setAttribute("class","form-control mb-2 col-6");
            input.setAttribute("id", "elementonombre" + elementos);
            input.setAttribute("aria-describedby","emailHelp");
            input.setAttribute("placeholder","Nombre del elemento");
            input.setAttribute("name", "elementonombre" + elementos);

            var input2 = document.createElement("input");
            input2.setAttribute("type", "number");
            input2.setAttribute("class", "form-control mb-2 ml-2 col-4");
            input2.setAttribute("id", "elementoprecio" + elementos);
            input2.setAttribute("aria-describedby","emailHelp");
            input2.setAttribute("placeholder","Precio del elemento");
            input2.setAttribute("name", "elementoprecio" + elementos);

            divrow.appendChild(input);
            divrow.appendChild(input2);

            divelementos.appendChild(divrow);

            elementos++;
            res.cantidadElementos++;
            info.setAttribute("value", JSON.stringify(res));	
            }

        function agregarAdicion() {

            var divadiciones = document.getElementById("adiciones");

            var divadicion = document.createElement("div");
            divadicion.setAttribute("id", "adicion" + adiciones);

            var divrow = document.createElement("div");
            divrow.setAttribute("class", "row");

            var input = document.createElement("input");
            input.setAttribute("type", "text");
            input.setAttribute("class","form-control col-md-6");
            input.setAttribute("id", "adicionnombre" + adiciones);
            input.setAttribute("placeholder","Nombre de la adición");
            input.setAttribute("name", "adicionnombre" + adiciones);

            var input2 = document.createElement("input");
            input2.setAttribute("type", "number");
            input2.setAttribute("class", "form-control col-md-6");
            input2.setAttribute("id", "adicionprecio" + adiciones);
            input2.setAttribute("placeholder","Precio de la adición");
            input2.setAttribute("name", "adicionprecio" + adiciones);

            divrow.appendChild(input);
            divrow.appendChild(input2);

            divadiciones.appendChild(divrow);

            res.cantidadAdiciones++;
            adiciones++;	
            info.setAttribute("value", JSON.stringify(res));
        }

		function agregarOpcion(factor) {

			var div = document.getElementById("factor" + factor);

			console.log(div);

			var row = document.createElement("div");
			row.setAttribute("class", "row");

			var input = document.createElement("input");
			input.setAttribute("type", "text");
			input.setAttribute("class","form-control col-md-6");
			input.setAttribute("id", "nombre" + factor + "opcion" + opciones[factor]);
			input.setAttribute("placeholder","Nombre de la opcion");
			input.setAttribute("name", "nombre" + factor + "opcion" + opciones[factor]);

			var input2 = document.createElement("input");
			input2.setAttribute("type", "number");
			input2.setAttribute("class", "form-control col-md-6");
			input2.setAttribute("id", "precio" + factor + "opcion" + opciones[factor]);
			input2.setAttribute("placeholder","Precio de la opcion");
			input2.setAttribute("name", "precio" + factor + "opcion" + opciones[factor]);

			row.appendChild(input);
			row.appendChild(input2);
			div.appendChild(row);

			res.cantidadOpciones[factor]++;
			console.log(res.cantidadOpciones[factor]);
			opciones[factor]++;
			info.setAttribute("value", JSON.stringify(res));
		}

		function agregarFactor() {

			var factor = opciones.length;
			var factores = document.getElementById("factores");

			var divnombre = document.createElement("div");
			divnombre.setAttribute("class", "form-group");

			var inputnombre = document.createElement("input");
			inputnombre.setAttribute("type", "text");
			inputnombre.setAttribute("class", "form-control col-md-6");
			inputnombre.setAttribute("id","nombrefactor" + factor);
			inputnombre.setAttribute("placeholder", "Nombre del factor");
			inputnombre.setAttribute("name", "nombrefactor" + factor);
			divnombre.appendChild(inputnombre);

			var divcheck = document.createElement("div");
			divcheck.setAttribute("class", "form-check mb-2");

			var inputcheck = document.createElement("input");
			inputcheck.setAttribute("type", "checkbox");
            inputcheck.setAttribute("class", "custom-control-input");
			inputcheck.setAttribute("id", "obligatorio" + factor);
			inputcheck.setAttribute("name", "obligatorio" + factor);
			
			var labelcheck = document.createElement("label");
			labelcheck.setAttribute("class", "form-check-label titulo");
			labelcheck.setAttribute("for", "obligatorio" + factor);
			labelcheck.innerHTML = "Obligatorio";
			
			divcheck.appendChild(inputcheck);
			divcheck.appendChild(labelcheck);

			var divfactor = document.createElement("div");
			var divfactorinner = document.createElement("div");

			divfactor.setAttribute("class", "form-group");
			divfactorinner.setAttribute("id", "factor" + factor);

			divfactor.appendChild(divfactorinner);

			factores.appendChild(document.createElement("br"));
			factores.appendChild(divnombre);
			factores.appendChild(divcheck);
			factores.appendChild(divfactor);

			var divbutton = document.createElement("div");
			var button = document.createElement("button");

			button.setAttribute("type", "button");
			button.setAttribute("onClick", "agregarOpcion("+factor+")");
			button.setAttribute("class", "btn btn-primary");
			button.innerHTML = "Agregar opcion";

			divbutton.setAttribute("class", "row");
			divbutton.appendChild(button);

			divfactor.appendChild(divbutton);

			opciones.push(0);
			res.cantidadFactores++;
			res.cantidadOpciones.push(0);
			agregarOpcion(factor);
			info.setAttribute("value", JSON.stringify(res));
		}

		var io = io.connect('/', {'forceNew':true});
		var scategoria = document.getElementById("categoria");

		io.on("categoriasproductos", function(data){
			var cont = data.length;
			scategoria.length = cont;
			for(var i = 0; i < cont; i++){
				scategoria.options[i] = new Option(data[i].nombre, data[i].idcategoriaproducto);
			};
		});

	</script>
</body>

</html>