
                                    <div class="form-body">
                    
                                        <div class="form-group">
                                            <input type="hidden" id="info" name="info">
                                        </div>

                                        <% if(locals.producto) {%>
                                        <!--<div class="form-group">
                                            <input type="hidden" id="nombresucursal" aria-describedby="emailHelp" name = "nombresucursal" value = "<%=sucursal.nombre%>">
                                            <script type="text/javascript">
                                                console.log(document.getElementById("nombresucursal").value);
                                            </script>
                                        </div>-->
                                        <div class="form-group">
                                            <input type="hidden" id="idproducto" name="idproducto" value="<%=producto.idproducto%>">
                                        </div>
                                        <%}%>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Nombre <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="text" id="nombre" name="nombre" class="form-control"
                                                            value="<%= (locals.producto) ? producto.nombre : '' %>"
                                                            required data-validation-required-message="Éste campo es requerido">
                                                    </div>
                                                    <small class="form-control-feedback"> Nombre de la producto </small>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Precio <span class="text-danger">*</span></h5>
                                                    <div class="controls">                                                            
                                                        <input type="number" id="precio" name="precio" class="form-control" required
                                                            value="<%= (locals.producto) ? producto.precio : '' %>"
                                                            data-validation-required-message="Éste campo es requerido">
                                                    </div>
                                                    <small class="form-control-feedback"> Precio del producto </small>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <!--<div class="form-group has-success">-->
                                                <div class="form-group">
                                                    <h5>Categoría <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <select class="form-control custom-select" id="categoria" name="categoria"
                                                            required>
                                                        </select>
                                                        <small class="form-control-feedback">
                                                            Seleccione la categoría a la que pertenece el producto
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Descripción Corta <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="text" id="descripcion_corta" name="descripcion_corta" class="form-control"
                                                            value="<%= (locals.producto) ? producto.descripcion_corta : '' %>"
                                                            required data-validation-required-message="Éste campo es requerido">
                                                    </div>
                                                    <small class="form-control-feedback"> Descripción corta del producto </small>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>                          
                                        <!--/row-->
                                        <div class="row">
                                            <!--/span-->
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <h5>Descripción larga <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="text" id="descripcion_larga" name="descripcion_larga" class="form-control"
                                                            value="<%= (locals.producto) ? producto.descripcion_larga : '' %>"
                                                            required data-validation-required-message="Éste campo es requerido">
                                                    </div>
                                                    <small class="form-control-feedback"> Descripción larga del producto </small>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <!--<div class="form-group has-success">-->
                                                <div class="form-group">
                                                    <h5>Tamaño del maletín <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <select class="form-control custom-select" id="maletin" name="maletin"
                                                            required>
                                                            <option value="1">Grande</option>
                                                            <option value="2">Mediano</option>
                                                            <option value="3">Pequeño</option>
                                                        </select>
                                                        <small class="form-control-feedback">
                                                            Seleccione el tamaño del maletín del producto
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Imágen del producto <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="file" name="imagen" id="imagen" class="form-control" required
                                                            value="<%= (locals.producto) ? producto.imagen : '' %>">
                                                    </div>
                                                    <small class="form-control-feedback"> Seleccione una imágen del producto </small>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>    
                                        <!--/row-->
                                        <div class="row">
                                        <!-- Acá empiezan los factores -->
                                            <h4 class="titulo">Factores</h4>
                                            <div id="factores">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="nombrefactor0" aria-describedby="emailHelp" placeholder="Nombre del factor" name = "nombrefactor0">
                                                </div>
                                                <div class="form-check mb-2">
                                                    <input type="checkbox" class="form-check-input" id="obligatorio0" name = "obligatorio0">
                                                    <label class="form-check-label titulo" for="obligatorio0">Obligatorio</label>
                                                </div>
                                                <div class="form-group pl-4">
                                                    <div id="factor0">
                                                        <div class="row">
                                                            <input type="text" class="form-control col-md-6" id="nombre0opcion0" aria-describedby="emailHelp" placeholder="Nombre de la opcion" name = "nombre0opcion0">
                                                            <input type="number" class="form-control col-md-6" id="precio0opcion0" aria-describedby="emailHelp" placeholder="Precio de la opcion" name = "precio0opcion0">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <button id="0" type="button" onClick="agregarOpcion(0)" class="btn btn-primary">Agregar opcion</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-offset-3 col-md-9">
                                                <button type="button" onClick="agregarFactor()" class="btn btn-success">Agregar factor</button>
                                            </div>
                                            
                                        </div>
                                        <div class="row">
                                            <!-- Acá empiezan los elementos -->
                                            <h4 class="titulo">Elementos</h4>
                                            <div id="elementos">
                                                <div id="elemento0">
                                                    <div class="row">
                                                        <input type="text" class="form-control col-md-6" id="elementonombre0" aria-describedby="emailHelp" placeholder="Nombre del elemento" name = "elementonombre0">
                                                        <input type="number" class="form-control col-md-6" id="elementoprecio0" aria-describedby="emailHelp" placeholder="Precio del elemento" name = "elementoprecio0">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-offset-3 col-md-9">
                                                <button type="button" onClick = "agregarElemento()" class="btn btn-success">Agregar Elemento</button>
                                            </div>
                                            
                                        </div>
                                        <div class="row">
                                            <!-- Acá empiezan las adiciones -->
                                            <h4 class="titulo">Adiciones</h4>
                                            <div id="adiciones">
                                                <div id="adicion0">
                                                    <div class="row">
                                                        <input type="text" class="form-control col-md-6" id="adicionnombre0" aria-describedby="emailHelp" placeholder="Nombre de la adicion" name = "adicionnombre0">
                                                        <input type="number" class="form-control col-md-6" id="adicionprecio0" aria-describedby="emailHelp" placeholder="Precio de la adicion" name = "adicionprecio0">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-offset-3 col-md-9">
                                                <button type="button" onClick="agregarAdicion()" class="btn btn-success">Agregar Adición</button>
                                            </div>
                                        </div>
                                        <!--
                                        <div id="factores">
                                            <h3 class="card-title">Agregar factores</h3>
                                            <div class="row">
                                                <div class="col-md-7">
                                                    <div class="form-group">
                                                        <h5>Nombre del factor <span class="text-danger">*</span></h5>
                                                        <div class="controls">
                                                            <input type="text" id="nombrefactor0" name="nombrefactor0" class="form-control"
                                                                required data-validation-required-message="Éste campo es requerido">
                                                        </div>
                                                        <small class="form-control-feedback"> Nombre del factor que pertenece al producto </small>
                                                    </div>
                                                </div>
                                                <div class="col-md-5">
                                                    <div class="form-group">
                                                        <h5>Obligatorio <span class="text-danger">*</span></h5>
                                                        <div class="controls">
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" required value="single" class="custom-control-input"
                                                                    id="obligatorio0" name="obligatorio0">
                                                                <label class="custom-control-label" for="retenido">Obligatorio</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="factor0">
                                                <div class="row">
                                                    <div class="col-md-7">
                                                        <div class="form-group">
                                                            <h5>Nombre <span class="text-danger">*</span></h5>
                                                            <div class="controls">
                                                                <input type="text" id="nombre0opcion0" name="nombre0opcion0" class="form-control"
                                                                    required data-validation-required-message="Éste campo es requerido">
                                                            </div>
                                                            <small class="form-control-feedback"> Nombre de la opción </small>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <div class="form-group">
                                                            <h5>Precio <span class="text-danger">*</span></h5>
                                                            <div class="controls">
                                                                <input type="text" id="precio0opcion0" name="precio0opcion0" class="form-control"
                                                                    required data-validation-required-message="Éste campo es requerido">
                                                            </div>
                                                            <small class="form-control-feedback"> Precio de la opción </small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3 col-md-offset-3">
                                                    <button id="0" type="button" onClick="agregarOpcion(0)" class="btn btn-rounded btn-block btn-success">Agregar opción</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3 col-md-offset-3">
                                                <button type="button" onClick="agregarFactor(0)" class="btn btn-rounded btn-block btn-success">Agregar factor</button>
                                            </div>
                                        </div>
                                        <div id="elementos">
                                            <h3 class="card-title">Agregar elementos</h3>
                                            <div id="elemento0"> 
                                                <div class="row">
                                                    <div class="col-md-7">
                                                        <div class="form-group">
                                                            <h5>Nombre <span class="text-danger">*</span></h5>
                                                            <div class="controls">
                                                                <input type="text" id="elementonombre0" name="elementonombre0" class="form-control"
                                                                    required data-validation-required-message="Éste campo es requerido">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <div class="form-group">
                                                            <h5>Precio <span class="text-danger">*</span></h5>
                                                            <div class="controls">
                                                                <input type="text" id="elementoprecio0" name="elementoprecio0" class="form-control"
                                                                    required data-validation-required-message="Éste campo es requerido">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3 col-md-offset-3">
                                                <button type="button" onClick="agregarElemento()" class="btn btn-rounded btn-block btn-success">Agregar elemento</button>
                                            </div>
                                        </div>
                                        <div id="adiciones">
                                            <h3 class="card-title">Agregar adiciones</h3>
                                            <div id="adicion0">
                                                <div class="row">
                                                    <div class="col-md-7">
                                                        <div class="form-group">
                                                            <h5>Nombre <span class="text-danger">*</span></h5>
                                                            <div class="controls">
                                                                <input type="text" id="adicionnombre0" name="adicionnombre0" class="form-control"
                                                                    required data-validation-required-message="Éste campo es requerido">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <div class="form-group">
                                                            <h5>Precio <span class="text-danger">*</span></h5>
                                                            <div class="controls">
                                                                <input type="text" id="adicionprecio0" name="adicionprecio0" class="form-control"
                                                                    required data-validation-required-message="Éste campo es requerido">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3 col-md-offset-3">
                                                <button type="button" onClick="agregarAdicion()" class="btn btn-rounded btn-block btn-success">Agregar elemento</button>
                                            </div>
                                        </div>

			<button type="button" onClick = "agregarAdicion()" class="col-10 btn btn-light btn-block btn-form">Agregar Adición</button>
                                    </div>-->
                                    <!--/row-->
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-offset-3 col-md-9">
                                                        <button type="submit" class="btn btn-success">
                                                            <i class="fa fa-check"></i>
                                                            Guardar
                                                        </button>
                                                        <a href="/administrador/productos">
                                                            <button type="button" class="btn btn-inverse">Cancelar</button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6"> </div>
                                        </div>
                                    </div>
