<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head%>
    <link href="/static/dist/css/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="/static/dist/css/daterangepicker.css" rel="stylesheet">
    <link href="/static/dist/css/bootstrap-datepicker.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/yadcf/0.9.3/jquery.dataTables.yadcf.css" />
</head>


<body class="skin-blue fixed-layout">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Traigo</p>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">

        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <% include ../partials/header%>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <% include ../partials/sidebar%>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->

        <div class="page-wrapper">

            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Historial de pedidos</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/tienda">Tienda</a></li>
                                <li class="breadcrumb-item active">Historial de pedidos</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Pedidos empresariales</h4>
                                <h6 class="card-subtitle">Formatos establecidos para exportar la información</h6>
                                <input id="filter" type="text" class="form-control input-daterange-timepicker" name="daterange"
                                     />
                                <div class="table-responsive m-t-40">
                                    <table id="tbl_history" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Valor</th>
                                                <th>Rider</th>
                                                <th>Cliente</th>
                                                <th>Teléfono</th>
                                                <th>Datáfono</th>
                                                <th>Fecha</th>
                                                <th>Hora</th>
                                                <th>Estado</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>ID</th>
                                                <th>Valor</th>
                                                <th>Rider</th>
                                                <th>Cliente</th>
                                                <th>Teléfono</th>
                                                <th>Datáfono</th>
                                                <th>Fecha</th>
                                                <th>Hora</th>
                                                <th>Estado</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<% include ../partials/footer%>
    </div>

    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->

    <%- include('../partials/scripts', {user: locals.usuario}); %>
    
    <script src="/static/dist/js/datatables.min.js"></script>

    <!--stickey kit -->
    <script src="/static/dist/js/sticky-kit.min.js"></script>

    <!-- Daterange picker -->
    <script src="/static/dist/js/moment.js"></script>
    <script src="/static/dist/js/daterangepicker.js"></script>
    <script src="/static/dist/js/bootstrap-datepicker.min.js"></script>

    <!-- start - This is for export functionality only -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/yadcf/0.9.3/jquery.dataTables.yadcf.js"></script>

    <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
    <!-- end - This is for export functionality only -->

    <script>
        var now = moment().format("MM/DD/YYYY");
        var dateRange = now + " 1:30 PM - " + now +" 2:00 PM"
        document.getElementById("filter").value = dateRange;
    </script>

    <script>
    
    $('.input-daterange-timepicker').daterangepicker({
            //            timePicker: true,
            format: 'YYYY-MM-DD HH:mm',
            timePickerIncrement: 1,
            timePicker24Hour: true,
            timePickerSeconds: true,
            buttonClasses: ['btn', 'btn-sm'],
            applyClass: 'btn-danger',
            cancelClass: 'btn-inverse'
        }, function (startDate, endDate, period) {

            $(this).val(startDate.format('L') + ' – ' + endDate.format('L'))
            var datesBefore = {};
            datesBefore.fecha = moment(startDate).format('YYYY-M-DD');
            datesBefore.hora = moment(startDate).format('hh:mm:ss');

            var datesAfter = {};
            datesAfter.fecha = moment(endDate).format('YYYY-M-DD');
            datesAfter.hora = moment(endDate).format('hh:mm:ss');

            var dates = {};
            dates.before = datesBefore;
            dates.after = datesAfter;

            var data = JSON.stringify(dates);

            xhr = $.ajax({
                type: "POST",
                url: "/tienda/historialfiltro",
                headers: {
                    "Content-Type": "application/json"
                },
                dataType: "json",
                data: data,
                success: function (response) {

                    // Tabla pedidos
                    if ($.fn.dataTable.isDataTable('#tbl_history')) {
                        $('#tbl_history').DataTable().clear().destroy();
                    }

                    var table = $('#tbl_history').DataTable({
                        destroy: true,
                        orderCellsTop: true,
                        fixedHeader: true,
                        pageLength: 30,
                        dom: 'Bfrtip',
                        data: response,
                        buttons: [
                            'copy', 'csv', 'excel', 'pdf', 'print'
                        ],
                        language: {
                            url: "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json",
                        },
                        columns: [
                            { "title": "ID", "data": "idpedido_empresarial" },
                            { "title": "Valor", "data": "valor" },
                            { "title": "Rider", "data": "nombre_rider" },
                            { "title": "Cliente", "data": "nombre_cliente" },
                            { "title": "Teléfono", "data": "telefono" },
                            { "title": "Datáfono", "data": "datafono" },
                            { "title": "Fecha", "data": "fecha" },
                            { "title": "Hora", "data": "hora" },
                            { "title": "Estado", "data": "estado", 
                                createdCell: function (td, cellData, rowData, row, col) {
                                    $(td).css('background-color', rowData.color);
                                }
                            }
                        ],
                        initComplete: function () {
                            this.api().columns([2,5,8]).every(function () {
                                var column = this;
                                var select = $('<select><option value=""></option></select>')
                                    .appendTo($(column.header()).empty())
                                    .on('change', function () {
                                        var val = $.fn.dataTable.util.escapeRegex(
                                            $(this).val()
                                        );
                                        column
                                            .search(val ? '^' + val + '$' : '', true, false)
                                            .draw();
                                    });

                                column.data().unique().sort().each(function (d, j) {
                                    select.append('<option value="' + d + '">' + d + '</option>')
                                });
                            });
                        }
                    });

                    table.columns.adjust().draw();

                    yadcf.init(table, [
                        {
                            column_number: 6,
                            filter_type: "range_date",
                            datepicker_type: 'bootstrap-datepicker',
                            date_format: 'yyyy-m-dd'
                        }
                    ]);

                    $('#tbl_history thead tr').clone(true).appendTo('#tbl_history thead');
                    $('#tbl_history thead tr:eq(1) th').each(function (i) {
                        var title = $(this).text();
                        $(this).html('<input class="form-control" type="text" placeholder="Buscar ' + title + '" />');

                        $('input', this).on('keyup change', function () {
                            if (table.column(i).search() !== this.value) {
                                table
                                    .column(i)
                                    .search(this.value)
                                    .draw();
                            }
                        });
                    });

                    $('.buttons-copy, .buttons-csv, .buttons-print, .buttons-pdf, .buttons-excel')
                        .addClass('btn btn-primary mr-1');
                },
            });

        });

    </script>


</body>

</html>