<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head%>
    <link href="/static/dist/css/dataTables.bootstrap4.css" rel="stylesheet">
</head>


<body class="skin-blue fixed-layout">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Traigo</p>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">

        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <% include ../partials/header%>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <% include ../partials/sidebar%>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->

        <div class="page-wrapper">

            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Lista de pedidos traigo</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0)">Tienda</a></li>
                                <li class="breadcrumb-item active">Lista de pedidos traigo</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <%if(info == "eliminated"){%>
                                <div class="alert alert-info alert-rounded">
                                    <i class="ti-user"></i>
                                    Se ha cancelado el pedido
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <%}else if(info == "err"){%>
                                <div class="alert alert-danger alert-rounded">
                                    <i class="ti-user"></i>
                                    Ha ocurrido un error en la operacion
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <%}else if(info == "correct"){%>
                                <div class="alert alert-success alert-rounded">
                                    <i class="ti-user"></i>
                                    Pedido realizado correctamente
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <%}%>
                                <h4 class="card-title">Pedidos traigo</h4>
                                <h6 class="card-subtitle">Formatos establecidos para exportar la información</h6>
                                <div class="table-responsive m-t-40">
                                    <table id="tbl_pec" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Nombre</th>
                                                <th>Valor simple</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>ID</th>
                                                <th>Nombre</th>
                                                <th>Valor simple</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <%for(var i = 0; i < productos.length; i++){%>
                                            <tr>
                                                <td><%=productos[i].idproducto%></td>
                                                <td><%=productos[i].nombre%></td>
                                                <td><%=productos[i].precio%></td>
                                                <td class="row">
                                                    <button type="button" class="btn btn-info btn-circle" onClick="renderizarProducto(<%=productos[i].id%>)">
                                                        <i class="fas fa-search"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <%}%>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Row -->
                <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <!--<div class="card-header bg-info">
                                    <h4 class="m-b-0 text-white">Form with view only</h4>
                                </div>-->
                                <div class="card-body">
                                    <div class="form-body">
                                        <h3 class="box-title">Cobrar al Rider: $<%=total%></h3>
                                        <hr class="m-t-0 m-b-40">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label class="control-label text-right col-md-3">Personalización: </label>
                                                    <div class="col-md-9">
                                                        <ul id="selecciones" class="list-group form-control-static">
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label class="control-label text-right col-md-3">Quitar: </label>
                                                    <div class="col-md-9">
                                                        <ul id="elementos" class="list-group form-control-static">
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label class="control-label text-right col-md-3">Adiciones: </label>
                                                    <div class="col-md-9">
                                                        <ul id="adiciones" class="list-group form-control-static">
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/row-->
                                    </div>
                                    <div class="form-actions">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Row -->
            </div>

        </div>
    <% include ../partials/footer%>
    </div>

    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->

    <%- include('../partials/scripts', {user: locals.usuario}); %>
    <script src="/static/dist/js/datatables.min.js"></script>

    <!--stickey kit -->
    <script src="/static/dist/js/sticky-kit.min.js"></script>

    <!-- start - This is for export functionality only -->
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
    <!-- end - This is for export functionality only -->

    <script>
        // Tabla pedidos traigo
        var table_pec = $('#tbl_pec').DataTable({
            orderCellsTop: true,
            fixedHeader: true,
            paging: false,
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            language: {
                url: "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json",
            },
            initComplete: function () {
                this.api().column(3).every(function () {
                    var column = this;
                    var select = $('<select><option value=""></option></select>')
                        .appendTo($(column.header()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );
                            column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                        });

                    column.data().unique().sort().each(function (d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>')
                    });
                });
            }
        });
        table_pec.columns.adjust().draw();

        $('#tbl_pec thead tr').clone(true).appendTo('#tbl_pec thead');
        $('#tbl_pec thead tr:eq(1) th').each(function (i) {
            if (i !== 4 ) {
                var title = $(this).text();
                $(this).html('<input class="form-control" type="text" placeholder="Buscar ' + title + '" />');

                $('input', this).on('keyup change', function () {
                    if (table_pec.column(i).search() !== this.value) {
                        table_pec
                            .column(i)
                            .search(this.value)
                            .draw();
                    }
                });
            }
        });

        $('.buttons-copy, .buttons-csv, .buttons-print, .buttons-pdf, .buttons-excel')
            .addClass('btn btn-primary mr-1');

    </script>

    <script>
        var io = io.connect('/', {'forceNew':true});
        //io.emit('productotienda', {idproducto: <%=productos[0].id%>});
        function renderizarProducto(id){
            io.emit('productotienda', {idproducto: id});
        }

        io.on('renderproducto', (data) => {

            var elementos = document.getElementById("elementos");
            elementos.innerHTML = "";
            for (var i = 0; i < data.elementos.length; i++) {
                elementos.innerHTML += '<li class="list-group-item">' + data.elementos[i].nombre + (data.elementos[i].precio != 0 ? ' +$' + data.elementos[i].precio : '') + '</li>';
            } 

            var selecciones = document.getElementById("selecciones");
            selecciones.innerHTML = "";
            for (var i = 0; i < data.selecciones.length; i++) {
                selecciones.innerHTML += '<li class="list-group-item">' + data.selecciones[i].nombrefactor + ': ' + data.selecciones[i].nombre + (data.selecciones[i].precio != 0 ? ' +$' + data.selecciones[i].precio : '') + '</li>';
            }

            var adiciones = document.getElementById("adiciones");
            adiciones.innerHTML = "";
            for (var i = 0; i < data.adiciones.length; i++) {
                adiciones.innerHTML += '<li class="list-group-item">' + data.adiciones[i].nombre + (data.adiciones[i].precio != 0 ? ' +$' + data.adiciones[i].precio : '') + '</li>';
            } 
        });
        
    </script>

</body>

</html>