<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head%>
    <link href="/static/dist/css/pages/google-vector-map.css" rel="stylesheet">
</head>


<body class="skin-blue fixed-layout">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Traigo</p>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">

        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <% include ../partials/header%>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <% include ../partials/sidebar%>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->

        <div class="page-wrapper">

            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Pedido</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/tienda">Tienda</a></li>
                                <li class="breadcrumb-item active">Pedido</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- Row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header bg-info">
                                <h4 class="m-b-0 text-white">Información del pedido</h4>
                            </div>
                            <div class="card-body">
                                <div class="form-body">
                                    <!--<h3 class="box-title">Pedido</h3>
                                    <hr class="m-t-0 m-b-40">-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3">Valor:</label>
                                                <div class="col-md-9">
                                                    <p class="form-control-static"> $ <%=pedido.valor%> </p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <% if (pedido.direccionpedido) {%>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3">Dirección de entrega:</label>
                                                <div class="col-md-9">
                                                    <p class="form-control-static"> <%=pedido.direccionpedido%> | <%=pedido.notasdireccionpedido%> </p>
                                                </div>
                                            </div>
                                        </div>
                                        <%}%>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <% if (pedido.nombre_cliente) {%>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3">Cliente:</label>
                                                <div class="col-md-9">
                                                    <p class="form-control-static"> <%=pedido.nombre_cliente%> </p>
                                                </div>
                                            </div>
                                        </div>
                                        <%}%>
                                        <!--/span-->
                                        <% if (pedido.telefono) {%>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3">Teléfono del cliente:</label>
                                                <div class="col-md-9">
                                                    <p class="form-control-static"> <%=pedido.telefono%> </p>
                                                </div>
                                            </div>
                                        </div>
                                        <%}%>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <% if (pedido.nombrerider) {%>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3">Rider:</label>
                                                <div class="col-md-9">
                                                    <p class="form-control-static"> <%=pedido.nombrerider%> </p>
                                                </div>
                                            </div>
                                        </div>
                                        <%}%>
                                        <!--/span-->
                                        <% if (pedido.telefonorider) {%>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3">Teléfono del rider:</label>
                                                <div class="col-md-9">
                                                    <p class="form-control-static"> <%=pedido.telefonorider%> </p>
                                                </div>
                                            </div>
                                        </div>
                                        <%}%>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3">Datáfono:</label>
                                                <div class="col-md-9">
                                                    <p class="form-control-static"> <%=(pedido.datafono == 'S' ? 'Si' : 'No')%> </p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3">Estado:</label>
                                                <div class="col-md-9">
                                                    <p class="form-control-static"> <%=pedido.estado%> </p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% if (pedido.nombrerider) {%>
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Ubicación del rider</h4>
                                <div id="map" class="gmaps"></div>
                            </div>
                        </div>
                    </div>
                    <%}%>
                </div>
            </div>
        </div>

    <% include ../partials/footer%>
    </div>

    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->

    <%- include('../partials/scripts', {user: locals.usuario}); %>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKwCnkuKfwRNZUEDhXGDM6FHzsM9AD-Js"></script>
    <script src="/static/dist/js/gmaps.min.js"></script>
    <script src="/static/dist/js/jquery.gmaps.js"></script>
    <script>
		var io = io.connect('/', {'forceNew':true});
		
		var markerOption = {
            center: new google.maps.LatLng(4.534440, -75.675830)
            };

		var marker = new google.maps.Marker({
			position: markerOption.center,
			map: null,
			title: markerOption.center
		});

		io.on("actualizarRider", function(data) {
			if(data != null){
				var rider = data[0];
				markerOption.center = new google.maps.LatLng(rider.latitude, rider.longitude);
				agregarMarker();
			}
			setTimeout(function() {
                io.emit("rider", {
                    idrider: <%=pedido.idrider%>
                })
            }, 3000);
		});

		var map;

		var myOptions = {
			center: new google.maps.LatLng(4.534440, -75.675830),
			zoom: 14,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};

		function initialize() {
			map = new google.maps.Map(document.getElementById("map"),myOptions);
			io.emit("rider", {idrider: <%=pedido.idrider%>});
		}

		function agregarMarker() {
			marker.setPosition(markerOption.center);
			marker.setMap(map);
		}

		google.maps.event.addDomListener(window, 'load', initialize);
	</script>

</body>

</html>