<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head%>
    <link href="/static/dist/css/pages/google-vector-map.css" rel="stylesheet">
    <link href="/static/dist/css/pages/contact-app-page.css" rel="stylesheet">
    <link href="/static/dist/css/sweetalert.css" rel="stylesheet">
    <link href="/static/dist/css/pages/ribbon-page.css" rel="stylesheet">
    <link href="/static/dist/css/pages/ribbon-page.css" rel="stylesheet">
    <link href="/static/dist/css/switchery.min.css" rel="stylesheet" />

</head>


<body class="skin-blue fixed-layout">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Traigo</p>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">

        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <% include ../partials/header%>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <% include ../partials/sidebar%>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->

        <div class="page-wrapper" id="makeOrder">

            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles" id="formMap">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Realizar pedido</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/tienda">Tienda</a></li>
                                <li class="breadcrumb-item active">Realizar pedido</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <% if (typeof tienda !== ('undefined' || null)) {%>
                <!-- Card -->
                <div class="card-group">

                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="d-flex no-block align-items-center">
                                        <div>
                                            <h3><i class="icon-trash"></i></h3>
                                            <p class="text-muted">Usados</p>
                                        </div>
                                        <div class="ml-auto">
                                            <h2 class="counter text-primary">{{qtyPlans.usados }}</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="progress">
                                    <div class="progress-bar bg-primary" role="progressbar" :style="{width: qtyPlans.pct_usados + '%', height: '6px'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="d-flex no-block align-items-center">
                                        <div>
                                            <h3><i class="icon-hourglass"></i></h3>
                                            <p class="text-muted">Restantes</p>
                                        </div>
                                        <div class="ml-auto">
                                            <h2 class="counter text-cyan">{{ qtyPlans.restantes }}</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="progress">
                                        <div class="progress-bar bg-cyan" role="progressbar" :style="{width: qtyPlans.pct_restantes + '%', height: '6px'}" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="d-flex no-block align-items-center">
                                        <div>
                                            <h3><i class="icon-control-pause"></i></h3>
                                            <p class="text-muted">Pedidos en espera</p>
                                        </div>
                                        <div class="ml-auto">
                                            <h2 class="counter text-purple">{{ qtyPlans.cant_pendientes }}</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="progress">
                                        <div class="progress-bar bg-purple" role="progressbar" :style="{width: ((qtyPlans.cant_pendientes > 0)? 100 : 0) + '%', height: '6px'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="d-flex no-block align-items-center">
                                        <div>
                                            <h3><i class="icon-pin"></i></h3>
                                            <p class="text-muted">Planes pendientes</p>
                                        </div>
                                        <div class="ml-auto">
                                            <h2 class="counter text-purple">{{ qtyPlans.cont_pendientes }}</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="progress">
                                        <div class="progress-bar bg-purple" role="progressbar" :style="{width: ((qtyPlans.cant_pendientes > 0)? 100 : 0) + '%', height: '6px'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
                <!-- Card-->
                <%}%>

                <!-- Row -->
                <div class="row">
                    <div class="col-lg-5">
                        <form v-on:submit.prevent="saveOrder(); return false;" enctype="multipart/form-data">
                            <div class="card">
                                <div class="card-header bg-info">
                                    <h4 class="m-b-0 text-white">Formulario de creación de pedido</h4>
                                </div>
                                <div class="card-body">

                                    <h4 class="box-title m-t-10">Información del cliente</h4>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon11"><i class="ti-text"></i></span>
                                                </div>
                                                <input placeholder=" Nombre del cliente *" v-model="dataForm.nameCustomer" type="text" id="nombre" name="nombre" class="form-control"
                                                        required data-validation-required-message="Éste campo es requerido">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon11"><i class="ti-mobile"></i></span>
                                                </div>
                                                <input placeholder="Teléfono del cliente *" v-model="dataForm.phoneCustomer" type="number" id="telefono" name="telefono" class="form-control" required
                                                        data-validation-required-message="Éste campo es requerido">
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div v-if="!dataForm.idaVuelta">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="basic-addon11"><i class="ti-location-pin"></i></span>
                                                    </div>
                                                    <input placeholder="Dirección completa del cliente *" v-model="dataForm.address" type="text" id="direccion" name="direccion" class="form-control" required
                                                            data-validation-required-message="Éste campo es requerido">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="basic-addon11"><i class="ti-map-alt"></i></span>
                                                    </div>
                                                    <input placeholder="Notas adicionales de la dirección" v-model="dataForm.addressNotes" type="text" id="notas_direccion" name="notas_direccion" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% if (locals.usuario.usuario.ida_vuelta) { %>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="controls">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" @change="changeRoundTrip" v-model="dataForm.idaVuelta" name="ida_vuelta"
                                                            id="ida_vuelta">
                                                        <label class="custom-control-label" for="ida_vuelta">Ida y Vuelta (+ $<%= locals.usuario.usuario.valor_ida_vuelta%>)</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <%}%>
                                    <div v-if="dataForm.idaVuelta" class="row">
                                        <draggable 
                                            v-model="listAddress"
                                            class="col-12"
                                            ghost-class="ghost">
                                            <!--<transition-group>-->
                                            <div v-for="(element, key) in listAddress" class="ribbon-vwrapper card m-b-10" style="cursor: move">
                                                <div class="ribbon ribbon-info ribbon-vertical-l font-weight-bold">{{ key + 1 }}</div>
                                                <div class="p-1">
                                                    <p class="ribbon-content mb-1">{{ element.info }}</p>
                                                    <div class="input-group mb-1">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="basic-addon11"><i class="ti-location-pin"></i></span>
                                                        </div>
                                                        <input placeholder="Dirección completa del cliente *" :disabled="element.disabled" v-model="element.name" type="text" id="address" name="address" class="form-control" required>
                                                    </div>
                                                    <div class="input-group mb-1">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="basic-addon11"><i class="ti-map-alt"></i></span>
                                                        </div>
                                                        <input placeholder="Notas adicionales del pedido" :disabled="element.disabled" v-model="element.notes" type="text" id="notas_adicionales" name="notas_adicionales" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </draggable>
                                    </div>

                                    <h4 class="box-title m-t-20">Información requerida</h4>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <div class="controls">
                                                    <div class="input-group bootstrap-touchspin bootstrap-touchspin-injected">
                                                        <span class="input-group-addon bootstrap-touchspin-prefix input-group-prepend"
                                                            data-toggle="tooltip" data-placement="top" title="" data-original-title="Si el pedido ya fue pago en caja o en línea, por favor llenar el campo con el valor CERO (0)">
                                                            <span class="input-group-text"><i class="ti-money"></i></span>
                                                        </span>
                                                        <input placeholder="Valor *" v-model="dataForm.value" type="number" id="valor" name="valor" class="form-control"
                                                        required data-validation-required-message="Éste campo es requerido">
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon11"><i class="ti-bag"></i></span>
                                                </div>
                                                <select class="form-control custom-select" id="maletin" name="maletin" v-model="dataForm.sizeBag">
                                                    <%for (let i = 0; i < maletines.length; i++) {%>
                                                    <option value="<%=maletines[i].id%>"><%=maletines[i].name%> <span class="text-danger"><%=(maletines[i].description)? (maletines[i].description) : ''%></span> </option>
                                                    <%}%>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="custom-control custom-checkbox m-b-0 m-t-10">
                                                    <input type="checkbox" class="custom-control-input" v-model="dataForm.dataphone" name="datafono" id="datafono">
                                                    <span class="custom-control-label">Datáfono</span>
                                                </label>
                                            </div>
                                        </div>
                                        
                                    </div>

                                    <h4 class="box-title m-t-20">Información opcional</h4>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon11"><i class="ti-receipt"></i></span>
                                                </div>
                                                <input placeholder="N° factura" v-model="dataForm.invoice" type="text" id="numero_factura" name="numero_factura" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon11"><i class="ti-pin-alt"></i></span>
                                                </div>
                                                <input placeholder="Notas adicionales del pedido" v-model="dataForm.orderNotes" type="text" id="notas_adicionales" name="notas_adicionales" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <!--/row-->
                                    <div class="form-actions m-t-20">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-4">
                                                        <button type="submit" class="btn btn-lg btn-block btn-success font-medium">Realizar pedido</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>    
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-7 p-b-20">
                        <div class="card card-map">
                            <div class="card-body nopadding">
                                <!--<div id="map" class="gmaps mapheight"></div>-->
                                <google-map :center="centerMap" :zoom="zoomMap" 
                                        ref="gmap" :options="{
                                        zoomControl: true,
                                        mapTypeControl: false,
                                        scaleControl: false,
                                        streetViewControl: false,
                                        rotateControl: false,
                                        fullscreenControl: true,
                                        disableDefaultUi: false
                                    }">
                                    <!--<gmap-cluster>-->
                                    <!--<ground-overlay source="/static/img/only.png" :bounds="{
                                          north: 1.502,
                                          south: 1.185,
                                          east: 104.0262,
                                          west: 103.5998,
                                      }" :opacity="0.5">
                                    </ground-overlay>-->
                                    <gmap-info-window :options="infoOptions" :position="infoWindowPos" :opened="infoWinOpen" @closeclick="infoWinOpen=false, zoomMap=13">
                                        <div v-html="infoOptions.content"></div>
                                    </gmap-info-window>
                                        <google-marker v-for="(m, index) in markers"
                                            :position="m.position"
                                            :clickable="true" :draggable="false"
                                            :icon="m.icon"
                                            :key="index"
                                            @click="centerMapMaker(m, index)">
                                        </google-marker>
                                    <!--</gmap-cluster>-->
                                  </google-map>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end Row -->
                <!-- Row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                Lista de pedidos en curso
                                <div class="card-actions">
                                    <a class="" data-action="collapse"><i class="ti-minus"></i></a>
                                    <a class="btn-minimize" data-action="expand"><i class="mdi mdi-arrow-expand"></i></a>
                                    <!--<a class="btn-close" data-action="close"><i class="ti-close"></i></a>-->
                                </div>
                            </div>
                            <div class="card-body collapse show">
                                <div class="row">
                                    <div class="col-md-4" v-if="orderSelected !== null">
                                        <div :class="{'steamline bounceInLeft animated' : orderSelected !== null}">
                                            <div class="sl-item">
                                                <div class="sl-left bg-success" data-toggle="tooltip" data-placement="top" title="" data-original-title="Información del pedido">
                                                    <i class="ti-package"></i>
                                                </div>
                                                <div class="sl-right">
                                                    <div>
                                                        <span class="font-medium">Orden # {{ listCurrentOrders[orderSelected].orderId }}</span> | {{ listCurrentOrders[orderSelected].typePay.name }} <!--<i :class="listCurrentOrders[orderSelected].typePay.icon"></i>-->
                                                        <span class="sl-date"></span>
                                                    </div>
                                                    <div class="desc"><span :class="listCurrentOrders[orderSelected].color">{{ listCurrentOrders[orderSelected].status }}</span></div>
                                                </div>
                                            </div>
                                            <div class="sl-item">
                                                <div v-if="listCurrentOrders[orderSelected].rider.img === null" class="sl-left bg-info" data-toggle="tooltip" data-placement="top" title="" data-original-title="Información del Rider"><i class="fa fa-motorcycle"></i></div>
                                                <div v-if="listCurrentOrders[orderSelected].rider.img !== null" class="sl-left" data-toggle="tooltip" data-placement="top" title="" data-original-title="Información del Rider"><img class="img-circle" alt="user" :src="listCurrentOrders[orderSelected].rider.img"></div>
                                                <div class="sl-right">
                                                    <div class="font-medium">{{ listCurrentOrders[orderSelected].rider.name ? listCurrentOrders[orderSelected].rider.name :  'Sin Rider' }}</div>
                                                    <div class="desc">{{ (listCurrentOrders[orderSelected].rider.name)? listCurrentOrders[orderSelected].vehicle : 'Aún no tienes un rider asignado.' }}</div>
                                                </div>
                                            </div>
                                            <div class="sl-item">
                                                <div class="sl-left bg-inverse" data-toggle="tooltip" data-placement="top" title="" data-original-title="Dirección de entrega"><i class="fa fa-map-marker-alt"></i></div>
                                                <div class="sl-right">
                                                    <div class="font-medium">{{ listCurrentOrders[orderSelected].address }}</div>
                                                    <div class="desc">{{ (listCurrentOrders[orderSelected].addressNotes && listCurrentOrders[orderSelected].addressNotes !== '')? listCurrentOrders[orderSelected].addressNotes : 'Sin notas en la dirección.' }}</div>
                                                </div>
                                            </div>
                                            <div class="sl-item">
                                                <div class="sl-left bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Información del cliente"><i class="fas fa-user"></i></div>
                                                <div class="sl-right">
                                                    <div class="font-medium">{{ listCurrentOrders[orderSelected].customer.name }}</div>
                                                    <div class="desc">
                                                        <i class="mdi mdi-cellphone"></i> {{ listCurrentOrders[orderSelected].customer.phone }}
                                                        <br><a v-if="listCurrentOrders[orderSelected].status !== 'En proceso'" href="#formMap" class="btn m-t-10 m-r-5 btn-rounded btn-outline-success">Ver en mapa</a>
                                                        <button @click="deleteOrder()" v-if="listCurrentOrders[orderSelected].status === 'En proceso'" href="javascript:void(0)" class="btn m-t-10 btn-rounded btn-outline-danger">Cancelar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div>
                                            <table class="table no-border">
                                                <!--<thead>
                                                    <tr>
                                                        <th>No</th>
                                                        <th>Name</th>
                                                        <th>Email</th>
                                                        <th>Phone</th>
                                                    </tr>
                                                </thead>-->
                                                <tbody>
                                                    <tr v-for="(order, index) in listCurrentOrders" :class="{ 'color-selected' : order.selected}" style="cursor: pointer" @click="selectOrder(index)">
                                                        <td class="font-medium">
                                                            <div class="font-medium">
                                                                <i v-if="order.selected" class="mdi mdi-menu-right ml-10"></i>
                                                                <span>Orden #</span>{{ order.orderId }}
                                                            </div>
                                                        </td>
                                                        <td><i class="far fa-clock"></i> {{ order.time }}</td>
                                                        <td><i class="fa fa-briefcase"></i> {{ order.sizeBag }}</td>
                                                        <td>$ {{ order.value }}</td>
                                                        <td><span :class="order.color">{{ order.status }}</span></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end Row -->
            </div>
        </div>
    <% include ../partials/footer%>
    </div>

    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->

    <%- include('../partials/scripts', {user: locals.usuario}); %>
    <!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKwCnkuKfwRNZUEDhXGDM6FHzsM9AD-Js"></script>
    <script src="/static/dist/js/gmaps.min.js"></script>
    <script src="/static/dist/js/jquery.gmaps.js"></script>-->
    <script src="/static/dist/js/switchery.min.js"></script>

    <!-- CDNJS :: Sortable (https://cdnjs.com/) -->
    <script src="//cdn.jsdelivr.net/npm/sortablejs@1.8.4/Sortable.min.js"></script>
    <!-- CDNJS :: Vue.Draggable (https://cdnjs.com/) -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.20.0/vuedraggable.umd.min.js"></script>

    <script src="/static/dist/js/sweetalert.min.js"></script>
    <script src="/static/dist/js/vue-google-maps.js"></script>
    <script>
        Vue.use(VueGoogleMaps, {
            load: {
                key: 'AIzaSyAKwCnkuKfwRNZUEDhXGDM6FHzsM9AD-Js',
                // region: 'CO',
                // language: 'es',
            },
            // Demonstrating how we can customize the name of the components
            installComponents: true,
        });
        //Vue.use(draggable);
        //document.addEventListener('DOMContentLoaded', function() {
        Vue.component('google-map', VueGoogleMaps.Map);
        Vue.component('google-marker', VueGoogleMaps.Marker);
    
        let makeOrder = new Vue({
                el: '#makeOrder',
                data() {
                    return {
                        /**
                         * Direciones para ida y vuelta
                         */ 
                        listAddress: [],
                        /**
                         * Contadores de planes de pedidos
                         */
                        qtyPlans: {},
                        /**
                         * Lista de pedidos actuales
                         */ 
                        listCurrentOrders: [],
                        /**
                         * Lista de makers de los riders
                         */ 
                        markers: [],
                        zoomMap : 12,
                        /**
                         * Centra el mapa en la pos indicada
                         */
                        centerMap: {
                            lat: JSON.parse('<%= locals.usuario.usuario.latitude %>'),
                            lng: JSON.parse('<%= locals.usuario.usuario.longitude %>')
                        },
                        /**
                         * Pedido seleccionado
                         */
                        orderSelected: null,
                        /**
                         * Datos del formulario
                         */
                        dataForm: {},
                        // Ventana info
                        infoWindowPos: null,
                        infoWinOpen: true,
                        currentMidx: null,
                        infoOptions: {
                            content: '',
                            //optional: offset infowindow so it visually sits nicely on top of our marker
                            pixelOffset: {
                                width: 0,
                                height: -35
                            }
                        },
                    }
                },
                /**
                 * Antes de montar el componente
                 */ 
                beforeMount() {
                    
                    this.getQtyPlanPrepaid();
                    // Carga las ordenes en curso
                    this.chargeCurrentOrders(true);
                    // Inicializa los datos del formulario
                    this.initDataForm();
                },
                mounted() {
                    
                    // console.log('Entra mounted');
                    
                    // Carga los makers de los rides
                    // this.chargeMarkersRider();
                },
                methods: {
                    /**
                     * Detecta cambios de ida y vuelta
                     * @param event Evento de check de ida y vuelta
                     */ 
                    changeRoundTrip(event) {
                        // Valida si se habilita pedido ida y vuelta
                        if (this.dataForm.idaVuelta === true) {
                            // Valida si se ingresaron datos de la direccion del cliente antes de aplicar ida y vuelta
                            if (this.dataForm.address !== null) {
                                // Recorre las direcciones de ida y vuelta
                                this.listAddress.map((address) => {
                                    // Valida si es la direccion del cliente
                                    if (address.id === null) {
                                        // Agrega los datos ya ingresados a la lista de ida y vuelta
                                        address.name = this.dataForm.address;
                                        address.notes = this.dataForm.addressNotes;
                                    }
                                    return address;
                                });
                                this.dataForm.address = null;
                                this.dataForm.addressNotes = null;
                            }
                        } else {
                            // Valida si se ingresaron datos de la direccion del cliente en ida y vuelta
                            if (this.dataForm.address === null) {
                                // Recorre las direcciones de ida y vuelta
                                this.listAddress.map((address) => {
                                    // Valida si es la direccion del cliente
                                    if (address.id === null) {
                                        // Agrega los datos de ida y vuelta a el formulario de direccion de cliente
                                        this.dataForm.address = address.name;
                                        this.dataForm.addressNotes = address.notes;
                                    }
                                    return address;
                                });
                            }
                        }
                    },
                    /**
                     * Obtiene los pedidos en curso de la tienda
                     */ 
                    chargeCurrentOrders(isInit = false) {
                        // Obtiene los pedidos en curso
                        axios({
                            method: 'GET',
                            url: '/tienda/get-current-orders',
                            responseType: 'json',
                            headers: { 'Content-Type': 'application/json' }
                        })
                        .then((res) => {
                            // Organiza los pedidos en curso
                            return res.data.orders.map((order, index) => {
                                return this.makeStructureOrder(order);
                            });
                        })
                        .then((res) => {
                            // Asigna los pedidos en curso obtenidos del servidor
                            this.listCurrentOrders = res;

                            if (this.listCurrentOrders.length === 0) {
                                this.orderSelected = null;
                            }
                            // Carga los makers de los riders
                            this.chargeMarkersRider();
                            // Valida si se cargan las ordenes por primera vez
                            if (isInit && this.listCurrentOrders.length > 0) {
                                this.selectOrder(0);
                            }
                            // Valida si hay pedidos en curso para seleccionar el primero
                            /*if (this.listCurrentOrders.length > 0) {
                                // Selecciona el primer elemento de la lista de pedidos
                                this.selectOrder(0);
                            }*/
                        }).catch((err) => {
                            console.log('Error al obtener la lista de ordenes', err);
                        });
                    },
                    /**
                     * Organiza la estructura de pedidos para la vista
                     *
                     * @param order datos del pedido
                     */ 
                    makeStructureOrder(order) {
                        return {
                            orderId: order.pe_id,
                            typePay: {
                                name: (order.datafono === 'S') ? 'Datáfono' : 'Efectivo',
                                icon: (order.datafono === 'S') ? 'fa fa-credit-card' : 'far fa-money-bill-alt'
                            }, 
                            status: order.estado,
                            color: order.color,
                            rider: {
                                id: order.ri_id,
                                name: order.rider,
                                img: (order.foto_perfil)?
                                    `/static/img/rider/${order.foto_perfil}`
                                    : null,
                                latitude: order.latitude,
                                longitude: order.longitude
                            },
                            vehicle: order.tipo_vehiculo,
                            address: order.direccion,
                            addressNotes: order.notas_direccion,
                            customer: {
                                name: order.nombre_cliente,
                                phone: order.telefono
                            },
                            value: order.valor,
                            sizeBag: order.tam_maletin,
                            time: order.hora,
                            selected: false
                        };
                    },
                    /**
                     * Carga todos lo makers de los riders de los pedidos en curso de la sucursal
                     */ 
                    chargeMarkersRider() {
                        this.markers = [];
                        // console.log('lista de ordenes', this.listCurrentOrders);
                        
                        this.listCurrentOrders.forEach((order) => {
                            // order.selected = false;
                            // console.log('Makers', this.markers);
                            // VAlida si existe un rider asignado al pedido
                            if (order.rider.id) {
                                const find = this.markers.find((maker) => maker.rider === order.rider.id);
                                // Si no hay rider
                                if (find === undefined) {
                                    // Agrega el maker a la lista 
                                    this.markers.push({
                                        icon: {
                                            url: '/static/img/rider.png'
                                        },
                                        position: {
                                            lat: order.rider.latitude,
                                            lng: order.rider.longitude
                                        },
                                        rider: order.rider.id,
                                        order: order.orderId
                                    });
                                }
                            }
                        });
                        
                        // Agrega el maker para la ubicacion de la tienda
                        this.markers.push({
                            icon: {
                                url: '/static/img/tienda/shop2.png',
                                // size: {width: 100, height: 100, f: 'px', b: 'px'},
                                // scaledSize: {width: 50, height: 50, f: 'px', b: 'px'}
                            },
                            position: {
                                lat: Number('<%=JSON.stringify(locals.usuario.usuario.latitude)%>'),
                                lng: Number('<%=JSON.stringify(locals.usuario.usuario.longitude)%>'),
                            }
                        });
                        
                    },
                    /**
                     * Centra el mapa en la posicion del maker seleccionado
                     * @param maker datos del maker
                     * @param index posicion de la lista de pedidos
                     */
                    centerMapMaker(maker, index) {
                        //this.zoomMap = 16;
                        this.toggleInfoWindow(maker, index);
                        this.$refs.gmap.panTo(maker.position);
                    },
                    /**
                     * Muestra el pedido seleccionado el la tabla de pedidos en curso
                     * @param index posicion de la lista de pedidos
                     */ 
                    selectOrder(index) {
                        // Desselecciona todas las ordenes de la lista
                        this.listCurrentOrders.map((order) => {
                            order.selected = false; 
                            return order;
                        });
                        // Selecciona el pedido por el index
                        this.listCurrentOrders[index].selected = true;
                        // Index del pedido selecionado
                        this.orderSelected = index;
                        // Valida si la order ya tiene un rider asignado
                        if (this.listCurrentOrders[index].rider.id) {
                            this.centerMapMaker({
                                order: this.listCurrentOrders[index].orderId,
                                position: {
                                    lat: this.listCurrentOrders[index].rider.latitude,
                                    lng: this.listCurrentOrders[index].rider.longitude
                                }
                            }, index);   
                        } else {
                            // Valida si se debe mostrar la ventana de informacion del maker
                            this.infoWinOpen = !this.infoWinOpen;
                            // Valida si la ventana cierra para reducir zoom
                            if (!this.infoWinOpen) {
                                this.zoomMap = 13
                            }
                        }
                    },
                    /**
                     * Guarda un nuevo pedido
                     */
                    saveOrder() {
                        // Envia peticion de nueva orden
                        axios.post('/tienda/agregarpedido', {
                            nombre: this.dataForm.nameCustomer,
                            telefono: this.dataForm.phoneCustomer,
                            direccion : this.dataForm.address,
                            valor: this.dataForm.value,
                            maletin: this.dataForm.sizeBag,
                            datafono: this.dataForm.dataphone,
                            numero_factura: this.dataForm.invoice,
                            notas_adicionales: this.dataForm.orderNotes,
                            notas_direccion: this.dataForm.addressNotes,
                            ida_vuelta: this.dataForm.idaVuelta,
                            direciones_ida_vuelta: this.listAddress
                        }).then((res) => {
                            // console.info('Pedido realizado', res);
                            // Limpia los datos del formulario
                            this.initDataForm();
                            // Recarga los pedidos en curso
                            //this.chargeCurrentOrders();
                            if (res.data.order) {
                                this.listCurrentOrders.push(this.makeStructureOrder(res.data.order));
                                this.selectOrder(this.listCurrentOrders.length - 1);
                            }

                            // Publica notificacion de eliminacion de pedido
                            $.toast({
                                heading: 'Nuevo pedido',
                                text: `Pedido #${res.data.order.pe_id} creado con éxito`,
                                position: 'bottom-right',
                                loaderBg:'#00c292',
                                icon: 'success',
                                allowToastClose: true,
                                hideAfter: 4000,
                                stack: 6
                            });
                            // Obtiene contadores del plan prepagado
                            this.getQtyPlanPrepaid();

                        }).catch((err) => {
                            // console.error('Error pedido', err, err.response);
                            // Publica notificacion de eliminacion de pedido
                            $.toast({
                                heading: 'Error nuevo pedido',
                                text: err.response.data,
                                position: 'top-right',
                                loaderBg:'#00c292',
                                icon: 'error',
                                allowToastClose: false,
                                hideAfter: 4000,
                                stack: 6
                            });
                        });
                    },
                    /**
                     * Obtiene los contadores de la cantidad de pedidos del plan
                     */ 
                    getQtyPlanPrepaid() {

                        // Obtiene los valores de los planes de la tienda
                        axios.get('/tienda/get-qty-orders-prepaid')
                        .then((res) => {
                            this.qtyPlans = res.data;
                        })
                        .catch((err) => {
                            console.log('Error obtiene cantidad planes', err);
                        });
                    },
                    /**
                     * Inicializa los datos del formulario
                     */ 
                    initDataForm() {
                        this.dataForm = {
                            address: null,
                            nameCustomer: null,
                            phoneCustomer: null,
                            value: null,
                            sizeBag: '',
                            dataphone: false,
                            invoice: '',
                            orderNotes: '',
                            addressNotes: '',
                            idaVuelta: false
                        }
                        this.listAddress = [
                            {
                                id: <%=locals.usuario.usuario.iddireccion%>,
                                info: 'Dirección de la tienda',
                                name: '<%=locals.usuario.usuario.direccion%>',
                                notes: '<%=locals.usuario.usuario.notas%>',
                                disabled: true
                            },
                            {
                                id: null,
                                info: 'Dirección del cliente',
                                name: null,
                                notes: null,
                                disabled: false
                            }
                        ];
                    },
                    /**
                     * Elimina un pedido
                     */
                    deleteOrder() {
                        // Alerta de eliminacion de pedido
                        swal({   
                            title: "¿Seguro que desea eliminar éste elemento?",   
                            text: "Se eliminara éste pedido",   
                            type: "warning",   
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "SI",
                            cancelButtonText: "NO"
                        }).then((value) => {
                            // console.log('Elimina elemento', value, this.orderSelected.orderId);

                            // Verifica si se oprime la opcion positiva
                            if (value.value) {
                                axios.get(`/tienda/cancelarpedido?id=${this.listCurrentOrders[this.orderSelected].orderId}`)
                                .then((response) => {
                                    // Publica notificacion de eliminacion de pedido
                                    $.toast({
                                        heading: 'Información',
                                        text: `Pedido #${this.listCurrentOrders[this.orderSelected].orderId} cancelado`,
                                        position: 'bottom-right',
                                        loaderBg:'#00c292',
                                        icon: 'info',
                                        allowToastClose: true,
                                        hideAfter: false,
                                        stack: 6
                                    });
                                    // Index de pedido eliminado
                                    const orderDelete = this.orderSelected;
                                    // Deselecciona el pedido eliminado
                                    this.orderSelected = null;
                                    // Elimina el pedido de la lista de pedidos
                                    this.listCurrentOrders.splice(this.orderSelected, 1);
                                    
                                    if (this.listCurrentOrders.length > 0) {
                                        
                                        this.selectOrder(orderDelete-1);
                                    }
                                    // this.chargeCurrentOrders();
                                    // Recarga los makers de los riders
                                    this.chargeMarkersRider();

                                    // Obtiene contadores de pedidos para planes prepagados
                                    this.getQtyPlanPrepaid();

                                });
                            }
                            
                        }).catch(err => {
                            console.log('Error al eliminar la alerta', this.listCurrentOrders[this.orderSelected].orderId, err);
                            // this.showToastMessage(true);
                        });
                    },
                    /**
                     * Ventana de informacion del marker
                     */
                    toggleInfoWindow(marker, idx) {
                        // console.log('Entra toggleInfoWindow', marker, idx);
                        if (marker.order) {
                            this.infoWindowPos = marker.position;
                            this.infoOptions.content = '#'+String(marker.order);

                            //check if its the same marker that was selected if yes toggle
                            if (this.currentMidx == idx) {
                                this.infoWinOpen = !this.infoWinOpen;
                                // Valida si la ventana cierra para reducir zoom
                                if (!this.infoWinOpen) {
                                    this.zoomMap = 13
                                }
                            }
                            //if different marker set infowindow to open and reset current marker index
                            else {
                                this.infoWinOpen = true;
                                this.currentMidx = idx;
                            }
                            // Valida si la ventana abre para hacer zoom
                            if (this.infoWinOpen) {
                                this.zoomMap = 15;
                            }
                        }
                    }
                }
            });
        //});    

        //var io = io.connect('/');//wss://admin.traigo.com.co
        //io.on('order_shop', function(data) {
        socket.on('order_shop', (data) => {
            // console.log('>>Entra recargar orden emit', data);
            if (makeOrder.listCurrentOrders.length > 0) {
                makeOrder.selectOrder(0);
            }
            // Carga los pedidos en curso
            makeOrder.chargeCurrentOrders();
            // Obtiene los contadores de pedidos
            makeOrder.getQtyPlanPrepaid();
            //socket.disconnect();
        });

	</script>

</body>

</html>