<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head%>
</head>


<body class="skin-blue fixed-layout">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Traigo</p>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">

        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <% include ../partials/header%>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <% include ../partials/sidebar%>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->

        <div class="page-wrapper">

            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Realizar pedido</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/tienda">Tienda</a></li>
                                <li class="breadcrumb-item active">Realizar pedido</li>
                            </ol>
                        </div>
                    </div>
                </div>

                <!-- Row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header bg-info">
                                <h4 class="m-b-0 text-white">Formulario de creación de pedido</h4>
                            </div>
                            <div class="card-body">
                                <form action="/tienda/agregarpedido" method="POST" enctype="multipart/form-data">
                                    <div class="form-body">
                                        <!--/row-->
                                        <div class="form-group">
                                            <input type="hidden" id="idsucursal" aria-describedby="emailHelp" name = "idsucursal" value = <%=usuario.usuario.idsucursal%>>
                                        </div>
                                        <div class="row">
                                            <!--<div class="col-md-4">
                                                <div class="form-group">
                                                    <h5>Valor <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="number" id="valor" name="valor" class="form-control"
                                                            required data-validation-required-message="Éste campo es requerido">
                                                    </div>
                                                    <small class="form-control-feedback"> Valor del pedido </small>
                                                </div>
                                            </div>-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Tamaño del maletín </h5>
                                                    <div class="controls">
                                                        <select class="form-control custom-select" id="maletin" name="maletin">
                                                            <option selected value="">Cualquier tamaño</option>
                                                            <%for (let i = 0; i < maletines.length; i++) {%>
                                                            <option value="<%=maletines[i].id%>"><%=maletines[i].name%> <span class="text-danger">(<%=maletines[i].description%>)</span> </option>
                                                            <%}%>
                                                        </select>
                                                        <small class="form-control-feedback">
                                                                Seleccione el tamaño del maletín
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>¿Datáfono? </h5>
                                                    <div class="controls">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" name="datafono"
                                                                id="datafono">
                                                            <label class="custom-control-label" for="retenido">Datáfono</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/row-->
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-offset-3 col-md-9">
                                                        <button type="submit" class="btn btn-success">
                                                            <i class="fa fa-check"></i>
                                                            Realizar pedido
                                                        </button>
                                                        <a href="/tienda">
                                                            <button type="button" class="btn btn-inverse">Cancelar</button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6"> </div>
                                        </div>
                                    </div>    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Row -->
            </div>

        </div>

    <% include ../partials/footer%>
    </div>

    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->

    <%- include('../partials/scripts', {user: locals.usuario}); %>

</body>

</html>