<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/head%>
    <link href="/static/dist/css/select2.min.css" rel="stylesheet" />
    <!--<link href="/static/dist/js/icheck/skins/all.css" rel="stylesheet">-->
    <link href="/static/dist/css/daterangepicker.css" rel="stylesheet">
    <link href="/static/dist/css/bootstrap-datepicker.css" rel="stylesheet">
</head>


<body class="skin-blue fixed-layout">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Traigo</p>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">

        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <% include ../../partials/header%>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <% include ../../partials/sidebar%>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->

        <div class="page-wrapper">

            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Asignar plan(es)</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/administrador">Administrador</a></li>
                                <li class="breadcrumb-item"><a href="/administrador/tiendas/<%=tienda.idtienda%>">Tiendas</a></li>
                                <li class="breadcrumb-item"><a href="/administrador/tiendas/<%=tienda.idtienda%>/planes">Planes <%=tienda.nombre%></a></li>
                                <li class="breadcrumb-item active">Asignar plan</li>
                            </ol>
                        </div>
                    </div>
                </div>

                <!-- Row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header bg-info">
                                <h4 class="m-b-0 text-white">Formulario de asignación de planes</h4>
                            </div>
                            <div class="card-body">
                                <form novalidate action="/administrador/tiendas/<%=tienda.idtienda%>/planes/assign" method="POST" enctype="multipart/form-data">
                                    <% include ./fields%>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Row -->
            </div>
        </div>
    <% include ../../partials/footer%>
    </div>

    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->

    <% include ../../partials/scripts%>
    <script src="/static/dist/js/pages/validation.js"></script>
    <script src="/static/dist/js/pages/custom.min.js"></script>
    <script src="/static/dist/js/jqBootstrapValidation.js"></script>
    <script src="/static/dist/js/select2.full.min.js"></script>
    <!--<script src="/static/dist/js/icheck/icheck.min.js"></script>
    <script src="/static/dist/js/icheck/icheck.init.js"></script>-->

    <script src="/static/dist/js/moment.js"></script>
    <script src="/static/dist/js/daterangepicker.js"></script>
    <script src="/static/dist/js/bootstrap-datepicker.min.js"></script>


    <script type = "text/javascript">
        // Verifica la validacion de los campos de nuevo rider
        $("input,select,textarea").not("[type=submit]").jqBootstrapValidation();
        // For select 2
        $(".select2").select2();
    </script>

    
    <script>
        changeExpirable();
        function changeExpirable() {
            const expiredAt = document.getElementById("containerExpiredAt");
            if (document.getElementById("checkExpirable").checked) {
                expiredAt.style.display = "block";
            } else {
                expiredAt.style.display = "none";
            }
        }

        $('.input-daterange-timepicker').daterangepicker({
            //            timePicker: true,
            format: 'YYYY-MM-DD HH:mm',
            timePickerIncrement: 1,
            timePicker24Hour: true,
            timePickerSeconds: true,
            buttonClasses: ['btn', 'btn-sm'],
            applyClass: 'btn-danger',
            cancelClass: 'btn-inverse'
        });
    </script>
</body>

</html>