
<div class="form-body">
    <!--/row-->
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="checkExpirable" name="vencible"  onchange="changeExpirable()">
                    <label class="custom-control-label" for="checkExpirable">Plan vencible</label>
                </div>
                <small class="form-control-feedback">Seleccione para asignar plan vencible.</small>
            </div>
        </div>
        <div class="col-md-6" id="containerExpiredAt">
            <div class="form-group">
                <div class="controls">
                    <input type="number" class="form-control" name="dias_habilitados" required/>
                </div>
                <small class="form-control-feedback">Ingrese los días de duración del plan asignar.</small>
            </div>
        </div>
    </div>
    <!--/row-->
    <div class="row">
        <div class="col-md-7">
            <div class="form-group">
                <h5>Tipo de plan <span class="text-danger">*</span></h5>
                <div class="controls">
                    <select class="form-control custom-select select2" id="plan" name="plan"
                        required>
                        <%for (let i = 0; i < planes.length; i++) {%>
                        <option value="<%=planes[i].id%>"><%=planes[i].nombre%>   |   # <%=planes[i].num_pedidos%>   |   $ <%=planes[i].precio%></option>
                        <%}%>
                    </select>
                    <small class="form-control-feedback">
                        Nombre | Cantidad de pedidos | Precio
                    </small>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <h5>Pedidos adicionales</h5>
                <div class="controls">
                    <input type="number" id="adicionales" name="adicionales" class="form-control">
                </div>
                <small class="form-control-feedback">Cantidad de pedidos adicionales asignados al plan seleccionado.</small>
            </div>
        </div>
    </div>
</div>
<!--/row-->
<div class="form-actions">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn btn-success">
                        <i class="fa fa-check"></i>
                        Guardar
                    </button>
                    <a href="/administrador/tiendas/<%=tienda.idtienda%>/planes">
                        <button type="button" class="btn btn-inverse">Cancelar</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6"> </div>
    </div>
</div>
