<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/head%>
    <link href="/static/dist/css/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="/static/dist/css/sweetalert.css" rel="stylesheet">
</head>


<body class="skin-blue fixed-layout">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Traigo</p>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">

        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <% include ../../partials/header%>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <% include ../../partials/sidebar%>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->

        <div class="page-wrapper">

            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid" id="app">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Planes de <%=tienda.nombre%></h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/administrador">Administrador</a>
                                </li>
			                    <li class="breadcrumb-item">
                                    <a href="/administrador/tiendas/<%=tienda.idtienda%>">Tiendas</a>
                                </li>
                                <li class="breadcrumb-item active">Planes</li>
                            </ol>
                            <a href="/administrador/tiendas/<%=tienda.idtienda%>/planes/assign">
                                <button type="button" class="btn btn-info d-none d-lg-block m-l-15">
                                    <i class="fa fa-plus-circle"></i>
                                    Asignar plan
                                </button>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row" >
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <%if(info == "eliminated"){%>
                                <div class="alert alert-info alert-rounded">
                                    <i class="ti-user"></i>
                                    Se ha eliminado el plan
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <%}else if(info == "full"){%>
                                <div class="alert alert-warning alert-rounded">
                                    <i class="ti-user"></i>
                                    No se pueden asignar mas planes, ya tiene un plan pendiente.
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <%}else if(info == "err"){%>
                                <div class="alert alert-danger alert-rounded">
                                    <i class="ti-user"></i>
                                    Ha ocurrido un error en la operacion
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <%}else if(info == "not_found"){%>
                                <div class="alert alert-danger alert-rounded">
                                    <i class="ti-user"></i>
                                    No se encuentra el elemento
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <%}else if(info == "update"){%>
                                    <div class="alert alert-success alert-rounded">
                                        <i class="ti-user"></i>
                                        Plan actualizado con éxito
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                <%}%>
                                <h4 class="card-title">Lista de planes de tienda</h4>
                                <div class="table-responsive m-t-40" >
                                    <table id="tbl_planes" class="table table-bordered table-striped" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Nombre</th>
                                                <th>Precio</th>
                                                <th># pedidos plan</th>
                                                <th>Disponibles</th>
                                                <th>Usados</th>
                                                <th>Adicionales</th>
                                                <th>Es vencible</th>
                                                <th>Fechas de duración</th>
                                                <th>Tipo</th>
                                                <th>Estado</th>
                                                <th>Historial</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>ID</th>
                                                <th>Nombre</th>
                                                <th>Precio</th>
                                                <th># pedidos plan</th>
                                                <th>Disponibles</th>
                                                <th>Usados</th>
                                                <th>Adicionales</th>
                                                <th>Es vencible</th>
                                                <th>Fechas de duración</th>
                                                <th>Tipo</th>
                                                <th>Estado</th>
                                                <th>Historial</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <%for(let i = 0; i < planes.length; i++){%>
                                            <tr>
                                                <td>
                                                    <%=i+1%>
                                                </td>
                                                <td>
                                                    <%=planes[i].nombre%>
                                                </td>
                                                <td>
                                                    $ <%=planes[i].precio%>
                                                </td>
                                                <td>
                                                    <%=planes[i].num_pedidos%>
                                                </td>
                                                <td>
                                                    <%=planes[i].disponibles%>
                                                </td>
                                                <td>
                                                    <%=planes[i].usados%>
                                                </td>
                                                <td>
                                                    <%=planes[i].adicionales%>
                                                </td>
                                                <td>
                                                    <%=planes[i].vencible == 1? 'Si' : 'No'%>
                                                </td>
                                                <td>
                                                    <%if (planes[i].vencible == 1) {%>
                                                        <span class="label label-primary"><%=planes[i]['dias_habilitados']%> días</span>
                                                        <span class="label label-info"><%=planes[i].fecha_inicio%> - <%=planes[i]['fecha_vencimiento']%></span>
                                                    <%}%>
                                                </td>
                                                <td>
                                                    <%=planes[i].tipo%>
                                                </td>
                                                <td>
                                                    <span class="label label-info"><%=planes[i].estado%></span>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-success btn-rounded m-t-10 float-right" data-toggle="tooltip" title="Visualiza el historial de solicitudes para <%=planes[i].nombre%>"
                                                    onclick="getHistory(<%=planes[i].id%>, <%=tienda.idtienda%>, '<%=planes[i].nombre%>')">Ver historial</button>
                                                </td>
                                                <td class="row">

                                                    <%if (planes[i].estado != ('Pendiente' || 'Cancelado') && !(planes[i].historial > 0) ) {%>
                                                    <button type="button" class="btn btn-success btn-rounded m-t-10 float-right" 
                                                    data-toggle="modal" data-target="#modal<%=i%>">Renovar</button>
                                                    
                                                    <!-- sample modal content -->
                                                    <div class="modal fade bs-example-modal-sm" id="modal<%=i%>"
                                                        tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
                                                        aria-hidden="true" style="display: none;">
                                                        <div class="modal-dialog modal-md">
                                                            <div class="modal-content">
                                                                <form id="form-renew<%=i%>" action="#" onsubmit="event.preventDefault(); renew(<%=i%>, <%=planes[i].id%>);" >
                                                                    <div class="modal-header">
                                                                        <h4 class="modal-title" id="mySmallModalLabel">Renovar</h4>
                                                                        <button type="button" class="close" data-dismiss="modal"
                                                                            aria-hidden="true">×</button>
                                                                    </div>
                                                                    <div class="modal-body col-md-12">
                                                                        <p>
                                                                            ¿Seguro que desea renovar éste plan?
                                                                        </p>
                                                                        <div class="col-md-12">
                                                                            
                                                                            <% if (planes[i].tipo != 'Ilimitado') {%>
                                                                            <div class="form-group">
                                                                                <h5>Pedidos adicionales</h5>
                                                                                <div class="controls">
                                                                                    <input type="number" id="adicionales<%=i%>" name="adicionales<%=i%>" class="form-control">
                                                                                </div>
                                                                                <small class="form-control-feedback">Cantidad de pedidos adicionales asignados al plan a renovar.</small>
                                                                            </div>
                                                                            <%}%>
                                                                            <% if (planes[i].vencible == 1) {%>
                                                                            <div class="form-group">
                                                                                <h5>Dias habilitados<span class="text-danger">*</span></h5>
                                                                                <div class="controls">
                                                                                    <input type="number" id="dias_habilitados<%=i%>" name="dias_habilitados<%=i%>" class="form-control" required>
                                                                                </div>
                                                                                <small class="form-control-feedback">Cantidad de dias habilitados.</small>
                                                                            </div>
                                                                            <%}%>
                                                                        </div>
                                                                    
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-danger btn-circle" data-dismiss="modal">
                                                                            <i class="fa fa-times"></i>
                                                                        </button>
                                                                        <a>
                                                                            <button type="submit" class="btn btn-rounded btn-block btn-outline-success" >
                                                                                Aceptar
                                                                            </button>
                                                                        </a>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <!-- /.modal-content -->
                                                        </div>
                                                        <!-- /.modal-dialog -->
                                                    </div>

                                                    <%} else if (planes[i].historial > 0 && planes[i].estado == 'Activo' ) {%>
                                                        <p>El plan ya cuenta con una renovacion, la renovación se activará cuando se termine la actual.</p>
                                                    <%}%>
                                                </td>
                                            </tr>
                                            <%}%>
                                        </tbody>
                                    </table>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- use the modal component, pass in the prop -->
                <div class="modal fade bs-example-modal-lg" id="modalHistory" role="dialog"
                    tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="mySmallModalLabel">Historial de {{ planName }}</h4>
                                <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true">×</button>
                            </div>
                            <div class="modal-body">
                                <div class="table-responsive ">
                                    <table class="table  table-striped">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th># de pedidos</th>
                                                <th>Adicionales</th>
                                                <th>Estado</th>
                                                <th>Vencible</th>
                                                <th>Dias habilitados</th>
                                                <th>Fecha de inicio</th>
                                                <th>Fecha de vencimento</th>
                                                <th>Fecha de creación</th>
                                                <th>Última actualización</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>#</th>
                                                <th># de pedidos</th>
                                                <th>Adicionales</th>
                                                <th>Estado</th>
                                                <th>Vencible</th>
                                                <th>Dias habilitados</th>
                                                <th>Fecha de inicio</th>
                                                <th>Fecha de vencimento</th>
                                                <th>Fecha de creación</th>
                                                <th>Última actualización</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <tr v-for="(item, index) in listHistory">
                                                <td>{{ index + 1 }}</td>
                                                <td>{{ item.cant_pedidos }}</td>
                                                <td>{{ item.adicionales }}</td>
                                                <td>{{ item.estado }}</td>
                                                <td>{{ item.vencible == 1? 'Si' : 'No' }}</td>
                                                <td>{{ item.dias_habilitados }}</td>
                                                <td>{{ item.fecha_inicio }}</td>
                                                <td>{{ item.fecha_vencimiento }}</td>
                                                <td>{{ item.createdAt }}</td>
                                                <td>{{ item.updatedAt }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                <!-- /.modal-dialog -->
                </div>
            </div>
            
        </div>
<% include ../../partials/footer%>
    </div>

    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->

    <% include ../../partials/scripts%>
    
    <script src="/static/dist/js/datatables.min.js"></script>
    <script src="/static/dist/js/sweetalert.min.js"></script>

    <!--stickey kit -->
    <script src="/static/dist/js/sticky-kit.min.js"></script>

    <!-- start - This is for export functionality only -->
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
    <!-- end - This is for export functionality only -->

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    

    <script>
        let vue = new Vue({
            el: '#app',
            data: {
                // Lista de historial de seguimineot del plan
                listHistory: [],
                // Nombre del plan
                planName: ''
            },
            methods: {
                /**
                 * Obtiene el historial de planes por tienda
                 */
                getHistory(plan_id, tienda_id, nombre_plan) {
                    axios({
                        method: 'GET',
                        url: `/administrador/get-history-tp?plan_id=${plan_id}&tienda_id=${tienda_id}`,
                        responseType: 'json',
                        headers: { "Content-Type": "application/json" }
                    })
                    .then(htp => {
                        console.log('Datos obtenidos', htp);
                        this.planName = nombre_plan;
                        this.listHistory = htp.data;
                        //this.show = true;
                    })
                    .catch(err => {
                        console.err('Error al obtener los datos', err);
                    });   
                }
            }
        });

        /**
         * Obtiene el historial de planes de tienda y lo visualiza en tabla
         */
        async function getHistory(plan_id, tienda_id, nombre_plan) {
            // Obtiene el historial de planes
            await vue.getHistory(plan_id, tienda_id, nombre_plan);
            // Abre el modal de historial
            $('#modalHistory').modal();
        }

    </script>

    <script>

        /**
         * Permite renovar el plan de la tienda
         **/
        function renew (index, plan_id) {
            // Obtiene el elemento del id
            let adicionales = document.getElementById(`adicionales${index}`)? document.getElementById(`adicionales${index}`).value : 0;
            // Datos de envio de renovacion
            const data = {
                adicionales
            };
            // Lista de planes
            const planes = JSON.parse('<%-JSON.stringify(planes)%>');
            // Valida si el plan a renovar es vencible
            if (planes[index].vencible == 1) {
                data.dias_habilitados = document.getElementById(`dias_habilitados${index}`).value;
            }
            // Envia informacion de renovacion
            axios({
                method:'POST',
                url:`/administrador/tiendas/<%=tienda.idtienda%>/planes/${plan_id}/renew`,
                responseType:'json',
                headers: { "Content-Type": "application/json" },
                data
            }).then(res => {
                let response = res.data;
                // Cierra modal
                $(`#modal${index}`).modal('toggle');
                // Valida el estado de la peticion
                if (response.state) {
                    swal("Renovación", response.msg, "success")
                    .then(() => {
                        // Recarga pagina
                        location.reload();
                    })
                } else {
                    swal("Renovación", response.msg, "error");
                }
            })
            .catch(err => {
                swal("Error", err, "error");
            });

        }

        /**
         * Renueva un plan asignado a la tienda
         */
        function renwePlan(plan) {
            swal({   
                title: "¿Seguro que desea renovar éste plan?",   
                text: "Se sumarán los servicios al que tiene actualemte.",   
                type: "warning",   
                showCancelButton: true,   
                confirmButtonColor: "#DD6B55",   
                confirmButtonText: "SI",
                cancelButtonText: "NO",
                closeOnConfirm: false
            })
            .then((value) => {
                if (value.value) {
                    fetch(`/administrador/plan/renew`)
                    .then((res) => {
                        return res.json();
                    })
                    .then((json) => {
                        const msg = json.msg;
                        $.toast({
                            heading: 'Planes',
                            text: msg,
                            position: 'top-right',
                            loaderBg:'#ff6849',
                            icon: 'info',
                            hideAfter: 3000, 
                            stack: 6
                        });
                    })
                    .catch(err => {
                        console.err('Error al renovar plan', err);
                    });
                }
            });
        }

            // Tabla Riders
            var tbl_planes = $('#tbl_planes').DataTable({
                orderCellsTop: true,
                fixedHeader: true,
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ],
                language: {
                    url: "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json",
                }
            });
            tbl_planes.columns.adjust().draw();
    
            $('#tbl_planes thead tr').clone(true).appendTo('#tbl_planes thead');

            $('#tbl_planes thead tr:eq(1) th').each(function (i) {
                var title = $(this).text();
                if (!(i === 0 || i === 9 || i === 10)) {
                    $(this).html('<input class="form-control" type="text" placeholder="Buscar ' + title + '" />');
                    $('input', this).on('keyup change', function () {
                        if (tbl_planes.column(i).search() !== this.value) {
                            tbl_planes
                                .column(i)
                                .search(this.value)
                                .draw();
                        }
                    });
                }
            });
    
            $('.buttons-copy, .buttons-csv, .buttons-print, .buttons-pdf, .buttons-excel')
                .addClass('btn btn-primary mr-1');

    </script>

</body>

</html>