<!DOCTYPE html>
<html>
<head>
	<title>Traigo</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
	<link rel = "stylesheet" href="/static/css/app.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
	<script type='text/javascript' src="/socket.io/socket.io.js"></script>
</head>
<body>
	<%- include nav%>
	<div class = "container pt-4 pb-4">

		<%if(info == "eliminated"){%>
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
			<strong>Informacion!</strong> Se ha cancelado el pedido
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<%}else if(info == "err"){%>
		<div class="alert alert-danger alert-dismissible fade show" role="alert">
			<strong>Error!</strong> Ha ocurrido un error en la operacion
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<%}else if(info == "correct"){%>
		<div class="alert alert-success alert-dismissible fade show" role="alert">
			<strong>Correcto!</strong> Pedido realizado correctamente
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<%}%>


		<div class = "row">
			<h2 class = "col-12 titulo">Pedidos</h1>
			</div>

			<table class="table table-light table-hover">
				<thead>
					<tr>
						<th scope="col">Valor</th>
						<th scope="col">Cliente</th>
						<th scope="col">Teléfono</th>
						<th scope="col">Datáfono</th>
						<th scope="col">Fecha</th>
						<th scope="col">Estado</th>
						<th scope="col">Cancelar</th>

					</tr>
				</thead>
				<tbody>

					<div class = "row">
						
							<%for(var i = 0; i < pedidos.length; i++){%>
							<tr on>
								<td><a href = "/tienda/pedido?id=<%=pedidos[i].idpedido_empresarial%>"><%=pedidos[i].valor%></a></td>
								<td><%=pedidos[i].nombre_cliente%></td>
								<td><%=pedidos[i].telefono%></td>
								<td><%=pedidos[i].datafono%></td>
								<td><%=pedidos[i].fecha%></td>
								<td><%=pedidos[i].estado%></td>
								<td>

									<%if(pedidos[i].idriders == null){%>	

									<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal<%=i%>">
										Cancelar
									</button>

									<div class="modal fade" id="modal<%=i%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
										<div class="modal-dialog" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="exampleModalLabel">Cancelar pedido</h5>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<div class="modal-body">
													¿Desea cancelar el pedido?
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
													<a class = "btn btn-primary" href="/tienda/cancelarpedido?id=<%=pedidos[i].idpedido_empresarial%>">Cancelar pedido</a>
												</div>
											</div>
										</div>
									</div>

									<%}else{%>
										<p class = "tituloblack">No puede cancelar este pedido</p>
									<%}%>

								</td>
							</tr>
							<%}%>
							
							
						
					</div>

				</tbody>
			</table>
		</div>

	</body>
	</html>

