<!DOCTYPE html>
<html>
<head>
	<title>Traigo</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
	<link rel = "stylesheet" href="/static/css/app.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
	<script type='text/javascript' src="/socket.io/socket.io.js"></script>
</head>
<body>
	<%- include nav%>
	<div class = "container pt-4 pb-4">

		<%if(info == "eliminated"){%>
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
			<strong>Informacion!</strong> Se ha cancelado el pedido
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<%}else if(info == "err"){%>
		<div class="alert alert-danger alert-dismissible fade show" role="alert">
			<strong>Error!</strong> Ha ocurrido un error en la operacion
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<%}else if(info == "correct"){%>
		<div class="alert alert-success alert-dismissible fade show" role="alert">
			<strong>Correcto!</strong> Pedido realizado correctamente
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<%}%>


			<div class = "row">
				<h2 class = "col-12 titulo">Pedidos Traigo</h1>
			</div>

			<table class="table table-light table-hover">
				<thead>
					<tr>
						<th scope="col">ID pedido</th>
						<th scope="col">Rider</th>
						<th scope="col">Fecha</th>
						<th scope="col">Estado</th>
					
					</tr>
				</thead>
				<tbody>

					<div class = "row">
						
							<%for(var i = 0; i < pedidos.length; i++){%>
							<tr on>
								<td><a href = "/tienda/pedidotraigo?id=<%=pedidos[i].idpedido_clientes%>"><%=pedidos[i].idpedido_clientes%></a></td>
								<td><%=pedidos[i].nombre%> <%=pedidos[i].apellido%> - <%=pedidos[i].telefono%></td>
								<td><%=pedidos[i].fecha%></td>
								<td><%=pedidos[i].estado%></td>
							</tr>
							<%}%>
							
							
						
					</div>

				</tbody>
			</table>
		</div>

	</body>
	</html>

