<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="/tienda">Tienda</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">

			<li class="nav-item">
				<a class="nav-link" href="/tienda/productos">Productos</a>
			</li>

			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Pedidos
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="nav-link" href="/tienda/realizarpedido">Realizar pedido</a>
					<a class="nav-link" href="/tienda/listapedidos">Lista de pedidos</a>
					<div class="dropdown-divider"></div>
					<a class="nav-link" href="/tienda/listatraigo">Lista Traigo</a>
				</div>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="/tienda/historial">Historial de pedidos</a>
			</li>
		</ul>
		<a class = "navbar-text" href="/tienda/cerrarsesion"  style="text-decoration: none">Cerrar sesión</a>
	</div>
</nav>