<!DOCTYPE html>
<html>
<head>
	<title>Traigo</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
	<link rel = "stylesheet" href="/static/css/app.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
	<style>
	  /* Always set the map height explicitly to define the size of the div
	  * element that contains the map. */
	  #map {
	  	height: 400px;
	  }
	</style>
</head>
<body>
	
	<%-include nav%>

	<div class = "container pt-5 justify-content-center align-middle">
		<div class = "row">
			<div class = "col-6">
				<div class = "row">
					<h2 class = "col-12 titulo">Pedidos Traigo</h2>
				</div>

				<table class="table table-light table-hover">
					<thead>
						<tr>
							<th scope="col">ID producto</th>
							<th scope="col">Nombre</th>
							<th scope="col">Valor simple</th>
							<th scope="col">Ver</th>

						</tr>
					</thead>
					<tbody>

						<div class = "row">

							<%for(var i = 0; i < productos.length; i++){%>
							<tr on>
								<td><%=productos[i].idproducto%></td>
								<td><%=productos[i].nombre%></td>
								<td><%=productos[i].precio%></td>
								<td><button onClick = "renderizarProducto(<%=productos[i].id%>)" type="button" class="btn btn-primary">Ver</button></td>
							</tr>
							<%}%>



						</div>

					</tbody>
				</table>

				<div class = "row">
					<h4 class = "col-12 titulo">Cobrar al Rider: $<%=total%></h4>
				</div>

			</div>

			<div class = "col-6">
				<h4 class = "titulo">Personalización</h4>
				<ul id = "selecciones" class = "list-group">
				</ul>
				<br>

				<h4 class = "titulo">Quitar</h4>
				<ul id = "elementos" class = "list-group">
				</ul>
				<br>

				<h4 class = "titulo">Adiciones</h4>
				<ul id = "adiciones" class = "list-group">
				</ul>

			</div>
		</div>
		<br>
		<br>
	</div>

	<script type='text/javascript' src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKwCnkuKfwRNZUEDhXGDM6FHzsM9AD-Js&sensor=true">
	</script>

	<script>

		var io = io.connect('/', {'forceNew':true});
		//io.emit('productotienda', {idproducto: <%=productos[0].id%>});
		function renderizarProducto(id){
			io.emit('productotienda', {idproducto: id});
		}

		io.on('renderproducto', (data) => {

			var elementos = document.getElementById("elementos");
			elementos.innerHTML = "";
			for(var i = 0; i < data.elementos.length; i++){
				elementos.innerHTML += '<li class = "list-group-item">' + data.elementos[i].nombre + (data.elementos[i].precio != 0 ? ' +$' + data.elementos[i].precio : '') + '</li>';
			} 

			var selecciones = document.getElementById("selecciones");
			selecciones.innerHTML = "";
			for(var i = 0; i < data.selecciones.length; i++){
				selecciones.innerHTML += '<li class = "list-group-item">' + data.selecciones[i].nombrefactor + ': ' + data.selecciones[i].nombre + (data.selecciones[i].precio != 0 ? ' +$' + data.selecciones[i].precio : '') + '</li>';
			}

			var adiciones = document.getElementById("adiciones");
			adiciones.innerHTML = "";
			for(var i = 0; i < data.adiciones.length; i++){
				adiciones.innerHTML += '<li class = "list-group-item">' + data.adiciones[i].nombre + (data.adiciones[i].precio != 0 ? ' +$' + data.adiciones[i].precio : '') + '</li>';
			} 
		});
		
	</script>

</body>
</html>