<!DOCTYPE html>
<html>
<head>
	<title>Traigo</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
	<link rel = "stylesheet" href="/static/css/app.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
	<style>
	  /* Always set the map height explicitly to define the size of the div
	   * element that contains the map. */
	  #map {
		height: 400px;
	  }
	</style>
</head>
<body>
	
	<%-include nav%>

	<div class = "container pt-5 justify-content-center align-middle">
		<div class = "row">
			<div class = "col-5">
				<div class = "row">
					<h5 class = "col-12 titulo">Valor del pedido: <%=pedido.valor%></h5>
				</div>

				<div class = "row">
					<h5 class = "col-12 titulo">Dirección de entrega: <%=pedido.direccionpedido%> | <%=pedido.notasdireccionpedido%></h5>
				</div>

				<div class = "row">
					<h5 class = "col-12 titulo">Nombre del cliente: <%=pedido.nombre_cliente%></h5>
				</div>

				<div class = "row">
					<h5 class = "col-12 titulo">Teléfono del cliente: <%=pedido.telefono%></h5>
				</div>

				<div class = "row">
					<h5 class = "col-12 titulo">Nombre del rider: <%=pedido.nombrerider%></h5>
				</div>

				<div class = "row">
					<h5 class = "col-12 titulo">Teléfono del rider: <%=pedido.telefonorider%></h5>
				</div>

				<div class = "row">
					<h5 class = "col-12 titulo">Datáfono: <%=(pedido.datafono == 'S' ? 'Si' : 'No')%></h5>
				</div>

				<div class = "row">
					<h5 class = "col-12 titulo">Estado: <%=pedido.estado%></h5>
				</div>
			</div>

			<div class = "col-7">
				<div class = "row">
					<h2 class = "col-12 titulo">Ubicación del Rider</h1>
				</div>

				<div id="map" class = "map"></div>
			</div>
		</div>
		<br>
		<br>
	</div>

	<script type='text/javascript' src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKwCnkuKfwRNZUEDhXGDM6FHzsM9AD-Js&sensor=true">
	</script>

	<script>

		var io = io.connect('/', {'forceNew':true});
		
		var markerOption = {center: new google.maps.LatLng(4.534440, -75.675830)}

		var marker = new google.maps.Marker({
			position: markerOption.center,
			map: null,
			title: markerOption.center
		});

		io.on("actualizarRider", function(data){
			if(data != null){
				var rider = data[0];
				markerOption.center = new google.maps.LatLng(rider.latitude, rider.longitude);
				agregarMarker();
			}
			setTimeout(function(){io.emit("rider", {idrider: <%=pedido.idrider%>})}, 3000);
		});


		var map;

		var myOptions = {
			center: new google.maps.LatLng(4.534440, -75.675830),
			zoom: 14,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};

		

		function initialize() {
			map = new google.maps.Map(document.getElementById("map"),myOptions);
			io.emit("rider", {idrider: <%=pedido.idrider%>});
		}

		function agregarMarker(){
			marker.setPosition(markerOption.center);
			marker.setMap(map);
		}

		google.maps.event.addDomListener(window, 'load', initialize);
	</script>

</body>
</html>