<!DOCTYPE html>
<html>
<head>
	<title>Traigo</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
	<link rel = "stylesheet" href="/static/css/app.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
	<script type='text/javascript' src="/socket.io/socket.io.js"></script>
</head>
<body>
	<%- include nav%>
	<div class = "container pt-4 pb-4">

		<%if(info == "eliminated"){%>
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
			<strong>Informacion!</strong> Se ha eliminado la categoria
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<%}else if(info == "err"){%>
		<div class="alert alert-danger alert-dismissible fade show" role="alert">
			<strong>Error!</strong> Ha ocurrido un error en la operacion
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<%}else if(info == "correct"){%>
		<div class="alert alert-success alert-dismissible fade show" role="alert">
			<strong>Correcto!</strong> categoria agregada con éxito
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<%}%>


		<div class = "row">
			<h2 class = "col-12 titulo">Realizar pedido</h2>
		</div>

		<div class = "row">
			<form class = "form-login col-6" action = "/tienda/agregarpedido" method = "POST" enctype= multipart/form-data>

				<div class = "row">
					<h3 class = "col-12 titulo">Información del pedido</h3>
				</div>

				<div class="form-group">
					<input type="hidden" id="idsucursal" aria-describedby="emailHelp" name = "idsucursal" value = <%=usuario.usuario.idsucursal%>>
				</div>

				<div class="form-group">
					<input type="number" class="form-control" id="valor" aria-describedby="emailHelp" placeholder="* Valor del pedido" name = "valor" required>
				</div>


				<div class="form-group">
					<input type="text" class="form-control" id="numero_factura" aria-describedby="emailHelp" placeholder="Número de factura" name = "numero_factura">
				</div>

				<div class="form-group">
					<input type="text" class="form-control" id="notas_adicionales" aria-describedby="emailHelp" placeholder="Notas adicionales" name = "notas_adicionales">
				</div>

				<div class="form-check mb-2">
					<input type="checkbox" class="form-check-input" id="datafono" name = "datafono">
					<label class="form-check-label titulo" for="datafono">Datáfono</label>
				</div>

				<div class = "row">
					<h3 class = "col-12 titulo">Información del cliente</h3>
				</div>

				<div class="form-group">
					<input type="text" class="form-control" id="nombre" aria-describedby="emailHelp" placeholder="* Nombre" name = "nombre" required>
				</div>

				<div class="form-group">
					<input type="number" class="form-control" id="telefono" aria-describedby="emailHelp" placeholder="* Telefono" name = "telefono" required>
				</div>

				<div class="form-group">
					<input type="text" class="form-control" id="direccion" aria-describedby="emailHelp" placeholder="* Dirección" name = "direccion" required>
				</div>

				<div class="form-group">
					<input type="text" class="form-control" id="notas_direccion" aria-describedby="emailHelp" placeholder="Notas de la dirección" name = "notas_direccion">
				</div>

				<button type="submit" class="btn btn-light btn-block btn-form">Realizar pedido</button>
			</form>
		</div>

	</div>

</body>
</html>