<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/head%>
    <link href="/static/dist/css/pages/google-vector-map.css" rel="stylesheet">
    <link href="/static/dist/css/jquery-clockpicker.min.css" rel="stylesheet">
</head>


<body class="skin-blue fixed-layout">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Traigo</p>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">

        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <% include ../../partials/header%>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <% include ../../partials/sidebar%>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->

        <div class="page-wrapper">

            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Crear sucursal</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0)">Administrador</a></li>
                                <li class="breadcrumb-item">Sucursales</li>
                                <li class="breadcrumb-item active">Crear sucursal</li>
                            </ol>
                        </div>
                    </div>
                </div>

                <!-- Row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header bg-info">
                                <h4 class="m-b-0 text-white">Formulario de creación de sucursal</h4>
                            </div>
                            <div class="card-body">
                                <form novalidate action="/administrador/sucursales" method="POST" enctype=multipart/form-data>
                                    <% include ./fields%>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Row -->
            </div>
        </div>
<% include ../../partials/footer%>
    </div>

    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->

    <% include ../../partials/scripts%>
    <script src="/static/dist/js/pages/validation.js"></script>
    <script src="/static/dist/js/pages/custom.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKwCnkuKfwRNZUEDhXGDM6FHzsM9AD-Js"></script>
    <script src="/static/dist/js/gmaps.min.js"></script>
    <script src="/static/dist/js/jquery.gmaps.js"></script>

    <!-- Clock Plugin JavaScript -->
    <script src="/static/dist/js/jquery-clockpicker.min.js"></script>

    <script type = "text/javascript">
    // Verifica la validacion de los campos al editar una sucursal
    $("input,select,textarea").not("[type=submit]").jqBootstrapValidation();
    $('.clockpicker').clockpicker({
            donetext: 'OK',
        }).find('input').change(function() {
            console.log(this.value);
        });
    </script>
    
    <script>
        var map;
        var geocoder;
        var marker;

        function initialize() {
            var myOptions = {
                center: new google.maps.LatLng(4.534440, -75.675830),
                zoom: 14,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            geocoder = new google.maps.Geocoder();

            var map = new google.maps.Map(
                document.getElementById("map"),
                myOptions
            );

            google.maps.event.addListener(map, 'click', function(event) {
                placeMarker(event.latLng);
            });

            function toggleBounce() {
                if (marker.getAnimation() !== null) {
                    marker.setAnimation(null);
                } else {
                    marker.setAnimation(google.maps.Animation.BOUNCE);
                }
            }

            function placeMarker(location) {
                if (marker) {
                    marker.setPosition(location);
                } else {
                    marker = new google.maps.Marker({
                        position: location, 
                        map: map,
                        draggable: true
                    });
                    marker.addListener('click', toggleBounce);
                }
                getAddress(location);
            }

            function getAddress(latLng) {

                document.getElementById("latitude").value = latLng.lat();
                document.getElementById("longitude").value = latLng.lng();

                geocoder.geocode({'latLng': latLng }, function(results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        if (results[0]) {
                            document.getElementById("direccion").value = results[0].formatted_address;
                        } else {
                            document.getElementById("direccion").value = "No results";
                        }
                    } else {
                        document.getElementById("direccion").value = status;
                    }
                });
            }
        }
        google.maps.event.addDomListener(window, 'load', initialize);

    </script>
    
    <script type = "text/javascript">
        var io = io.connect('/', {'forceNew':true});
        var spaises = document.getElementById('pais');
        var sdep = document.getElementById("departamento");
        var smun = document.getElementById("ciudad");

        var scategoria = document.getElementById("categoria");
        var stienda = document.getElementById("tienda");
        spaises.setAttribute("onchange", "eventoDepartamentos()");
        sdep.setAttribute("onchange", "eventoCiudad()");

        function eventoDepartamentos(){
            io.emit("departamentos", {id:spaises.value});
        }

        function eventoCiudad(){
            io.emit("municipios", {id: sdep.value});
        }

        io.on("paises", function(data){
            var cont = data.length;
            spaises.length = cont;
            for(var i = 0; i < cont; i++){
                spaises.options[i] = new Option(data[i].nombre, data[i].idPais);
            };
            io.emit("departamentos", {id:spaises.value});
        });

        io.on("categorias", function(data){
            var cont = data.length;
            scategoria.length = cont;
            for(var i = 0; i < cont; i++){
                scategoria.options[i] = new Option(data[i].nombre, data[i].idcategoria);
            };
        });

        io.on("tiendas", function(data){
            var cont = data.length;
            stienda.length = cont;
            for(var i = 0; i < cont; i++){
                stienda.options[i] = new Option(data[i].nombre, data[i].idtienda);
            };
        });

        io.on("departamentos", function(data){
            var cont = data.length;
            sdep.length = cont;
            for(var i = 0; i < cont; i++){
                sdep.options[i] = new Option(data[i].nombre, data[i].idDepartamento);
            };
            io.emit("municipios", {id: sdep.value});
        });

        io.on("municipios", function(data){
            var cont = data.length;
            smun.length = cont;
            for(var i = 0; i < cont; i++){
                smun.options[i] = new Option(data[i].nombre, data[i].idmunicipios);
            };
        });
    </script>

</body>

</html>