
                                    <div class="form-body">
                                        <div class="form-group">
                                            <input type="hidden" id="latitude" name="latitude" value="<%=(locals.direccion)? direccion.latitude : 0 %>">
                                        </div>
                    
                                        <div class="form-group">
                                            <input type="hidden" id="longitude" name="longitude" value="<%=(locals.direccion)? direccion.longitude : 0 %>">
                                        </div>
                    
                                        <% if(locals.sucursal) {%>
                                        <div class="form-group">
                                            <input type="hidden" id="nombreanterior" name="nombreanterior" value="<%=sucursal.nombre%>">
                                        </div>
                    
                                        <div class="form-group">
                                            <input type="hidden" id="idsucursal" name="idsucursal" value="<%=sucursal.idsucursal%>">
                                        </div>
                                        <%}%>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <!--<div class="form-group has-success">-->
                                                <div class="form-group">
                                                    <h5>Tienda <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <select class="form-control custom-select" id="tienda" name="tienda"
                                                            required>
                                                        </select>
                                                        <small class="form-control-feedback">
                                                            Seleccione la tienda a la que pertenece la sucursal
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-4">
                                                <!--<div class="form-group has-success">-->
                                                <div class="form-group">
                                                    <h5>Categoria <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <select class="form-control custom-select" id="categoria" name="categoria"
                                                            required>
                                                        </select>
                                                        <small class="form-control-feedback">
                                                            Seleccione la categoria a la que pertenece la sucursal
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <h5>¿Retiene? </h5>
                                                    <div class="controls">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" name="retenido"
                                                                id="retenido">
                                                            <label class="custom-control-label" for="retenido">Retiene</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Nombre <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="text" id="nombre" name="nombre" class="form-control"
                                                            value="<%= (locals.sucursal) ? sucursal.nombre : '' %>"
                                                            required data-validation-required-message="Éste campo es requerido">
                                                    </div>
                                                    <small class="form-control-feedback"> Nombre de la sucursal </small>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>RUT <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="text" id="rut" name="rut" class="form-control" required
                                                            value="<%= (locals.sucursal) ? sucursal.rut : '' %>"
                                                            data-validation-required-message="Éste campo es requerido">
                                                    </div>
                                                    <small class="form-control-feedback"> RUT de la sucursal </small>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <%if (locals.sucursal) {%>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <h5>Lista negra <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <select class="form-control custom-select" id="listanegra" name="listanegra">
                                                            <option>S</option>
                                                            <option>N</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <h5>Descripción lista negra </h5>
                                                    <div class="controls">
                                                        <input type="text" id="descripcion_listanegra" name="descripcion_listanegra" class="form-control"
                                                            value="<%= (locals.sucursal) ? sucursal.descripcion_listanegra : '' %>">
                                                    </div>
                                                    <small class="form-control-feedback">
                                                        Descripción del motivo de blpqueo de cuenta.
                                                    </small>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <%}%>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <h5>Tipo contrato <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <select class="form-control custom-select" id="empresarial" name="empresarial"
                                                            required>
                                                            <option disabled selected>Tipo de contrato</option>
                                                            <option>Normal</option>
                                                            <option>Solo empresarial</option>
                                                            <option>Solo tienda</option>
                                                        </select>
                                                        <small class="form-control-feedback">
                                                            Seleccione el tipo de contrato de la sucursal
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <h5>Tipo sucursal <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <select class="form-control custom-select" id="tipo" name="tipo"
                                                            required>
                                                            <%for (let i = 0; i < tipoSucursal.length; i++) {%>
                                                            <option value="<%=tipoSucursal[i].id%>"><%=tipoSucursal[i].name%></option>
                                                            <%}%>
                                                        </select>
                                                        <small class="form-control-feedback">
                                                            Seleccione el tipo de sucursal
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <h5>¿Bajo lluvia? </h5>
                                                    <div class="controls">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" name="lluvia"
                                                                id="lluvia">
                                                            <label class="custom-control-label" for="lluvia">Acepta pedidos bajo lluvia</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <h5>País <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <select class="form-control custom-select" id="pais" name="pais"
                                                            required>
                                                        </select>
                                                        <small class="form-control-feedback">
                                                            Seleccione el país de la sucursal
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <h5>Departamento <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <select class="form-control custom-select" id="departamento" name="departamento"
                                                            required>
                                                        </select>
                                                        <small class="form-control-feedback">
                                                            Seleccione el departamento de la sucursal
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <h5>Ciudad <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <select class="form-control custom-select" id="ciudad" name="municipio"
                                                            required>
                                                        </select>
                                                        <small class="form-control-feedback">
                                                            Seleccione la ciudad de la sucursal
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <h5>Hora de apertura <span class="text-danger">*</span></h5>
                                                    <div class="controls clockpicker">
                                                        <input type="text" class="form-control" id="hora_inicial" name="hora_inicial"
                                                            value="<%= (locals.sucursal) ? sucursal.hora_inicial : '' %>"
                                                            required data-validation-required-message="Éste campo es requerido">
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <h5>Hora de cierre <span class="text-danger">*</span></h5>
                                                    <div class="controls clockpicker">
                                                        <input type="text" class="form-control" id="hora_final" name="hora_final"
                                                            value="<%= (locals.sucursal) ? sucursal.hora_final : '' %>"
                                                            required data-validation-required-message="Éste campo es requerido">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <h5>Tiempo de entrega <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="number" id="entrega" name="entrega" class="form-control"
                                                            value="<%= (locals.sucursal) ? sucursal.tiempo_entrega : '' %>"
                                                            required data-validation-required-message="Éste campo es requerido">
                                                    </div>
                                                    <small class="form-control-feedback">
                                                        En minutos
                                                    </small>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Número de teléfono <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="text" id="numero_punto" name="numero_punto" class="form-control"
                                                            value="<%= (locals.sucursal) ? sucursal.numero_punto : '' %>"
                                                            required data-validation-required-message="Éste campo es requerido">
                                                    </div>
                                                    <small class="form-control-feedback">
                                                        Ingrese el número de teléfono correspondiente
                                                    </small>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>¿Ida y Vuelta?</h5>
                                                    <div class="controls">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" name="ida_vuelta"
                                                                id="ida_vuelta">
                                                            <label class="custom-control-label" for="ida_vuelta">Acepta pedidos Ida y Vuelta</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Valor ida y vuelta <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="number" name="valor_ida_vuelta" id="valor_ida_vuelta" class="form-control"
                                                            value="<%= (locals.sucursal) ? sucursal.valor_ida_vuelta : '' %>">
                                                    </div>
                                                    <small class="form-control-feedback">
                                                        Valor de los pedidos con opcion de ida y vuelta
                                                    </small>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Costo de envío <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="number" name="costo_envio" id="costo_envio" class="form-control"
                                                            value="<%= (locals.sucursal) ? sucursal.costo_envio : '' %>"
                                                            required data-validation-required-message="Éste campo es requerido">
                                                    </div>
                                                    <small class="form-control-feedback">
                                                        Costo de envío empresarial
                                                    </small>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Comisión <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="number" name="comision" id="comision" class="form-control"
                                                            value="<%= (locals.sucursal) ? sucursal.comision : '' %>"
                                                            required data-validation-required-message="Éste campo es requerido">
                                                    </div>
                                                    <small class="form-control-feedback">
                                                        Comisión por total de venta(%) ejm. 5, 10
                                                    </small>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Cédula <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="text" id="cedula" name="cedula" class="form-control"
                                                            value="<%= (locals.sucursal) ? sucursal.cedula : '' %>"
                                                            required data-validation-required-message="Éste campo es requerido">
                                                    </div>
                                                    <small class="form-control-feedback">
                                                        Cédula del dueño
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Nombres <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="text" id="nombre_dueno" name="nombre_dueno" class="form-control"
                                                            value="<%= (locals.sucursal) ? sucursal.nombre_duenio : '' %>"
                                                            required data-validation-required-message="Éste campo es requerido">
                                                    </div>
                                                    <small class="form-control-feedback">
                                                        Nombres del dueño
                                                    </small>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Apellidos <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="text" id="apellido_dueno" name="apellido_dueno" class="form-control"
                                                            value="<%= (locals.sucursal) ? sucursal.apellido_duenio : '' %>"
                                                            required data-validation-required-message="Éste campo es requerido">
                                                    </div>
                                                    <small class="form-control-feedback">
                                                        Apellidos del dueño
                                                    </small>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Número privado <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="text" id="numero_privado" name="numero_privado" class="form-control"
                                                            value="<%= (locals.sucursal) ? sucursal.numero_privado : '' %>"
                                                            required data-validation-required-message="Éste campo es requerido">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Cuenta bancaria <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="text" id="cuenta_bancaria" name="cuenta_bancaria" class="form-control"
                                                            value="<%= (locals.sucursal) ? sucursal.cuenta_bancaria : '' %>"
                                                            required data-validation-required-message="Éste campo es requerido">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Dirección <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="text" id="direccion" name="direccion" class="form-control"
                                                            value="<%= (locals.direccion) ? direccion.direccion : '' %>"
                                                            required data-validation-required-message="Éste campo es requerido">
                                                    </div>
                                                    <small class="form-control-feedback">
                                                        Seleccione la dirección del mapa
                                                    </small>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Notas <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="text" id="notas" name="notas" class="form-control"
                                                            value="<%= (locals.direccion) ? direccion.notas : '' %>">
                                                    </div>
                                                    <small class="form-control-feedback">
                                                        Ingrese las notas de la dirección (Casa, Apartamento, Conjunto, etc)
                                                    </small>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Seleccione la ubicación del establecimiento</h4>
                                                        <div id="map" class="gmaps"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/row-->
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-offset-3 col-md-9">
                                                        <button type="submit" class="btn btn-success">
                                                            <i class="fa fa-check"></i>
                                                            Guardar
                                                        </button>
                                                        <a href="/administrador/sucursales">
                                                            <button type="button" class="btn btn-inverse">Cancelar</button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6"> </div>
                                        </div>
                                    </div>
