<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials/head%>
    
    <!-- page css -->
    <link href="/static/dist/css/pages/error-pages.css" rel="stylesheet">
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="skin-blue fixed-layout">
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <section id="wrapper" class="error-page">
        <div class="error-box">
            <div class="error-body text-center">
                <h2><%=msg.title%></h1>
                <h3 class="text-uppercase"><%=msg.description%></h3>
                <p class="text-muted m-t-30 m-b-30"><%=msg.info%></p>
            </div>
        </div>
    </section>  
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <% include ../../partials/scripts%>
</body>

</html>