<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials/head%>
    <!-- page css -->
    <link href="/static/dist/css/pages/login-register-lock.css" rel="stylesheet">
    <!-- Custom CSS -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Traigo</p>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    
    <!--<section id="wrapper" class="login-register login-sidebar" style="background-image:url(../assets/images/background/login-register.jpg);">-->
    <section id="wrapper">
        <div class="login-register">
            <div class="login-box card">
                
                <div class="card-body">
                    <form class="form-horizontal form-material" action="/reset-password" method="POST" enctype="multipart/form-data">
                        <h3 class="box-title m-b-20">Restablecer la contraseña</h3>
                        <%if(locals.info){%>
                        <div class="alert alert-danger alert-rounded">
                            <i class="ti-user"></i>
                            <%=info%>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <%}%>
                        <p>Buen día <b><%= rider.data.nombre %> <%= rider.data.apellido _%></b>, puedes restablecer tu contraseña.</p>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div class="controls">
                                    <input class="form-control" name="password" type="password" placeholder="Contraseña" data-validation-required-message="El campo es requerido" minlength="8" required>
                                </div>
                                <div class="form-control-feedback"><small>La contraseña debe tener minimo <code>8</code> caracteres.</small></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div class="controls">
                                    <input class="form-control" name="password_confirm" type="password" placeholder="Confirmar contraseña" data-validation-required-message="El campo es requerido" minlength="8" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input class="form-control" value="<%=rider.token%>" type="hidden" name="token" type="text" required>
                        </div>             
                        <div class="form-group text-center p-b-10">
                            <div class="col-xs-12">
                                <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Guardar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <% include ../../partials/scripts%>
    <script src="/static/dist/js/pages/validation.js"></script>
    <script src="/static/dist/js/pages/custom.min.js"></script>
    <script src="/static/dist/js/jqBootstrapValidation.js"></script>
    <!--Custom JavaScript -->
    <script type="text/javascript">
        // Verifica la validacion de los campos 
        $("input,select,textarea").not("[type=submit]").jqBootstrapValidation();
        $(function() {
            $(".preloader").fadeOut();
        });
        $(function() {
            $('[data-toggle="tooltip"]').tooltip()
        });
    </script>
    
</body>

</html>
