<!DOCTYPE html>
<html>
<head>
	<title>Traigo</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
	<link rel = "stylesheet" href="/static/css/app.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
	<script type='text/javascript' src="/socket.io/socket.io.js"></script>
</head>
<body>
	<%- include nav%>
	<div class = "container pt-4 pb-4">

		<%if(info == "eliminated"){%>
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
			<strong>Informacion!</strong> Se ha eliminado la categoria
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<%}else if(info == "err"){%>
		<div class="alert alert-danger alert-dismissible fade show" role="alert">
			<strong>Error!</strong> Ha ocurrido un error en la operacion
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<%}else if(info == "correct"){%>
		<div class="alert alert-success alert-dismissible fade show" role="alert">
			<strong>Correcto!</strong> Costos actualizados correctamente
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<%}%>


		<div class = "row">
			<h2 class = "col-12 titulo">Costos</h1>
			</div>

			<table class="table table-light">
				<thead>
					<tr>
						<th scope="col">Costo de envio del deseo</th>
						<th scope="col">Comisión del cliente por deseo</th>
						<th scope="col">Costo de envio de pedido del cliente</th>
						<th scope="col">Comisión del rider del pedido del cliente</th>
						<th scope="col">Costo de envio de un mandado</th>
						<th scope="col">Costo por parada de un mandado</th>
						<th scope="col">Comisión del rider por un mandado</th>
						<th scope="col">Comision del rider por pedido empresarial</th>
						<th scope="col">Guardar</th>

					</tr>
				</thead>
				<tbody>

					<div class = "row">
						<form class = "form-login col-6" action = "/administrador/modificarcostos" method = "POST" enctype= multipart/form-data>
							
							<tr>
								<td>
									<input type="text" class="form-control" id="costo_envio_deseo" aria-describedby="emailHelp" name = "costo_envio_deseo" required value = <%=costos.costo_envio_deseo%>>
								</td>
								<td>
									<input type="text" class="form-control" id="comision_cliente_deseo" aria-describedby="emailHelp" name = "comision_cliente_deseo" required value = <%=costos.comision_cliente_deseo%>>
								</td>
								<td>
									<input type="text" class="form-control" id="costo_envio_cliente" aria-describedby="emailHelp" name = "costo_envio_cliente" required value = <%=costos.costo_envio_cliente%>>
								</td>
								<td>
									<input type="text" class="form-control" id="comision_rider_cliente" aria-describedby="emailHelp" name = "comision_rider_cliente" required value = <%=costos.comision_rider_cliente%>>
								</td>
								<td>
									<input type="text" class="form-control" id="costo_envio_mandado" aria-describedby="emailHelp" name = "costo_envio_mandado" required value = <%=costos.costo_envio_mandado%>>
								</td>
								<td>
									<input type="text" class="form-control" id="costo_paradas_mandado" aria-describedby="emailHelp" name = "costo_paradas_mandado" required value = <%=costos.costo_paradas_mandado%>>
								</td>
								<td>
									<input type="text" class="form-control" id="comision_rider_mandado" aria-describedby="emailHelp" name = "comision_rider_mandado" required value = <%=costos.comision_rider_mandado%>>
								</td>
								<td>
									<input type="text" class="form-control" id="comision_rider_empresarial" aria-describedby="emailHelp" name = "comision_rider_empresarial" required value = <%=costos.comision_rider_empresarial%>>
								</td>
								<td>
									<button type="submit" class="btn btn-primary btn-block">Guardar</button>
								</td>
							</tr>
							
						</form>
					</div>

				</tbody>
			</table>



		</div>

	</body>
	</html>
