<!DOCTYPE html>
<html>
<head>
	<title>Traigo</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
	<link rel = "stylesheet" href="/static/css/app.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
	<script type='text/javascript' src="/socket.io/socket.io.js"></script>
</head>
<body>
	<%- include nav%>
	<div class = "container pt-4 pb-4">

		<%if(info == "eliminated"){%>
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
			<strong>Informacion!</strong> Se ha cancelado el pedido
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<%}else if(info == "err"){%>
		<div class="alert alert-danger alert-dismissible fade show" role="alert">
			<strong>Error!</strong> Ha ocurrido un error en la operacion
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<%}else if(info == "correct"){%>
		<div class="alert alert-success alert-dismissible fade show" role="alert">
			<strong>Correcto!</strong> Pedido realizado correctamente
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<%}%>


		<div class = "row">
			<h2 class = "col-12 titulo">Pedidos empresariales</h1>
			</div>

			<table class="table table-light table-hover">
				<thead>
					<tr>
						<th scope="col">ID Empresarial</th>
						<th scope="col">Sucursal</th>
						<th scope="col">Valor</th>
						<th scope="col">Rider</th>
						<th scope="col">Nombre cliente</th>
						<th scope="col">Teléfono cliente</th>
						<th scope="col">Dirección cliente</th>
						<th scope="col">Datáfono</th>
						<th scope="col">Fecha</th>
						<th scope="col">Estado</th>
					

					</tr>
				</thead>
				<tbody>

					<div class = "row">
						
							<%for(var i = 0; i < pedidosempresariales.length; i++){%>
							<tr on>
								<td><%=pedidosempresariales[i].idpedido_empresarial%></td>
								<td><%=pedidosempresariales[i].nombresucursal%></td>
								<td><%=pedidosempresariales[i].valor%></td>
								<td><%=pedidosempresariales[i].nombrerider%> <%=pedidosempresariales[i].apellidorider%></td>
								<td><%=pedidosempresariales[i].nombre_cliente%></td>
								<td><%=pedidosempresariales[i].telefono%></td>
								<td><%=pedidosempresariales[i].direccionentrega%> | <%=pedidosempresariales[i].notasdireccionentrega%></td>
								<td><%=pedidosempresariales[i].datafono%></td>
								<td><%=pedidosempresariales[i].fecha%></td>
								<td><%=pedidosempresariales[i].estado%></td>
								
							</tr>
							<%}%>
							
							
						
					</div>

				</tbody>
			</table>


			<div class = "row">
			<h2 class = "col-12 titulo">Pedidos Lo que quieras!</h1>
			</div>

			<table class="table table-light table-hover">
				<thead>
					<tr>
						<th scope="col">ID Lo que quieras!</th>
						<th scope="col">Rider</th>
						<th scope="col">Nombre cliente</th>
						<th scope="col">Teléfono cliente</th>
						<th scope="col">Dirección entrega</th>
						<th scope="col">Lo que quiere el cliente</th>
						<th scope="col">Fecha</th>
						<th scope="col">Estado</th>
					</tr>
				</thead>
				<tbody>

					<div class = "row">
						
							<%for(var i = 0; i < pedidosdeseos.length; i++){%>
							<tr on>
								<td><a href = '/administrador/pedidodeseo?id=<%=pedidosdeseos[i].idpedido_deseo%>'><%=pedidosdeseos[i].idpedido_deseo%></a></td>
								<td><%=pedidosdeseos[i].nombrerider%> <%=pedidosdeseos[i].apellidorider%></td>

								<td><%=pedidosdeseos[i].nombrecliente%></td>
								<td><%=pedidosdeseos[i].telefonocliente%></td>
								<td><%=pedidosdeseos[i].direccionentrega%> | <%=pedidosdeseos[i].notasdireccionentrega%></td>
								<td><%=pedidosdeseos[i].deseo%></td>
								<td><%=pedidosdeseos[i].fecha%></td>
								<td><%=pedidosdeseos[i].estado%></td>
								
							</tr>
							<%}%>
							
							
						
					</div>

				</tbody>
			</table>

		</div>

	</body>
	</html>

