<!DOCTYPE html>
<html>
<head>
	<title>Traigo</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	  rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
	<link rel = "stylesheet" href="/static/css/app.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
	<script type='text/javascript' src="/socket.io/socket.io.js"></script>

	<style>
	  /* Always set the map height explicitly to define the size of the div
	   * element that contains the map. */
	  #map {
		height: 500px;
	  }
	</style>

</head>
<body>
	<%- include nav%>
	<div class = "container pt-4 pb-4">

		<%if(info == "eliminated"){%>
			<div class="alert alert-warning alert-dismissible fade show" role="alert">
			  <strong>Informacion!</strong> Se ha eliminado la sucursal
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
		<%}else if(info == "err"){%>
			<div class="alert alert-danger alert-dismissible fade show" role="alert">
			  <strong>Error!</strong> Ha ocurrido un error en la operacion
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
		<%}else if(info == "correct"){%>
			<div class="alert alert-success alert-dismissible fade show" role="alert">
			  <strong>Correcto!</strong> sucursal agregada con éxito
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
		<%}%>

		<div class = "row">
			<h2 class = "col-12 titulo">Mapa de Riders</h1>
		</div>

		<div id="map" class = "map"></div>

		

	</div>



	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKwCnkuKfwRNZUEDhXGDM6FHzsM9AD-Js&sensor=true">
	</script>

	<script>

		var io = io.connect('/', {'forceNew':true});
		
		var markerOption = {center: new google.maps.LatLng(4.534440, -75.675830)}

		var markers = [];
		var infos = [];
		var marker = new google.maps.Marker({
			position: markerOption.center,
			map: null,
			title: 'Rider'
		});

		io.on("mapariders", function(data){
			for(var i = 0; i < markers.length; i++){
					markers[i].setMap(null);
				}
			
			if(data != null){
				var riders = data;
				infos = [];	
				markers = [];
				for(var i = 0; i < riders.length; i++){
					var nuevoMarker = new google.maps.Marker({
						position: markerOption.center,
						map: null,
						title: 'Rider',
						icon: '/static/img/rider.png'
					});

					markerOption.center = new google.maps.LatLng(riders[i].latitude, riders[i].longitude);
					nuevoMarker.setPosition(markerOption.center);

					var infowindow = new google.maps.InfoWindow({});
					var content = '<div id = "content"><p>' + riders[i].nombre + '</p>'
						+'<p>' + riders[i].telefono + '</p></div>'

					
					google.maps.event.addListener(nuevoMarker,'click', (function(nuevoMarker,content,infowindow){ 
					    return function() {
					        infowindow.setContent(content);
					        infowindow.open(map,nuevoMarker);
					    };
					})(nuevoMarker,content,infowindow)); 
					
				
					nuevoMarker.setMap(map);
					markers.push(nuevoMarker);

				}

				
			}
			setTimeout(function(){io.emit("riders", {})}, 15000);
		});


		var map;

		var myOptions = {
			center: new google.maps.LatLng(4.534440, -75.675830),
			zoom: 14,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};

		

		function initialize() {
			map = new google.maps.Map(document.getElementById("map"),myOptions);
			io.emit("riders", {});
		}

		google.maps.event.addDomListener(window, 'load', initialize);
	</script>
</body>
</html>
