<!DOCTYPE html>
<html>
<head>
    <title>Traigo</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel = "stylesheet" href="/static/css/app.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <script type='text/javascript' src="/socket.io/socket.io.js"></script>
</head>
<body>
    <%- include nav%>
    <div class = "container pt-4 pb-4">

    	<%if(info == "eliminated"){%>
    		<div class="alert alert-warning alert-dismissible fade show" role="alert">
			  <strong>Informacion!</strong> Se ha eliminado el moderador
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
			    <span aria-hidden="true">&times;</span>
			  </button>
			</div>
    	<%}else if(info == "err"){%>
    		<div class="alert alert-danger alert-dismissible fade show" role="alert">
			  <strong>Error!</strong> Ha ocurrido un error en la operacion
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
			    <span aria-hidden="true">&times;</span>
			  </button>
			</div>
    	<%}else if(info == "correct"){%>
    		<div class="alert alert-success alert-dismissible fade show" role="alert">
			  <strong>Correcto!</strong> moderador agregado con éxito
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
			    <span aria-hidden="true">&times;</span>
			  </button>
			</div>
    	<%}%>
    	

    	<div class = "row">
			<h2 class = "col-12 titulo">Moderadores</h1>
		</div>

    	<table class="table table-light">
		  <thead>
		    <tr>
		      <th scope="col" class = "thfoto">Foto</th>
		      <th scope="col">Cédula</th>
		      <th scope="col">Nombre</th>
		      <th scope="col">Apellido</th>
		      <th scope="col">Correo</th>
		      <th scope="col">Último acceso</th>
		      <th scope="col">Eliminar</th>
		    </tr>
		  </thead>
		  <tbody>
		  	<%for(var i = 0; i < moderadores.length; i++){%>

				<tr>
			      <td>
			      	<img src="/static/img/mod/<%=moderadores[i].foto_perfil%>" class = "imgtable">
			      </td>
			      <td><a href = '/administrador/moderador?cedula=<%=moderadores[i].cedula%>'><%=moderadores[i].cedula%></td>
			      <td><%=moderadores[i].nombre%></td>
			      <td><%=moderadores[i].apellido%></td>
			      <td><%=moderadores[i].correo%></td>
			      <td><%=moderadores[i].ultimo_acceso%></td>
			      <td>
			      	
			      	<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal<%=i%>">
					  Eliminar
					</button>
	

					<div class="modal fade" id="modal<%=i%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title" id="exampleModalLabel">Eliminar moderador</h5>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
					      </div>
					      <div class="modal-body">
					        ¿Desea eliminar al moderador?
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
					        <a class = "btn btn-primary" href="/administrador/eliminarmoderador?userid=<%=moderadores[i].cedula%>">Eliminar</a>
					      </div>
					    </div>
					  </div>
					</div>

			      </a>
			      </td>
		    	</tr>
			<%}%>
		  </tbody>
		</table>

		<div class = "row">
			<h2 class = "col-12 titulo">Agregar moderador</h1>
		</div>

		<div class = "row">
			<form class = "form-login col-6" action = "/administrador/agregarmoderador" method = "POST" enctype= multipart/form-data>
			  <div class="form-group">
			    <input type="text" class="form-control" id="cedula" aria-describedby="emailHelp" placeholder="* Cédula" name = "cedula" required>
			  </div>

			  <div class="form-group">
			    <input type="text" class="form-control" id="nombre" aria-describedby="emailHelp" placeholder="* Nombre" name = "nombre" required>
			  </div>

			  <div class="form-group">
			    <input type="text" class="form-control" id="apellido" aria-describedby="emailHelp" placeholder="* Apellido" name = "apellido" required>
			  </div>

			  <div class="form-group">
			    <input type="text" class="form-control" id="correo" aria-describedby="emailHelp" placeholder="* Correo" name = "correo" required>
			  </div>

			  <div class="form-group">
			    <select class="form-control" name = "genero" id = "genero" required>
				  <option disabled selected>Seleccione un género</option>
				  <option>Masculino</option>
				  <option>Femenino</option>
				</select>
			
			  </div>

			  <div class="form-group">
			  	<label for="foto" class = "titulo">Foto de perfil</label>
			    <input type="file" class="form-control" id="foto" aria-describedby="emailHelp" name = "foto">
			  </div>

			  <div class="form-group">
			    <input type="text" class="form-control" id="anexos" placeholder="Dirección de anexos" name = "anexos">
			  </div>

			  <div class="container form-group row">
			    <select class="form-control col-sm-4 mr-2" name = "pais" id = "pais" required>
				  <option disabled selected>* País</option>
				</select>
				<select class="form-control col-sm-4 mr-2" name = "departamento" id = "departamento" required>
				  <option disabled selected>* Departamento</option>
				</select>
				<select class="form-control col-sm-3" id = "ciudad" name = "municipio" required>
				   <option disabled selected>* Ciudad</option>
				</select>
			  </div>

			  <div class="form-group">
			    <input type="text" class="form-control" id="direccion" placeholder="* Dirección" name = "direccion" required>
			  </div>

			  <div class="form-group">
			    <input type="text" class="form-control" id="notas" placeholder="Notas de la dirección (Bloque, apartamento, etc)" name = "notas">
			  </div>

			  <button type="submit" class="btn btn-light btn-block btn-form">Agregar</button>
			</form>
		</div>

    </div>

    <script type = "text/javascript">
    	var io = io.connect('/', {'forceNew':true});
		var spaises = document.getElementById('pais');
		var sdep = document.getElementById("departamento");
		var smun = document.getElementById("ciudad");

		spaises.setAttribute("onchange", "eventoDepartamentos()");
		sdep.setAttribute("onchange", "eventoCiudad()");

		function eventoDepartamentos(){
			io.emit("departamentos", {id:spaises.value});
		}

		function eventoCiudad(){
			io.emit("municipios", {id: sdep.value});
		}

		io.on("paises", function(data){
			var cont = data.length;
			spaises.length = cont;
			for(var i = 0; i < cont; i++){
				spaises.options[i] = new Option(data[i].nombre, data[i].idPais);
			};

			io.emit("departamentos", {id:spaises.value});
		});

		io.on("departamentos", function(data){
			var cont = data.length;
			sdep.length = cont;
			for(var i = 0; i < cont; i++){
				sdep.options[i] = new Option(data[i].nombre, data[i].idDepartamento);
			};

			io.emit("municipios", {id: sdep.value});

		});

		io.on("municipios", function(data){
			var cont = data.length;
			smun.length = cont;
			for(var i = 0; i < cont; i++){
				smun.options[i] = new Option(data[i].nombre, data[i].idmunicipios);
			};
		});
    </script>

</body>
</html>