<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="/administrador">Administrador</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="/administrador/administradores">Administradores</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="/administrador/moderadores">Moderadores</a>
			</li>


			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Riders
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="nav-link" href="/administrador/riders">Riders</a>
					<a class="nav-link" href="/administrador/solicitudes">Solicitudes de pago</a>
					<a class="nav-link" href="/administrador/mapariders">Mapa de riders</a>
				</div>
			</li>


			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Tiendas
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="/administrador/tiendas">Tiendas</a>
					<a class="dropdown-item" href="/administrador/sucursales">Sucursales</a>
				</div>
			</li>

			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Categorias
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="/administrador/categoriastiendas">De tiendas</a>
					<a class="dropdown-item" href="/administrador/categoriasproductos">De productos</a>
				</div>
			</li>

			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Pedidos
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="/administrador/pedidosencurso">En curso</a>
					<a class="dropdown-item" href="/administrador/historialpedidos">Historial</a>
				</div>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="/administrador/costos">Costos</a>
			</li>



		</ul>
		<a class = "navbar-text" href="/administrador/cerrarsesion"  style="text-decoration: none">Cerrar sesión</a>
	</div>
</nav>