<!DOCTYPE html>
<html>
<head>
	<title>Traigo</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
	<link rel = "stylesheet" href="/static/css/app.css">
	<link rel = "stylesheet" href="/static/css/modalFacturas.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
	<style>
	  /* Always set the map height explicitly to define the size of the div
	   * element that contains the map. */
	  #map {
		height: 400px;
	  }
	</style>
</head>
<body>
	
	<%-include nav%>

	<div class = "container pt-5 justify-content-center align-middle">
		<div class = "row">
			<div class = "col-5">
				<div class="card" style="width: 18rem;">
				  <div class="card-body">
				  	<ul class="list-group list-group-flush">
					    <li class="list-group-item">Lo que quiere el cliente: <%=pedido.deseo%></li>
					    <li class="list-group-item">Nombre del cliente: <%=pedido.nombrecliente%></li>
					    <li class="list-group-item">Teléfono del cliente: <%=pedido.telefonocliente%></li>
					    <li class="list-group-item">Dirección de entrega: <%=pedido.direccionentrega%> | <%=pedido.notasdireccionentrega%></li>
					  	<li class="list-group-item">Nombre del rider: <%=pedido.nombrerider%></li>
					  	<li class="list-group-item">Teléfono del rider: <%=pedido.telefonorider%></li>
					  	<li class="list-group-item">Estado: <%=pedido.estado%></li>
					  </ul>			
				  </div>
				</div>
				
			</div>

			<div class = "col-7">
				<div class = "row">
					<h2 class = "col-12 titulo">Facturas</h1>
				</div>

				<table class="table table-light table-hover">
				<thead>
					<tr>
						<th scope="col">ID factura</th>
						<th scope="col">Valor</th>
						<th scope="col" class = "thfoto">Imagen</th>
						<th scope="col">Eliminar</th>

					</tr>
				</thead>
				<tbody>

					<div class = "row">
						
							<%for(var i = 0; i < facturas.length; i++){%>
							<tr>
								<td><%=facturas[i].idfactura%></td>
									<td><%=facturas[i].valor%></td>
									<td><img class = "imgtable" src="/static/img/facturas/<%=facturas[i].foto%>" onclick = abrirFoto("/static/img/facturas/<%=facturas[i].foto%>")></td>
								<td>									

									<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal<%=i%>">
										Eliminar
									</button>

									<div class="modal fade" id="modal<%=i%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
										<div class="modal-dialog" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="exampleModalLabel">Eliminar factura</h5>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<div class="modal-body">
													¿Desea eliminar la factura?
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
													<a class = "btn btn-primary" href="/administrador/eliminarfactura?id=<%=facturas[i].idfactura%>">Eliminar factura</a>
												</div>
											</div>
										</div>
									</div>

								

								</td>
							</tr>
							<%}%>
							
							
						
					</div>

				</tbody>
			</table>
			<div id="myModal" class="modalFacturas">

			  <!-- The Close Button -->
			  <span class="closeModal">&times;</span>

			  <!-- Modal Content (The Image) -->
			  <img class="modal-content" id="img01">

			  <!-- Modal Caption (Image Text) -->
			 
			</div>
			</div>
		</div>
		<br>
		<br>
	</div>

	<script type="text/javascript">
		var modal = document.getElementById('myModal');

		// Get the image and insert it inside the modal - use its "alt" text as a caption
		var img = document.getElementById('myImg');
		var modalImg = document.getElementById("img01");
		var captionText = document.getElementById("caption");
		function abrirFoto(src){
		    modal.style.display = "block";
		    modalImg.src = src;
		    captionText.innerHTML = this.alt;
		}

		// Get the <span> element that closes the modal
		var span = document.getElementsByClassName("closeModal")[0];

		// When the user clicks on <span> (x), close the modal
		span.onclick = function() { 
		  modal.style.display = "none";
		}
	</script>

</body>
</html>