<!DOCTYPE html>
<html>
<head>
	<title>Traigo</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	  rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
	<link rel = "stylesheet" href="/static/css/app.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
	<script type='text/javascript' src="/socket.io/socket.io.js"></script>

</head>
<body>
	<%- include nav%>
	<div class = "container pt-4 pb-4">

		<%if(info == "eliminated"){%>
			<div class="alert alert-warning alert-dismissible fade show" role="alert">
			  <strong>Informacion!</strong> Se ha eliminado el producto
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
		<%}else if(info == "err"){%>
			<div class="alert alert-danger alert-dismissible fade show" role="alert">
			  <strong>Error!</strong> Ha ocurrido un error en la operacion
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
		<%}else if(info == "correct"){%>
			<div class="alert alert-success alert-dismissible fade show" role="alert">
			  <strong>Correcto!</strong> producto agregado con éxito
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
		<%}%>
		
		<div class = "row">
			<h1 class = "col-12 titulo"><%=sucursal.nombre%></h1>
		</div>

		<div class = "row">
			<h5 class = "col-12 titulo"><%=sucursal.direccion%> - <%=sucursal.numero_punto%></h5>
		</div>

		<div class = "row">
			<h5 class = "col-12 titulo">rut: <%=sucursal.rut%></h5>
		</div>

		<a class = "btn btn-light" href = "/administrador/sucursal?idsucursal=<%=sucursal.idsucursal%>">Modificar sucursal</a>


		


		<br>
		<br>

		<div class = "row">
			<h2 class = "col-12 titulo">Productos</h1>
		</div>

		<table class="table table-light">
		  <thead>
			<tr>
			  <th scope="col" class = "thfoto">Imagen</th>
			  <th scope="col">Nombre</th>
			  <th scope="col">Precio</th>
			  <th scope="col">Descripcion corta</th>
			  <th scope="col">Descripcion larga</th>
			  <th scope="col">Tamaño del maletin</th>
			</tr>
		  </thead>
		  <tbody>
			<%for(var i = 0; i < productos.length; i++){%>

				<tr>
				  <td>
			      	<img src="/static/img/producto/<%=productos[i].imagen%>" class = "imgtable">
			      </td>
				  <td><a href = "/administrador/productos/<%=productos[i].idproducto%>"><%=productos[i].nombre%></a></td>
				  <td><%=productos[i].precio%></td>
				  <td><%=productos[i].descripcion_corta%></td>
				  <td><%=productos[i].descripcion_larga%></td>
				  <td><%=(productos[i].tamanio_maletin == 1 ? "Grande" : (productos[i].tamanio_maletin == 2 ? "Mediano" : "Pequeño"))%></td>
				  <td>
					
					<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal<%=i%>">
					  Eliminar
					</button>
	

					<div class="modal fade" id="modal<%=i%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog" role="document">
						<div class="modal-content">
						  <div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Eliminar producto</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							  <span aria-hidden="true">&times;</span>
							</button>
						  </div>
						  <div class="modal-body">
							¿Desea eliminar el producto?
						  </div>
						  <div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
							<a class = "btn btn-primary" href="/administrador/eliminarproducto?id=<%=productos[i].idproducto%>&sucursal=<%=sucursal.nombre%>">Eliminar</a>
						  </div>
						</div>
					  </div>
					</div>

		
				  </td>
				</tr>
			<%}%>
		  </tbody>
		</table>

		<div class = "row">
			<h2 class = "col-12 titulo">Agregar producto</h1>
		</div>


		<div class = "row">
			<form class = "form-login col-6" action = "/administrador/agregarproducto" method = "POST" enctype= multipart/form-data>
			  
			  <h4 class = "titulo">Información básica</h4>

			  <div class="form-group">
			    <input type="hidden" id="idsucursal" aria-describedby="emailHelp" name = "idsucursal" value = <%=sucursal.idsucursal%>>
			  </div>


			  <div class="form-group">
			    <input type="hidden" id="nombresucursal" aria-describedby="emailHelp" name = "nombresucursal" value = "<%=sucursal.nombre%>">
			    <script type="text/javascript">
			    	console.log(document.getElementById("nombresucursal").value);
			    </script>
			  </div>

			  <div class="form-group">
			    <input type="hidden" id="info" aria-describedby="emailHelp" name = "info">
			  </div>

			  <div class="form-group">
			  	<label for="categoria" class = "titulo">Seleccione la categoria a la que pertenece el producto</label>
			    <select class="form-control" name = "categoria" id = "categoria" required>
				  <option disabled selected>* Categoria</option>
				</select>
			  </div>

			  <div class="form-group">
			    <input type="text" class="form-control" id="nombre" aria-describedby="emailHelp" placeholder="* Nombre" name = "nombre" required>
			  </div>

			  <div class="form-group">
			    <input type="number" class="form-control" id="precio" aria-describedby="emailHelp" placeholder="* Precio" name = "precio" required>
			  </div>

			  <div class="form-group">
			    <input type="text" class="form-control" id="descripcion_corta" aria-describedby="emailHelp" placeholder="* Descripcion corta" name = "descripcion_corta" required>
			  </div>

			  <div class="form-group">
			    <input type="text" class="form-control" id="descripcion_larga" aria-describedby="emailHelp" placeholder="* Descripcion larga" name = "descripcion_larga" required>
			  </div>

			  <div class="form-group">
			  	<label for="maletin" class = "titulo">Tamaño del maletín</label>
			    <select class="form-control" name = "maletin" id = "maletin" required>
				  <option value = "1">Grande</option>
				  <option value = "2">Mediano</option>
				  <option value = "3">Pequeño</option>
				</select>
			  </div>

			  <div class="form-group">
			  	<label for="imagen" class = "titulo">Imagen</label>
			    <input type="file" class="form-control" id="imagen" aria-describedby="emailHelp" name = "imagen">
			  </div>


			<!-- Acá empiezan los factores -->

			  <h4 class = "titulo">Factores</h4>

			  <div id = "factores">
				  <div class="form-group">
				    <input type="text" class="form-control" id="nombrefactor0" aria-describedby="emailHelp" placeholder="Nombre del factor" name = "nombrefactor0">
				  </div>

				  <div class="form-check mb-2">
				    <input type="checkbox" class="form-check-input" id="obligatorio0" name = "obligatorio0">
				    <label class="form-check-label titulo" for="obligatorio0">Obligatorio</label>
				  </div>

				  <div class="form-group pl-4">
				  	<div id = "factor0">
				  		<div class = "container row">
					  		 <input type="text" class="form-control mb-2 col-6" id="nombre0opcion0" aria-describedby="emailHelp" placeholder="Nombre de la opcion" name = "nombre0opcion0">

						    <input type="number" class="form-control mb-2 col-5 ml-2" id="precio0opcion0" aria-describedby="emailHelp" placeholder="Precio de la opcion" name = "precio0opcion0">
					  	</div>
				  	</div>

				  	<div class = "container row">
				  		<button id = "0" type="button" onClick = "agregarOpcion(0)" class="btn btn-light btn-block btn-form col-11">Agregar opcion</button>
				  	</div>
				  </div>
			  </div>


			  <button type="button" onClick = "agregarFactor()" class="btn btn-light btn-block btn-form">Agregar factor</button>
			  <br>

			<!-- Acá empiezan los elementos -->

			<h4 class = "titulo">Elementos</h4>
			<div id = "elementos">
				<div id = "elemento0">
			  		<div class = "container row">
				  		<input type="text" class="form-control mb-2 col-6" id="elementonombre0" aria-describedby="emailHelp" placeholder="Nombre del elemento" name = "elementonombre0">

					    <input type="number" class="form-control mb-2 ml-2 col-4" id="elementoprecio0" aria-describedby="emailHelp" placeholder="Precio del elemento" name = "elementoprecio0">
				  	</div>
			  	</div>
			</div>

			<button type="button" onClick = "agregarElemento()" class="col-10 btn btn-light btn-block btn-form">Agregar Elemento</button>
			<br>
			<!-- Acá empiezan las adiciones -->

			<h4 class = "titulo">Adiciones</h4>
			<div id = "adiciones">
				<div id = "adicion0">
			  		<div class = "container row">
				  		<input type="text" class="form-control mb-2 col-6" id="adicionnombre0" aria-describedby="emailHelp" placeholder="Nombre de la adicion" name = "adicionnombre0">

					    <input type="number" class="form-control mb-2 ml-2 col-4" id="adicionprecio0" aria-describedby="emailHelp" placeholder="Precio de la adicion" name = "adicionprecio0">
				  	</div>
			  	</div>
			</div>

			<button type="button" onClick = "agregarAdicion()" class="col-10 btn btn-light btn-block btn-form">Agregar Adición</button>

			<!-- Acá termina todo -->
			  <button type="submit" class="btn btn-light btn-block btn-form">Agregar</button>

			  
			</form>
		</div>


	</div>

	<script type = "text/javascript">

		var opciones = [1];
		var elementos = 1;
		var adiciones = 1;

		var info = document.getElementById("info");

		var res = {
			cantidadElementos: 1,
			cantidadAdiciones: 1,
			cantidadFactores: 1,
			cantidadOpciones: [1]
		}

		info.setAttribute("value", JSON.stringify(res));

		function agregarElemento(){

			var divelementos = document.getElementById("elementos");

			var divelemento = document.createElement("div");
			divelemento.setAttribute("id", "elemento" + elementos);

			var divrow = document.createElement("div");
			divrow.setAttribute("class", "container row");

			var input = document.createElement("input");
			input.setAttribute("type", "text");
			input.setAttribute("class","form-control mb-2 col-6");
			input.setAttribute("id", "elementonombre" + elementos);
			input.setAttribute("aria-describedby","emailHelp");
			input.setAttribute("placeholder","Nombre del elemento");
			input.setAttribute("name", "elementonombre" + elementos);

			var input2 = document.createElement("input");
			input2.setAttribute("type", "number");
			input2.setAttribute("class", "form-control mb-2 ml-2 col-4");
			input2.setAttribute("id", "elementoprecio" + elementos);
			input2.setAttribute("aria-describedby","emailHelp");
			input2.setAttribute("placeholder","Precio del elemento");
			input2.setAttribute("name", "elementoprecio" + elementos);

			divrow.appendChild(input);
			divrow.appendChild(input2);

			divelementos.appendChild(divrow);

			elementos++;
			res.cantidadElementos++;
			info.setAttribute("value", JSON.stringify(res));	
		}

		function agregarAdicion(){

			var divadiciones = document.getElementById("adiciones");

			var divadicion = document.createElement("div");
			divadicion.setAttribute("id", "adicion" + adiciones);

			var divrow = document.createElement("div");
			divrow.setAttribute("class", "container row");

			var input = document.createElement("input");
			input.setAttribute("type", "text");
			input.setAttribute("class","form-control mb-2 col-6");
			input.setAttribute("id", "adicionnombre" + adiciones);
			input.setAttribute("aria-describedby","emailHelp");
			input.setAttribute("placeholder","Nombre de la adición");
			input.setAttribute("name", "adicionnombre" + adiciones);

			var input2 = document.createElement("input");
			input2.setAttribute("type", "number");
			input2.setAttribute("class", "form-control mb-2 ml-2 col-4");
			input2.setAttribute("id", "adicionprecio" + adiciones);
			input2.setAttribute("aria-describedby","emailHelp");
			input2.setAttribute("placeholder","Precio de la adición");
			input2.setAttribute("name", "adicionprecio" + adiciones);

			divrow.appendChild(input);
			divrow.appendChild(input2);

			divadiciones.appendChild(divrow);

			res.cantidadAdiciones++;
			adiciones++;	
			info.setAttribute("value", JSON.stringify(res));
		}

		function agregarOpcion(factor){

			var div = document.getElementById("factor" + factor);

			console.log(div);

			var row = document.createElement("div");
			row.setAttribute("class", "container row");

			var input = document.createElement("input");
			input.setAttribute("type", "text");
			input.setAttribute("class","form-control mb-2 col-6");
			input.setAttribute("id", "nombre" + factor + "opcion" + opciones[factor]);
			input.setAttribute("aria-describedby","emailHelp");
			input.setAttribute("placeholder","Nombre de la opcion");
			input.setAttribute("name", "nombre" + factor + "opcion" + opciones[factor]);

			var input2 = document.createElement("input");
			input2.setAttribute("type", "number");
			input2.setAttribute("class", "form-control mb-2 col-5 ml-2");
			input2.setAttribute("id", "precio" + factor + "opcion" + opciones[factor]);
			input2.setAttribute("aria-describedby","emailHelp");
			input2.setAttribute("placeholder","Precio de la opcion");
			input2.setAttribute("name", "precio" + factor + "opcion" + opciones[factor]);

			row.appendChild(input);
			row.appendChild(input2);
			div.appendChild(row);

			res.cantidadOpciones[factor]++;
			console.log(res.cantidadOpciones[factor]);
			opciones[factor]++;
			info.setAttribute("value", JSON.stringify(res));
		}

		function agregarFactor(){

			var factor = opciones.length;
			var factores = document.getElementById("factores");

			var divnombre = document.createElement("div");
			divnombre.setAttribute("class", "form-group");

			var inputnombre = document.createElement("input");
			inputnombre.setAttribute("type", "text");
			inputnombre.setAttribute("class", "form-control");
			inputnombre.setAttribute("id","nombrefactor" + factor);
			inputnombre.setAttribute("placeholder", "Nombre del factor");
			inputnombre.setAttribute("name", "nombrefactor" + factor);
			divnombre.appendChild(inputnombre);

			var divcheck = document.createElement("div");
			divcheck.setAttribute("class", "form-check mb-2");

			var inputcheck = document.createElement("input");
			inputcheck.setAttribute("type", "checkbox");
			inputcheck.setAttribute("class", "form-check-input");
			inputcheck.setAttribute("id", "obligatorio" + factor);
			inputcheck.setAttribute("name", "obligatorio" + factor);
			
			var labelcheck = document.createElement("label");
			labelcheck.setAttribute("class", "form-check-label titulo");
			labelcheck.setAttribute("for", "obligatorio" + factor);
			labelcheck.innerHTML = "Obligatorio";
			
			divcheck.appendChild(inputcheck);
			divcheck.appendChild(labelcheck);

			var divfactor = document.createElement("div");
			var divfactorinner = document.createElement("div");

			divfactor.setAttribute("class", "form-group pl-4");
			divfactorinner.setAttribute("id", "factor" + factor);

			divfactor.appendChild(divfactorinner);

			factores.appendChild(document.createElement("br"));
			factores.appendChild(divnombre);
			factores.appendChild(divcheck);
			factores.appendChild(divfactor);

			var divbutton = document.createElement("div");
			var button = document.createElement("button");

			button.setAttribute("type", "button");
			button.setAttribute("onClick", "agregarOpcion("+factor+")");
			button.setAttribute("class", "btn btn-light btn-block btn-form col-11");
			button.innerHTML = "Agregar opcion";

			divbutton.setAttribute("class", "container row");
			divbutton.appendChild(button);
		

			divfactor.appendChild(divbutton);

			opciones.push(0);
			res.cantidadFactores++;
			res.cantidadOpciones.push(0);
			agregarOpcion(factor);
			info.setAttribute("value", JSON.stringify(res));
		}

		var io = io.connect('/', {'forceNew':true});
		var scategoria = document.getElementById("categoria");

		io.on("categoriasproductos", function(data){
			var cont = data.length;
			scategoria.length = cont;
			for(var i = 0; i < cont; i++){
				scategoria.options[i] = new Option(data[i].nombre, data[i].idcategoriaproducto);
			};
		});

	</script>

</body>
</html>