<!DOCTYPE html>
<html>
<head>
	<title>Traigo</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
	<link rel = "stylesheet" href="/static/css/app.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
	<script type='text/javascript' src="/socket.io/socket.io.js"></script>

	<style>
	  /* Always set the map height explicitly to define the size of the div
	  * element that contains the map. */
	  #map {
	  	height: 30%;
	  }
	  </style>

	</head>
	<body>
		<%- include nav%>
		<div class = "container pt-4 pb-4">

		<%if(info == "eliminated"){%>
			<div class="alert alert-warning alert-dismissible fade show" role="alert">
			<strong>Informacion!</strong> Se ha eliminado la sucursal
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
			</button>
			</div>
			<%}else if(info == "err"){%>
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
				<strong>Error!</strong> Ha ocurrido un error en la operacion
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
				</div>
				<%}else if(info == "correct"){%>
					<div class="alert alert-success alert-dismissible fade show" role="alert">
					<strong>Correcto!</strong> sucursal agregada con éxito
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
					</div>
					<%}%>


					<div class = "row">
					<h2 class = "col-12 titulo">Sucursales</h1>
					</div>

					<table class="table table-light">
					<thead>
					<tr>
					<th scope="col">Nombre</th>
					<th scope="col">Dirección</th>
					<th scope="col">Categoria</th>
					<th scope="col">Hora de apertura</th>
					<th scope="col">Hora de cierre</th>
					<th scope="col">Tiempo entrega</th>
					<th scope="col">Teléfono</th>
					<th scope="col">Eliminar</th>
					</tr>
					</thead>
					<tbody>
					<%for(var i = 0; i < sucursales.length; i++){%>

						<tr>

						<td><a href = "/administrador/sucursales/<%=sucursales[i].nombre%>"><%=sucursales[i].nombre%></a></td>
						<td><%=sucursales[i].direccion%></td>
						<td><%=sucursales[i].categoria%></td>
						<td><%=sucursales[i].hora_inicial%></td>
						<td><%=sucursales[i].hora_final%></td>
						<td><%=sucursales[i].tiempo_entrega%> minutos</td>
						<td><%=sucursales[i].numero_punto%></td>
						<td>

						<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal<%=i%>">
						Eliminar
						</button>


						<div class="modal fade" id="modal<%=i%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
						<div class="modal-content">
						<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Eliminar sucursal</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
						</div>
						<div class="modal-body">
						¿Desea eliminar la sucursal?
						</div>
						<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
						<a class = "btn btn-primary" href="/administrador/eliminarsucursal?id=<%=sucursales[i].idsucursal%>">Eliminar</a>
						</div>
						</div>
						</div>
						</div>


						</td>
						</tr>
						<%}%>
						</tbody>
						</table>

						<div class = "row">
						<h2 class = "col-12 titulo">Agregar sucursal</h1>
						</div>

						<div class = "row">
						<form class = "form-login col-6" action = "/administrador/agregarsucursal" method = "POST" enctype= multipart/form-data>

						<div class="form-group">
						<input type="hidden" id="latitude" aria-describedby="emailHelp" name = "latitude" value = 0>
						</div>

						<div class="form-group">
						<input type="hidden" id="longitude" aria-describedby="emailHelp" name = "longitude" value = 0>
						</div>


						<div class="form-group">
						<label for="tienda" class = "titulo">Seleccione la tienda a la que pertenece la sucursal</label>
						<select class="form-control col-12" name = "tienda" id = "tienda" required>
						</select>
						</div>

						<div class="form-group">
						<label for="categoria" class = "titulo">Seleccione la categoria a la que pertenece la sucursal</label>
						<select class="form-control" name = "categoria" id = "categoria" required>
						<option disabled selected>* Categoria</option>
						</select>
						</div>

						<div class="form-check mb-2">
						<input type="checkbox" class="form-check-input" id="retenido" name = "retenido">
						<label class="form-check-label titulo" for="retenido">Retiene</label>
						</div>


						<div class="form-group">
						<input type="text" class="form-control" id="nombre" aria-describedby="emailHelp" placeholder="* Nombre de la sucursal" name = "nombre" required>
						</div>

						<div class="form-group">
						<input type="text" class="form-control" id="rut" aria-describedby="emailHelp" placeholder="* Rut de la sucursal" name = "rut" required>
						</div>

						<div class="form-group">
						<label for="empresarial" class = "titulo">Seleccione el tipo de contrato de la sucursal</label>
						<select class="form-control" name = "empresarial" id = "empresarial" required>
						<option disabled selected>Tipo de contrato</option>
						<option>Normal</option>
						<option>Solo empresarial</option>
						<option>Solo tienda</option>
						</select>
						</div>

						<div class="container form-group row">
						<select class="form-control col-sm-4 mr-2" name = "pais" id = "pais" required>
						<option disabled selected>* País</option>
						</select>
						<select class="form-control col-sm-4 mr-2" name = "departamento" id = "departamento" required>
						<option disabled selected>* Departamento</option>
						</select>
						<select class="form-control col-sm-3" id = "ciudad" name = "municipio" required>
						<option disabled selected>* Ciudad</option>
						</select>
						</div>

						<div class="form-group">
						<input type="text" class="form-control" id="direccion" aria-describedby="emailHelp" placeholder="* Direccion (Seleccionar en el mapa)" name = "direccion" required>
						</div>

						<div id="map" class = "map"></div>

						<div class="form-group">
						<input type="text" class="form-control" id="notas" aria-describedby="emailHelp" placeholder="Notas de la dirección" name = "notas">
						</div>


						<div class="form-group">
						<label for="hora_inicial" class = "titulo">Hora de apertura</label>
						<input type="time" class="form-control" id="hora_inicial" placeholder="Hora de apertura" name = "hora_inicial">
						</div>

						<div class="form-group">
						<label for="hora_final" class = "titulo">Hora de cierre</label>
						<input type="time" class="form-control" id="hora_final" placeholder="Hora de cierre" name = "hora_final">
						</div>


						<div class="form-group">
						<input type="number" class="form-control" id="entrega" placeholder="* Tiempo de entrega (Minutos)" name = "entrega" required>
						</div>

						<div class="form-group">
						<input type="number" class="form-control" id="numero_punto" aria-describedby="emailHelp" placeholder="* Número telefónico" name = "numero_punto" required>
						</div>

						<div class="form-group">
						<input type="number" class="form-control" id="costo_envio" aria-describedby="emailHelp" placeholder="* Costo de envío empresarial" name = "costo_envio" required>
						</div>

						<div class="form-group">
						<input type="number" class="form-control" id="comision" aria-describedby="emailHelp" placeholder="* Comisión por total de venta(%) ejm. 5, 10" name = "comision" required>
						</div>

						<div class="form-group">
						<input type="text" class="form-control" id="cedula" aria-describedby="emailHelp" placeholder="* Cédula del dueño" name = "cedula" required>
						</div>

						<div class="form-group">
						<input type="text" class="form-control" id="nombre_dueno" aria-describedby="emailHelp" placeholder="* Nombre del dueño" name = "nombre_dueno" required>
						</div>

						<div class="form-group">
						<input type="text" class="form-control" id="apellido_dueno" aria-describedby="emailHelp" placeholder="* Apellido del dueño" name = "apellido_dueno" required>
						</div>

						<div class="form-group">
						<input type="text" class="form-control" id="numero_privado" aria-describedby="emailHelp" placeholder="* Número privado" name = "numero_privado" required>
						</div>

						<div class="form-group">
						<input type="text" class="form-control" id="cuenta_bancaria" aria-describedby="emailHelp" placeholder="* Cuenta bancaria" name = "cuenta_bancaria" required>
						</div>

						<button type="submit" class="btn btn-light btn-block btn-form mb-2">Agregar</button>

						</form>
						</div>

						</div>



						<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKwCnkuKfwRNZUEDhXGDM6FHzsM9AD-Js&sensor=true">
						</script>

						<script>
						var map;
						var geocoder;
						var mapOptions = { center: new google.maps.LatLng(0.0, 0.0), zoom: 2,
							mapTypeId: google.maps.MapTypeId.ROADMAP };

							function initialize() {
								var myOptions = {
									center: new google.maps.LatLng(4.534440, -75.675830),
									zoom: 14,
									mapTypeId: google.maps.MapTypeId.ROADMAP
								};

								geocoder = new google.maps.Geocoder();
								var map = new google.maps.Map(document.getElementById("map"),
									myOptions);
								google.maps.event.addListener(map, 'click', function(event) {
									placeMarker(event.latLng);
								});

								var marker;
								function placeMarker(location) {
									if(marker){
										marker.setPosition(location);
									}else{
										marker = new google.maps.Marker({
											position: location, 
											map: map
										});
									}

									getAddress(location);
								}

								function getAddress(latLng) {

									document.getElementById("latitude").value = latLng.lat();
									document.getElementById("longitude").value = latLng.lng();


									geocoder.geocode( {'latLng': latLng},
										function(results, status) {
											if(status == google.maps.GeocoderStatus.OK) {
												if(results[0]) {
													document.getElementById("direccion").value = results[0].formatted_address;

												}
												else {


													document.getElementById("direccion").value = "No results";
												}
											}
											else {
												document.getElementById("direccion").value = status;
											}
										});
								}
							}
							google.maps.event.addDomListener(window, 'load', initialize);
							</script>



							<script type = "text/javascript">
							var io = io.connect('/', {'forceNew':true});
							var spaises = document.getElementById('pais');
							var sdep = document.getElementById("departamento");
							var smun = document.getElementById("ciudad");

							var scategoria = document.getElementById("categoria");
							var stienda = document.getElementById("tienda");
							spaises.setAttribute("onchange", "eventoDepartamentos()");
							sdep.setAttribute("onchange", "eventoCiudad()");

							function eventoDepartamentos(){
								io.emit("departamentos", {id:spaises.value});
							}

							function eventoCiudad(){
								io.emit("municipios", {id: sdep.value});
							}

							io.on("paises", function(data){
								var cont = data.length;
								spaises.length = cont;
								for(var i = 0; i < cont; i++){
									spaises.options[i] = new Option(data[i].nombre, data[i].idPais);
								};

								io.emit("departamentos", {id:spaises.value});
							});

							io.on("categorias", function(data){
								var cont = data.length;
								scategoria.length = cont;
								for(var i = 0; i < cont; i++){
									scategoria.options[i] = new Option(data[i].nombre, data[i].idcategoria);
								};
							});

							io.on("tiendas", function(data){
								var cont = data.length;
								stienda.length = cont;
								for(var i = 0; i < cont; i++){
									stienda.options[i] = new Option(data[i].nombre, data[i].idtienda);
								};
							});

							io.on("departamentos", function(data){
								var cont = data.length;
								sdep.length = cont;
								for(var i = 0; i < cont; i++){
									sdep.options[i] = new Option(data[i].nombre, data[i].idDepartamento);
								};

								io.emit("municipios", {id: sdep.value});

							});

							io.on("municipios", function(data){
								var cont = data.length;
								smun.length = cont;
								for(var i = 0; i < cont; i++){
									smun.options[i] = new Option(data[i].nombre, data[i].idmunicipios);
								};
							});
							</script>

							</body>
							</html>