<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/head%>
</head>


<body class="skin-blue fixed-layout">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Traigo</p>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">

        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <% include ../../partials/header%>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <% include ../../partials/sidebar%>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->

        <div class="page-wrapper">

            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Editar rider</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/administrador">Administrador</a></li>
                                <li class="breadcrumb-item"><a href="/administrador/riders">Riders</a></li>
                                <li class="breadcrumb-item active">Editar rider</li>
                            </ol>
                        </div>
                    </div>
                </div>

                <!-- Row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header bg-info">
                                <h4 class="m-b-0 text-white">Formulario de actualizacion de rider</h4>
                            </div>
                            <div class="card-body">
                                <form novalidate action="/administrador/riders/<%=rider.cedula%>" method="POST" enctype="multipart/form-data">
                                    <input type="hidden" name="_method" value="PUT">
                                    <% include ./fields%>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Row -->
            </div>
        </div>
<% include ../../partials/footer%>
    </div>

    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->

    <% include ../../partials/scripts%>
    <script src="/static/dist/js/pages/validation.js"></script>
    <script src="/static/dist/js/pages/custom.min.js"></script>
    <script src="/static/dist/js/jqBootstrapValidation.js"></script>
    <script src="/static/dist/js/moment.js"></script>

    <script type = "text/javascript">
        // Verifica la validacion de los campos de nuevo moderador
        $("input,select,textarea").not("[type=submit]").jqBootstrapValidation();

    	var io = io.connect('/', {'forceNew':true});
		var spaises = document.getElementById('pais');
		var sdep = document.getElementById("departamento");
		var smun = document.getElementById("ciudad");

		var smaletin = document.getElementById("maletin");
		var svehiculo = document.getElementById("vehiculo");
        var slistanegra = document.getElementById("listanegra");

		spaises.setAttribute("onchange", "eventoDepartamentos()");
		sdep.setAttribute("onchange", "eventoCiudad()");

        slistanegra.options['<%=rider.listanegra%>' == 'S' ? 0 : 1].selected = 'selected';
        
        console.log('tamaño maletin', <%=rider.tamanio_maletin%>);
        if (!(<%=rider.tamanio_maletin%> === 0 || <%=rider.tamanio_maletin%> === null)) {
            smaletin.options[<%=rider.tamanio_maletin%> - 1].selected = 'selected'
        }
		
		svehiculo.options[('<%=rider.tipo_vehiculo%>' == 'Motocicleta' ? 0 : ('<%=rider.tipo_vehiculo%>' == 'Bicicleta') ? 1: 2)].selected = 'selected'

		function eventoDepartamentos(){
			io.emit("departamentos", {id:spaises.value});
		}

		function eventoCiudad(){
			io.emit("municipios", {id: sdep.value});
		}

		io.on("paises", function(data){
			var cont = data.length;
			spaises.length = cont;
			for(var i = 0; i < cont; i++){
				spaises.options[i] = new Option(data[i].nombre, data[i].idPais);
				if(data[i].idPais == <%=direccion.idPais%>){
					spaises.options[i].selected = 'selected'
				}
			};
			io.emit("departamentos", {id:spaises.value});
		});

		io.on("departamentos", function(data){
			var cont = data.length;
			sdep.length = cont;
			for(var i = 0; i < cont; i++){
				sdep.options[i] = new Option(data[i].nombre, data[i].idDepartamento);
				if(data[i].idDepartamento == <%=direccion.idDepartamento%>){
					sdep.options[i].selected = 'selected';
				}
			};
			io.emit("municipios", {id: sdep.value});
		});

		io.on("municipios", function(data){
			var cont = data.length;
			smun.length = cont;
			for(var i = 0; i < cont; i++){
				smun.options[i] = new Option(data[i].nombre, data[i].idmunicipios);
				if(data[i].idmunicipios == <%=direccion.idmunicipios%>){
					smun.options[i].selected = 'selected';
				}
			};
		});

    </script>
</body>

</html>