
                                    <div class="form-body">
                                        <!--<h3 class="card-title">Agregar sucursal</h3>
                                        <hr>-->
                                        <!--/row-->
                                        <%if (locals.rider) {%>
                                        <div class="row  p-t-20">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Lista negra <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <select class="form-control custom-select" id="listanegra" name="listanegra">
                                                            <option>S</option>
                                                            <option>N</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Activo <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="text" id="activo" name="activo" class="form-control"
                                                            value="<%=rider.activo%>" required readonly 
                                                            data-validation-required-message="Éste campo es requerido">
                                                    </div>
                                                    <small class="form-control-feedback"> Actividad del rider </small>
                                                </div>
                                            </div>
                                        </div>
                                        <%}%>
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <h5>Cédula <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="text" id="cedula" name="cedula" class="form-control"
                                                            value="<%= (locals.rider) ? rider.cedula : '' %>"
                                                            required data-validation-required-message="Éste campo es requerido">
                                                    </div>
                                                    <small class="form-control-feedback"> Cédula del rider </small>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <h5>Límite de pedidos <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="number" id="limite" name="limite" class="form-control"
                                                            value="<%= (locals.rider) ? rider.limitePedidos : '0' %>"
                                                            required data-validation-required-message="Éste campo es requerido">
                                                    </div>
                                                    <small class="form-control-feedback"> Límite de pedidos que puede llevar el rider </small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Nombre <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="text" id="nombre" name="nombre" class="form-control"
                                                            value="<%= (locals.rider) ? rider.nombre : '' %>"
                                                            required data-validation-required-message="Éste campo es requerido">
                                                    </div>
                                                    <small class="form-control-feedback"> Nombre del rider </small>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Apellido <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="text" id="apellido" name="apellido" class="form-control"
                                                        value="<%= (locals.rider) ? rider.apellido : '' %>"
                                                            required data-validation-required-message="Éste campo es requerido">
                                                    </div>
                                                    <small class="form-control-feedback"> Apellido del rider </small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <h5>Teléfono <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="number" id="telefono" name="telefono" class="form-control"
                                                            value="<%= (locals.rider) ? rider.telefono : '' %>"
                                                            required data-validation-required-message="Éste campo es requerido">
                                                    </div>
                                                    <small class="form-control-feedback"> Teléfono del rider </small>
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="form-group">
                                                    <h5>Correo <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="text" id="correo" name="correo" class="form-control" required
                                                            value="<%= (locals.rider) ? rider.correo : '' %>"
                                                            data-validation-regex-regex="([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})" 
                                                            data-validation-required-message="Éste campo es requerido">
                                                    </div>
                                                    <small class="form-control-feedback"> Correo electrónico del rider </small>
                                                </div>
                                            </div>
                                        </div>
                                        <%if (!locals.rider) {%>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Fecha de nacimiento <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="date" id="nacimiento" name="nacimiento" class="form-control"
                                                            value="<%= (locals.rider) ? moment(rider.fecha_nacimiento).format('YYYY-MM-DD') : '' %>"
                                                            required data-validation-required-message="Éste campo es requerido">
                                                    </div>
                                                    <small class="form-control-feedback"> Fecha de nacimiento del rider </small>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Género <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <select class="form-control custom-select" id="genero" name="genero"
                                                            required>
                                                            <option>Masculino</option>
                                                            <option>Femenino</option>
                                                        </select>
                                                        <small class="form-control-feedback">
                                                            Seleccione el género del rider
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>    
                                        <%}%>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Tipo de vehículo <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <select class="form-control custom-select" id="vehiculo" name="vehiculo"
                                                            required>
                                                            <option>Motocicleta</option>
                                                            <option>Bicicleta</option>
                                                            <option>Automovil</option>
                                                        </select>
                                                        <small class="form-control-feedback">
                                                                Seleccione el tipo de vehiculo del rider
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Tamaño del maletín <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <select class="form-control custom-select" id="maletin" name="maletin"
                                                            required>
                                                            <%for (let i = 0; i < maletines.length; i++) {%>
                                                            <option value="<%=maletines[i].id%>"><%=maletines[i].name%></option>
                                                            <%}%>
                                                        </select>
                                                        <small class="form-control-feedback">
                                                                Seleccione el tamaño del maletín que lleva el rider
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Seguro <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="text" id="seguro" name="seguro" class="form-control"
                                                            value="<%= (locals.rider) ? rider.seguro_traigo : '' %>"
                                                            required data-validation-required-message="Éste campo es requerido">
                                                    </div>
                                                    <small class="form-control-feedback"> Seguro traigo </small>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Foto de perfil <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="file" name="foto" id="foto" class="form-control" required
                                                            value="<%= (locals.rider) ? rider.foto_perfil : '' %>">
                                                    </div>
                                                    <small class="form-control-feedback"> Seleccione una imágen de perfil </small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-9">
                                                <div class="form-group">
                                                    <h5>Dirección de anexos <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="text" id="anexos" name="anexos" class="form-control"
                                                            value="<%= (locals.rider) ? rider.anexos : '' %>"
                                                            required data-validation-required-message="Éste campo es requerido">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                                        
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <h5>País <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <select class="form-control custom-select" id="pais" name="pais"
                                                            required>
                                                        </select>
                                                        <small class="form-control-feedback">
                                                                Seleccione el país en donde reside el rider
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <h5>Departamento <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <select class="form-control custom-select" id="departamento" name="departamento"
                                                            required>
                                                        </select>
                                                        <small class="form-control-feedback">
                                                                Seleccione el departamento en donde reside el rider
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <h5>Ciudad <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <select class="form-control custom-select" id="ciudad" name="municipio"
                                                            required>
                                                        </select>
                                                        <small class="form-control-feedback">
                                                                Seleccione la ciudad en donde reside el rider
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Dirección <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="text" id="direccion" name="direccion" class="form-control"
                                                            value="<%= (locals.direccion) ? direccion.direccion : '' %>"
                                                            required data-validation-required-message="Éste campo es requerido">
                                                    </div>
                                                    <small class="form-control-feedback"> Direccíon del rider </small>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Notas de la dirección <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="text" id="notas" name="notas" class="form-control"
                                                            value="<%= (locals.direccion) ? direccion.notas : '' %>"
                                                            required data-validation-required-message="Éste campo es requerido">
                                                    </div>
                                                    <small class="form-control-feedback"> Digite las notas de la dirección (Bloque, apartamento, etc) </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/row-->
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-offset-3 col-md-9">
                                                        <button type="submit" class="btn btn-success">
                                                            <i class="fa fa-check"></i>
                                                            Guardar
                                                        </button>
                                                        <a href="/administrador/riders">
                                                            <button type="button" class="btn btn-inverse">Cancelar</button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6"> </div>
                                        </div>
                                    </div>
