<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/head%>
    <link href="/static/dist/css/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="/static/dist/css/sweetalert.css" rel="stylesheet">
</head>


<body class="skin-blue fixed-layout">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Traigo</p>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">

        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <% include ../../partials/header%>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <% include ../../partials/sidebar%>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->

        <div class="page-wrapper">

            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Riders</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/administrador">Administrador</a></li>
                                <li class="breadcrumb-item active">Riders</li>
                            </ol>
                            <a href="/administrador/riders/create">
                                <button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i>
                                    Nuevo rider
                                </button>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="card-body">
                            <form class="form-horizontal" role="form" action="/administrador/modificarlimiteriders" method="POST" enctype="multipart/form-data">
                                <div class="form-body">
                                    <div class="form-group row">
                                        <label class="control-label text-right col-md-3">Configurar limite de pedidos </label>
                                        <div class="col-md-9">
                                            <input type="text" placeholder="limite" class="form-control" id="limite" name="limite">
                                            <small class="form-control-feedback">Dejar vacío para restaura el límite predeterminado</small> 
                                        </div>
                                    </div>
                                </div>
                            </form>    
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card-body">
                            <button type="button" class="btn waves-effect waves-light btn-primary" data-toggle="tooltip" title="Desactiva todos lo riders" id="disabled-riders">Desactivar riders</button>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card-body">
                            <a href="/administrador/get-all-payment-requests">
                                <button type="button" class="btn waves-effect waves-light btn-primary" data-toggle="tooltip" title="Genera las solicitudes de pago de todos los riders">Generar solicitudes</button>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <%if(info == "eliminated"){%>
                                <div class="alert alert-info alert-rounded">
                                    <i class="ti-user"></i>
                                    Se ha eliminado el Rider
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <%}else if(info == "err"){%>
                                <div class="alert alert-danger alert-rounded">
                                    <i class="ti-user"></i>
                                    Ha ocurrido un error en la operacion
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <%}else if(info == "correct"){%>
                                <div class="alert alert-success alert-rounded">
                                    <i class="ti-user"></i>
                                    Rider agregado con éxito
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <%}else if(info == "update"){%>
                                    <div class="alert alert-success alert-rounded">
                                        <i class="ti-user"></i>
                                        Rider actualizado con éxito
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                <%}else if(info == "correct"){%>
                                <div class="alert alert-success alert-rounded">
                                    <i class="ti-user"></i>
                                    Límite modificado para todos los Riders
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <%}%>
                                <h4 class="card-title">Lista de riders</h4>
                                <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
                                <div class="table-responsive m-t-40">
                                    <table id="tbl_riders" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Foto</th>
                                                <th>Cédula</th>
                                                <th>Nombre</th>
                                                <th>Teléfono</th>
                                                <th>Correo</th>
                                                <th>Lista negra</th>
                                                <th>Cuenta</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>Foto</th>
                                                <th>Cédula</th>
                                                <th>Nombre</th>
                                                <th>Teléfono</th>
                                                <th>Correo</th>
                                                <th>Lista negra</th>
                                                <th>Cuenta</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <%for(var i = 0; i < riders.length; i++){%>
                                            <tr>
                                                <td>
                                                    <img src="/static/img/rider/<%=riders[i].foto_perfil%>" alt="image"
                                                        class="img-circle" width="50">
                                                </td>
                                                <td>
                                                    <%=riders[i].cedula%>
                                                </td>
                                                <td>
                                                    <%=riders[i].nombre%> <%=riders[i].apellido%>
                                                </td>
                                                <td>
                                                    <%=riders[i].telefono%>
                                                </td>
                                                <td>
                                                    <%=riders[i].correo%>
                                                </td>
                                                <td>
                                                    <%=riders[i].listanegra%>
                                                </td>
                                                <td>
                                                    $<%=riders[i].cuenta%>
                                                </td>
                                                <td class="row">
                                                    <a href="/administrador/riders/<%=riders[i].cedula%>/request">
                                                        <button type="button" class="btn btn-info btn-circle">
                                                            <i class="far fa-money-bill-alt"></i>
                                                        </button>
                                                    </a>
                                                    
                                                    <a href="/administrador/riders/<%=riders[i].cedula%>/edit">
                                                        <button type="button" class="btn btn-warning btn-circle">
                                                            <i class="fas fa-edit"></i>
                                                        </button>
                                                    </a>
                                                    <button type="button" class="btn btn-danger btn-circle" data-toggle="modal"
                                                        data-target="#modal<%=i%>">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                    <!-- sample modal content -->
                                                    <div class="modal fade bs-example-modal-sm" id="modal<%=i%>"
                                                        tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
                                                        aria-hidden="true" style="display: none;">
                                                        <div class="modal-dialog modal-sm">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h4 class="modal-title" id="mySmallModalLabel">Eliminar</h4>
                                                                    <button type="button" class="close" data-dismiss="modal"
                                                                        aria-hidden="true">×</button>
                                                                </div>
                                                                <div class="modal-body col-md-12">
                                                                    <p>
                                                                        ¿Seguro que desea eliminar éste elemento?
                                                                    </p>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-danger btn-circle"
                                                                        data-dismiss="modal">
                                                                        <i class="fa fa-times"></i>
                                                                    </button>
                                                                    <!--<form action="/administrador/riders/<%=riders[i].cedula%>" method="POST">
                                                                        <input type="hidden" name="_method" value="DELETE">-->
                                                                        <a href="/administrador/riders/delete/<%=riders[i].cedula%>">
                                                                            <button type="button" class="btn btn-rounded btn-block btn-outline-success">
                                                                                Aceptar
                                                                            </button>
                                                                        </a>
                                                                        
                                                                    <!--</form>-->
                                                                </div>
                                                            </div>
                                                            <!-- /.modal-content -->
                                                        </div>
                                                        <!-- /.modal-dialog -->
                                                    </div>
                                                </td>
                                            </tr>
                                            <%}%>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<% include ../../partials/footer%>
    </div>

    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->

    <% include ../../partials/scripts%>
    
    <script src="/static/dist/js/datatables.min.js"></script>
    <script src="/static/dist/js/sweetalert.min.js"></script>

    <!--stickey kit -->
    <script src="/static/dist/js/sticky-kit.min.js"></script>

    <!-- start - This is for export functionality only -->
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
    <!-- end - This is for export functionality only -->

    <script>
         $('#disabled-riders').click(function(){
            swal({   
                title: "¿Seguro que desea desactivar todos lo riders?",   
                text: "Se desactivarán todos los riders que esten activos.",   
                type: "warning",   
                showCancelButton: true,   
                confirmButtonColor: "#DD6B55",   
                confirmButtonText: "SI",
                cancelButtonText: "NO",
                closeOnConfirm: false
            })
            .then((value) => {
                if (value.value) {
                    fetch(`/administrador/riders/disable`)
                    .then((res) => {
                        return res.json();
                    })
                    .then((json) => {
                        const msg = json.msg;
                        $.toast({
                            heading: 'Riders',
                            text: msg,
                            position: 'top-right',
                            loaderBg:'#ff6849',
                            icon: 'info',
                            hideAfter: 3000, 
                            stack: 6
                        });
                    })
                    .catch(err => {
                        console.err('Error desactivar riders', err);
                    });
                }
            });
        });

            // Tabla Riders
            var tbl_riders = $('#tbl_riders').DataTable({
                orderCellsTop: true,
                fixedHeader: true,
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ],
                language: {
                    url: "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json",
                }
            });
            tbl_riders.columns.adjust().draw();
    
            $('#tbl_riders thead tr').clone(true).appendTo('#tbl_riders thead');

            $('#tbl_riders thead tr:eq(1) th').each(function (i) {
                var title = $(this).text();
                if (!(i === 0 || i === 7)) {
                    $(this).html('<input class="form-control" type="text" placeholder="Buscar ' + title + '" />');
                    $('input', this).on('keyup change', function () {
                        if (tbl_riders.column(i).search() !== this.value) {
                            tbl_riders
                                .column(i)
                                .search(this.value)
                                .draw();
                        }
                    });
                }
            });
    
            $('.buttons-copy, .buttons-csv, .buttons-print, .buttons-pdf, .buttons-excel')
                .addClass('btn btn-primary mr-1');

    </script>

</body>

</html>