<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/head%>
    <link href="/static/dist/css/pages/google-vector-map.css" rel="stylesheet">
</head>


<body class="skin-blue fixed-layout">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Traigo</p>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">

        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <% include ../../partials/header%>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <% include ../../partials/sidebar%>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->

        <div class="page-wrapper">

            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Mapa riders</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0)">Administrador</a></li>
                                <li class="breadcrumb-item active">Mapa riders</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Mapa rides</h4>
                                <div id="map" class="gmaps"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

<% include ../../partials/footer%>
    </div>

    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->

    <% include ../../partials/scripts%>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKwCnkuKfwRNZUEDhXGDM6FHzsM9AD-Js"></script>
    <script src="/static/dist/js/gmaps.min.js"></script>
    <script src="/static/dist/js/jquery.gmaps.js"></script>

    <script>

		var io = io.connect('/', {'forceNew':true});
		
		var markerOption = {center: new google.maps.LatLng(4.534440, -75.675830)}

		var markers = [];
		var infos = [];
		var marker = new google.maps.Marker({
			position: markerOption.center,
			map: null,
			title: 'Rider'
		});

		io.on("mapariders", function(data){
			for(var i = 0; i < markers.length; i++){
					markers[i].setMap(null);
				}
			
			if(data != null){
				var riders = data;
				infos = [];	
				markers = [];
				for(var i = 0; i < riders.length; i++){
					var nuevoMarker = new google.maps.Marker({
						position: markerOption.center,
						map: null,
						title: 'Rider',
						icon: '/static/img/rider.png'
					});

					markerOption.center = new google.maps.LatLng(riders[i].latitude, riders[i].longitude);
					nuevoMarker.setPosition(markerOption.center);

					var infowindow = new google.maps.InfoWindow({});
					var content = '<div id="content"><p>' + '<b> ' + riders[i].nombre + ' </b> </br><b>ID:</b> ' 
                        + riders[i].cedula +  '</br><b>Tel: </b>' + riders[i].telefono + '</p></div>'
						
                    infowindow.setContent(content);
                    infowindow.open(map,nuevoMarker);
					
					google.maps.event.addListener(nuevoMarker,'click', (function(nuevoMarker,content,infowindow){ 
					    return function() {
                            infowindow.setContent(content);
                            infowindow.open(map,nuevoMarker);
					    };
					})(nuevoMarker,content,infowindow)); 
				
					nuevoMarker.setMap(map);
					markers.push(nuevoMarker);
				}
			}
			setTimeout(function(){io.emit("riders", {})}, 15000);
		});


		var map;

		var myOptions = {
			center: new google.maps.LatLng(4.534440, -75.675830),
			zoom: 14,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};

		function initialize() {
			map = new google.maps.Map(document.getElementById("map"),myOptions);
			io.emit("riders", {});
		}

		google.maps.event.addDomListener(window, 'load', initialize);
	</script>

</body>

</html>