<!-- Componente modal para la publicacion de las alertas -->
<div class="modal fade bs-example-modal-lg" id="modalPublishAlerts" role="dialog"
tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Formulario para la publicación de alertas</h4>
                <button type="button" class="close" data-dismiss="modal"
                    aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <form novalidate v-on:submit.prevent="sendAlert();" enctype="multipart/form-data">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <h5>Tipos de alerta</h5>
                                    <div class="controls">
                                        <v-select multiple :options="mListTypesAlerts" :reduce="mListTypesAlerts => mListTypesAlerts.id"
                                            label="description" @input="filterTypeAlert"></v-select>
                                        <small class="form-control-feedback">
                                            Filtrar alertas por su tipo.
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <h5>Lista de alertas<span class="text-danger">*</span></h5>
                                    <div class="controls">
                                        <v-select  :options="mListAlerts" :reduce="mListAlerts => mListAlerts.id" label="nombre" v-model="mAlertSelected"></v-select >
                                        <small class="form-control-feedback">
                                            Selector de alertas.
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h5>Lista de tiendas<span class="text-danger">*</span></h5>
                                <div class="controls row">
                                    <div class="col-md-8">
                                        <v-select multiple :options="mListShops" :reduce="mListShops => mListShops.idtienda"
                                            label="nombre" v-model="mShopsSelected" @input="selectAllShopsEvent"></v-select>
                                        <small class="form-control-feedback">
                                            Selector de lista de tiendas.
                                        </small>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="button-group">
                                            <button type="button" class="btn waves-effect waves-light btn-outline-info" @click="selectAllShops">
                                                <i class="fa fa-check"></i>
                                                Todas
                                            </button>
                                            <button v-if="mShopsSelected.length > 0" type="button" class="btn waves-effect waves-light btn-outline-danger" @click="deselectAllShops">
                                                <i class="fa fa-trash"></i>
                                                Quitar todas
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/row-->
                    <hr>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button type="submit" class="btn btn-success">
                                            <i class="fa fa-check"></i>
                                            Publicar alerta
                                        </button>
                                        <button type="button" class="btn btn-inverse" data-dismiss="modal">Cancelar</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
<!-- /.modal-dialog -->
</div>