<!-- Componente modal para la publicacion de las alertas -->
<div class="modal fade bs-example-modal-lg" id="alertModal" role="dialog"
tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <img :src="img" class="img-fluid">
        </div>
        <!-- /.modal-content -->
    </div>
<!-- /.modal-dialog -->
</div>