<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/head%>
    <link href="/static/dist/css/sweetalert.css" rel="stylesheet">
</head>

<body class="skin-blue fixed-layout">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Traigo</p>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">

        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <% include ../../partials/header%>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <% include ../../partials/sidebar%>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->

        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Planes de tiendas</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/administrador">Administrador</a></li>
                                <li class="breadcrumb-item active">Planes de tiendas</li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="row" id="app">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body" id="history">
                                <h4 class="card-title">Historial de consumo de planes de tiendas</h4>
                                <!--<h6 class="card-subtitle">Holi</h6>-->
                                <div class="table-responsive m-t-40">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <div class="input-group footable-filtering-search">
                                                        <label class="sr-only"></label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" v-model="f_shop" placeholder="Tienda">
                                                        </div>
                                                    </div>
                                                </th>
                                                <th>Planes</th>
                                                <th>Pedidos disponibles</th>
                                                <th>Estado</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(tp, index) in plansShopFilter()">
                                                <td> {{ tp.tienda }}</td>
                                                <td>
                                                    <list_elements
                                                    v-for="pl in tp.planes"
                                                    :name="pl.plan"></list_elements>
                                                </td>
                                                <td>
                                                    <list_elements
                                                    v-for="pl in tp.planes"
                                                    :name="pl.total_pedidos"></list_elements>
                                                </td>
                                                <td>
                                                    <list_elements
                                                    v-for="pl in tp.planes"
                                                    :name="pl.estado"
                                                    :state="true"></list_elements>
                                                </td>
                                                <td>
                                                    <a :href="tp.linkTienda">
                                                        <button type="button" class="btn btn-info btn-lg btn-circle" data-toggle="tooltip" data-original-title="Más información">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </a>
                                                </td>
                                                <!--<td><span class="label label-danger">admin</span> </td>-->
                                            </tr>

                                        </tbody>
                                    </table>
                                    
                                    <paginate
                                        :page-count="numPages"
                                        :click-handler="pageEvent"
                                        :prev-text="'Anterior'"
                                        :next-text="'Siguiente'"
                                        :container-class="'pagination'"
                                        :page-class="'page-item'"
                                        :page-link-class="'page-link'"
                                        :prev-class="'page-item'"
                                        :next-class="'page-item'"
                                        :prev-link-class="'page-link'"
                                        :next-link-class="'page-link'">
                                    </paginate>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<% include ../../partials/footer%>
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->

    <% include ../../partials/scripts%>

    <script src="/static/dist/js/sweetalert.min.js"></script>
    <!--stickey kit -->
    <script src="/static/dist/js/sticky-kit.min.js"></script>
    <!-- Paginador -->
    <script src="https://unpkg.com/vuejs-paginate@latest"></script>

    <script type="text/javascript">

        // Componente para listar los elementos de una columna
        Vue.component('list_elements', {
            props: [
                'name',
                'state'
            ],
            template: '<p><span :class="setColorState(name)">{{ name }}</span></p>',
            methods: {
                setColorState(state) {
                    if (state) {
                        if (state === 'Activo') {
                            return 'label label-info';
                        } else if (state === 'Inactivo') {
                            return 'label label-primary';
                        } else if (state === 'Pendiente') {
                            return 'label label-success';
                        } else if (state === 'Cancelado') {
                            return 'label label-danger';
                        }
                    }
                    return '';
                }
            },
        });

        // Componente de paginacion
        Vue.component('paginate', VuejsPaginate)
        
        let vue = new Vue({
            el: '#app',
            data: {
                pagesItems: 10,  // Items por pagina
                numPages: 1, // Numero de paginas
                currentPage: 0, // Pagina actual
                listPlansShops: [], // Lista de tiendas planes
                f_shop: '', // Campo de filtro para tiendas
                f_plan: ''  // Campo de filtro para planes
            },
            methods: {
                pageEvent(page) {
                    this.currentPage = page-1;
                    this.paginate(this.listPlansShops);
                },
                /**
                 * Carga la lista de tiendas planes 
                 */
                chargePlansShop() {
                    axios({
                        method: 'GET',
                        url: '/administrador/get-planes-tiendas',
                        responseType: 'json',
                        headers: { 'Content-Type': 'application/json' }
                    })
                    .then(request => {
                        this.listPlansShops = this.organizeList(request.data);
                    });
                },
                /**
                 * Organiza la lista filtrando por tienda
                 */
                organizeList(tiendasPlanes) {
                    // Lista de tiendas planes organizadas
                    let listTiendasPlanes = [];

                    // Filtra los planes de tienda por nombre de tienda
                    let filterTienda = (list, name) => {
                        // Estructura de respuesta
                        let response = {
                            // Verifica si el elemento es encontrado
                            isFind: false
                        }
                        // Verifica si hay elementos en la lista
                        if (list.length > 0) {
                            for (let i = 0; i < list.length; i++) {
                                const item = list[i];
                                if (item.tienda === name) {
                                    response.indx = i;
                                    response.isFind = true;
                                    return response;
                                }
                            }
                        }
                        return response;
                    };

                    for (let i = 0; i < tiendasPlanes.length; i++) {
                        const tp = tiendasPlanes[i];
                        const filter = filterTienda(listTiendasPlanes, tp.tienda);

                        // Si el elemento se encuentra
                        if (filter.isFind) {
                            // Actualiza el elemento de la lista de tiendas planes
                            listTiendasPlanes[filter.indx].planes.push({
                                linkTienda: `/administrador/tiendas/${tp.idtienda}/planes`,
                                plan: tp.plan,
                                total_pedidos: tp.total_pedidos,
                                estado: tp.estado
                            })
                        } else {
                            // Agrega un nuevo elemento a la lista de tiendas planes
                            listTiendasPlanes.push({
                                linkTienda: `/administrador/tiendas/${tp.idtienda}/planes`,
                                tienda: tp.tienda,
                                planes: [{
                                    plan: tp.plan,
                                    total_pedidos: tp.total_pedidos,
                                    estado: tp.estado
                                }]
                            });
                        }
                    }
                    
                    return listTiendasPlanes
                },
                /**
                 * Filtra todos las tiendas planes por las coincnidencias
                 */ 
                plansShopFilter() {

                    // Se verifica si existe una lista de órdenes
                    if (this.listPlansShops) {

                        // Filtros a ejecutar por el criterio ingresado
                        let filters = {
                            tienda: [this.f_shop.toUpperCase()],
                            //planes:  [this.f_rider_name.toUpperCase()]
                        }

                        // Obtenemos las llaves de los filtros
                        let filterKeys = Object.keys(filters);
                        // Filtra todas las considecias por por los filtros dispoibles
                        return this.paginate(this.listPlansShops.filter((item) => {
                                // Por cada filtro ingresado verificamos si lo incluye en el elemento de la clave
                                return filterKeys.every((key) => {
                                    return item[key].toUpperCase().includes(filters[key]);
                                });
                            }
                        ));
                    }
                },
                /**
                 * Organiza los elementos de paginacion
                 */ 
                paginate(array) {
                    // Calcula el numero de paginas del paginador
                    this.numPages = Math.ceil(array.length / this.pagesItems);
                    return array.slice(this.currentPage * this.pagesItems, (this.currentPage + 1) * this.pagesItems);
                }
            }
        });

        vue.chargePlansShop();

    </script>
</body>

</html>