
<div class="form-body">
    <!--/row-->
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <h5>Nombre <span class="text-danger">*</span></h5>
                <div class="controls">
                    <input type="text" id="nombre" name="nombre" class="form-control"
                        value="<%= (locals.plan) ? plan.nombre : '' %>"
                        required data-validation-required-message="Éste campo es requerido">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <h5>Precio <span class="text-danger">*</span></h5>
                <div class="input-group">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                    </div>
                    <input type="number" id="precio" name="precio" class="form-control" step="0.01"
                        value="<%= (locals.plan) ? plan.precio : '' %>"
                        required data-validation-required-message="This field is required">
                    <div class="input-group-append">
                        <span class="input-group-text">0.00</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/row-->
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <h5>Tipo de plan <span class="text-danger">*</span></h5>
                <div class="controls">
                    <select class="form-control custom-select select2" id="tipo" name="tipo" onchange="selectTypePlan()"
                        required>
                        <%for (let i = 0; i < types.length; i++) {%>
                        <option value="<%=types[i].id%>"><%=types[i].name%></option>
                        <%}%>
                    </select>
                    <small class="form-control-feedback">
                        Seleccione el tipo de plan
                    </small>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <h5>Número de pedidos <span class="text-danger">*</span></h5>
                <div class="controls">
                    <input type="number" id="num_pedidos" name="num_pedidos" class="form-control"
                        value="<%= (locals.plan) ? plan.num_pedidos : '' %>"
                        required data-validation-required-message="Éste campo es requerido">
                </div>
                <small class="form-control-feedback"> Cantidad de pedidos disponibles para éste plan</small>
            </div>
        </div>
    </div>
    <!--/row-->
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <h5>Descripción </h5>
                <div class="controls">
                    <textarea name="descripcion" id="descripcion" class="form-control" rows="5" placeholder="Descripción del plan"><%= (locals.plan) ? plan.descripcion : '' %></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/row-->
<div class="form-actions">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn btn-success">
                        <i class="fa fa-check"></i>
                        Guardar
                    </button>
                    <a href="/administrador/planes">
                        <button type="button" class="btn btn-inverse">Cancelar</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6"> </div>
    </div>
</div>

<script>
    /**
     * Detecta el tipo de plan seleccionado
     */ 
    function selectTypePlan() {

        // Tipo de plan
        const tipo = document.getElementById('tipo').value;
        // Numero de pedidos
        let numPedidos = document.getElementById('num_pedidos');
        // Si el tipo es ilimitado
        if (parseInt(tipo) === 3) {
            numPedidos.value = 0;
            numPedidos.readOnly = true;
        } else {
            // numPedidos.value = null;
            numPedidos.readOnly = false;
        }

    }
</script>