<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/head%>
    <link href="/static/dist/css/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="/static/dist/css/sweetalert.css" rel="stylesheet">
    <link href="/static/dist/css/daterangepicker.css" rel="stylesheet">
    <link href="/static/dist/css/bootstrap-datepicker.css" rel="stylesheet">
</head>


<body class="skin-blue fixed-layout">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Traigo</p>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">

        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <% include ../../partials/header%>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <% include ../../partials/sidebar%>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->

        <div class="page-wrapper">

            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Planes</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/administrador">Administrador</a></li>
                                <li class="breadcrumb-item active">Planes</li>
                            </ol>
                            <a href="/administrador/planes/create">
                                <button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i>
                                    Nuevo plan
                                </button>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body" id="history">
                                <h4 class="card-title">Historial de consumo de planes de tiendas</h4>
                                <!--<h6 class="card-subtitle">Holi</h6>-->
                                <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <h5>Seleccione el intervalo de fechas para filtrar <span class="text-danger">*</span></h5>
                                                <div class="controls">              
                                                    <v-date-picker :formats='formats' :mode='mode' v-model='selectedDate' />
                                                    <!--<input type="text" class="form-control input-daterange-timepicker" name="daterange" v-model="rango"
                                                        value="10/10/2018 1:30 PM - 10/10/2018 2:00 PM" />-->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <h5>Tiendas <span class="text-danger">*</span></h5>
                                                <div class="controls">
                                                    <select class="form-control" id="tienda" name="tienda" v-model="tienda"
                                                        required>
                                                        <option value="">Todas las tiendas</option>
                                                        <%for (let i = 0; i < tiendas.length; i++) {%>
                                                        <option value="<%=tiendas[i].idtienda%>"><%=tiendas[i].nombre%></option>
                                                        <%}%>
                                                    </select>
                                                    <small class="form-control-feedback">
                                                        Seleccione la tienda a filtrar
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <button
                                                @click="consultar"
                                                >Holli</button>
                                                <br>
                                                <button type="button"
                                                    @click="filtrar"
                                                    class="btn btn-info btn-rounded m-t-10 float-right" 
                                                    data-toggle="tooltip" 
                                                    title="Filtra todo el historial de pedidos por planes de una o todas las tiendas que tengan planes asignados">
                                                    Filtrar
                                                </button>
                                            </div>
                                        </div>
                                        
                                        <!--<div class="col-md-5"></div>
                                        <div class="col-md-5"></div>-->
                                        
                                </div>
                                <div class="table-responsive" >
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Tienda</th>
                                                <th>Último plan</th>
                                                <th>Pedidos realizados</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Deshmukh</td>
                                                <td>Prohaska</td>
                                                <td>@Genelia</td>
                                                <td><span class="label label-danger">admin</span> </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<% include ../../partials/footer%>
    </div>

    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->

    <% include ../../partials/scripts%>
    
    <script src="/static/dist/js/datatables.min.js"></script>
    <script src="/static/dist/js/sweetalert.min.js"></script>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!--stickey kit -->
    <script src="/static/dist/js/sticky-kit.min.js"></script>
    <script src="/static/dist/js/moment.js"></script>
    <script src="/static/dist/js/daterangepicker.js"></script>
    <script src="/static/dist/js/bootstrap-datepicker.min.js"></script>

    <!-- start - This is for export functionality only -->
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
    <!-- end - This is for export functionality only -->

    

    <script src='https://unpkg.com/v-calendar@next'></script>

    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>

        let app = new Vue({
            el: '#history',
            data: {
                tienda: null,
                mode: 'range',
                selectedDate: null,
                formats: {
                    title: 'MMMM YYYY',
                    weekdays: 'W',
                    navMonths: 'MMM',
                    input: ['L', 'YYYY-MM-DD', 'YYYY/MM/DD'], // Only for `v-date-picker`
                    dayPopover: 'L', // Only for `v-date-picker`
                },
                attributes: [
                    {
                        key: 'today',
                        highlight: true,
                        dates: { 
                            start: new Date(2018, 0, 1), end: new Date(2018, 0, 5)
                        }
                    }
                ]
            },
            methods: {
                filtrar () {
                    console.log('Tienda', this.tienda);
                    console.log('Tienda Date', this.selectedDate);
                    
                    let start = moment(this.selectedDate.start).format('YYYY-MM-DD');
                    let end = moment(this.selectedDate.end).format('YYYY-MM-DD');

                    let url = `/administrador/historial-planes?start=${start}&end=${end}`;

                    if (this.tienda) {
                        url += `&tienda=${this.tienda}`;
                    }

                    console.log('URL', url);

                    axios.get(url)
                    .then(res => console.log(res))
                    .catch(err => console.err(err))

                },
                async consultar () {
                    await axios.get('/api/example2')
                    .then(res => console.log(res))
                    .catch(err => console.err(err))
                }
            },
        });
    </script>

    <script>

        $('.input-daterange-timepickerOFF').daterangepicker({
            //            timePicker: true,
            format: 'YYYY-MM-DD HH:mm',
            timePickerIncrement: 1,
            timePicker24Hour: true,
            timePickerSeconds: true,
            buttonClasses: ['btn', 'btn-sm'],
            applyClass: 'btn-danger',
            cancelClass: 'btn-inverse'
        }, function (startDate, endDate, period) {

            $(this).val(startDate.format('L') + ' – ' + endDate.format('L'))
            var datesBefore = {};
            datesBefore.fecha = moment(startDate).format('YYYY-M-DD');
            datesBefore.hora = moment(startDate).format('hh:mm:ss');

            var datesAfter = {};
            datesAfter.fecha = moment(endDate).format('YYYY-M-DD');
            datesAfter.hora = moment(endDate).format('hh:mm:ss');

            var dates = {};
            dates.before = datesBefore;
            dates.after = datesAfter;

            var data = JSON.stringify(dates);


        });

    </script>

    <script>
         $('#disabled-riders').click(function(){
            swal({   
                title: "¿Seguro que desea desactivar todos lo riders?",   
                text: "Se desactivarán todos los riders que esten activos.",   
                type: "warning",   
                showCancelButton: true,   
                confirmButtonColor: "#DD6B55",   
                confirmButtonText: "SI",
                cancelButtonText: "NO",
                closeOnConfirm: false
            })
            .then((value) => {
                if (value.value) {
                    fetch(`/administrador/riders/disable`)
                    .then((res) => {
                        return res.json();
                    })
                    .then((json) => {
                        const msg = json.msg;
                        $.toast({
                            heading: 'Riders',
                            text: msg,
                            position: 'top-right',
                            loaderBg:'#ff6849',
                            icon: 'info',
                            hideAfter: 3000, 
                            stack: 6
                        });
                    })
                    .catch(err => {
                        console.err('Error desactivar riders', err);
                    });
                }
            });
        });

            // Tabla Riders
            var tbl_riders = $('#tbl_riders').DataTable({
                orderCellsTop: true,
                fixedHeader: true,
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ],
                language: {
                    url: "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json",
                }
            });
            tbl_riders.columns.adjust().draw();
    
            $('#tbl_riders thead tr').clone(true).appendTo('#tbl_riders thead');

            $('#tbl_riders thead tr:eq(1) th').each(function (i) {
                var title = $(this).text();
                if (!(i === 0 || i === 7)) {
                    $(this).html('<input class="form-control" type="text" placeholder="Buscar ' + title + '" />');
                    $('input', this).on('keyup change', function () {
                        if (tbl_riders.column(i).search() !== this.value) {
                            tbl_riders
                                .column(i)
                                .search(this.value)
                                .draw();
                        }
                    });
                }
            });
    
            $('.buttons-copy, .buttons-csv, .buttons-print, .buttons-pdf, .buttons-excel')
                .addClass('btn btn-primary mr-1');

    </script>

</body>

</html>