<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/head%>
    <link href="/static/dist/css/sweetalert.css" rel="stylesheet">
</head>


<body class="skin-blue fixed-layout">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Traigo</p>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">

        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <% include ../../partials/header%>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <% include ../../partials/sidebar%>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->

        <div class="page-wrapper">

            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Planes</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/administrador">Administrador</a></li>
                                <li class="breadcrumb-item active">Planes</li>
                            </ol>
                            <a href="/administrador/planes/create">
                                <button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i>
                                    Nuevo plan
                                </button>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <%if(info == "eliminated"){%>
                                <div class="alert alert-info alert-rounded">
                                    <i class="ti-user"></i>
                                    Se ha eliminado el plan
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <%}else if(info == "err"){%>
                                <div class="alert alert-danger alert-rounded">
                                    <i class="ti-user"></i>
                                    Ha ocurrido un error en la operacion
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <%}else if(info == "not_found"){%>
                                <div class="alert alert-danger alert-rounded">
                                    <i class="ti-user"></i>
                                    No se encuentra el elemento
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <%}else if(info == "correct"){%>
                                <div class="alert alert-success alert-rounded">
                                    <i class="ti-user"></i>
                                    Plan agregado con éxito
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <%}else if(info == "update"){%>
                                    <div class="alert alert-success alert-rounded">
                                        <i class="ti-user"></i>
                                        Plan actualizado con éxito
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                <%}else if(info == "correct"){%>
                                <div class="alert alert-success alert-rounded">
                                    <i class="ti-user"></i>
                                    Límite modificado para todos los Riders
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <%}%>
                                <h4 class="card-title">Lista de planes</h4>
                                <div class="table-responsive m-t-40">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Nombre</th>
                                                <th>Precio</th>
                                                <th># pedidos</th>
                                                <th>Tipo</th>
                                                <th>Fecha creación</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>ID</th>
                                                <th>Nombre</th>
                                                <th>Precio</th>
                                                <th># pedidos</th>
                                                <th>Tipo</th>
                                                <th>Fecha creación</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <%for(var i = 0; i < planes.length; i++){%>
                                            <tr>
                                                <td>
                                                    <%=planes[i].id%>
                                                </td>
                                                <td>
                                                    <%=planes[i].nombre%>
                                                </td>
                                                <td>
                                                    $ <%=planes[i].precio%>
                                                </td>
                                                <td>
                                                    <%=planes[i].num_pedidos%>
                                                </td>
                                                <td>
                                                    <%=planes[i].tipo%>
                                                </td>
                                                <td>
                                                    <%=planes[i].createdAt%>
                                                </td>
                                                <td>
                                                    <a href="/administrador/planes/<%=planes[i].id%>/edit">
                                                        <button type="button" class="btn btn-warning btn-circle">
                                                            <i class="fas fa-edit"></i>
                                                        </button>
                                                    </a>
                                                    <%if (!planes[i].tiendas_planes) {%>
                                                    <button type="button" class="btn btn-danger btn-circle" data-toggle="modal"
                                                        data-target="#modal<%=i%>">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                    <%}%>
                                                    <!-- sample modal content -->
                                                    <div class="modal fade bs-example-modal-sm" id="modal<%=i%>"
                                                        tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
                                                        aria-hidden="true" style="display: none;">
                                                        <div class="modal-dialog modal-sm">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h4 class="modal-title" id="mySmallModalLabel">Eliminar</h4>
                                                                    <button type="button" class="close" data-dismiss="modal"
                                                                        aria-hidden="true">×</button>
                                                                </div>
                                                                <div class="modal-body col-md-12">
                                                                    <p>
                                                                        ¿Seguro que desea eliminar éste elemento?
                                                                    </p>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-danger btn-circle"
                                                                        data-dismiss="modal">
                                                                        <i class="fa fa-times"></i>
                                                                    </button>
                                                                        <a href="/administrador/planes/delete/<%=planes[i].id%>">
                                                                            <button type="button" class="btn btn-rounded btn-block btn-outline-success">
                                                                                Aceptar
                                                                            </button>
                                                                        </a>
                                                                        
                                                                </div>
                                                            </div>
                                                            <!-- /.modal-content -->
                                                        </div>
                                                        <!-- /.modal-dialog -->
                                                    </div>
                                                </td>
                                            </tr>
                                            <%}%>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<% include ../../partials/footer%>
    </div>

    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->

    <% include ../../partials/scripts%>
    
    <script src="/static/dist/js/sweetalert.min.js"></script>

    <!--stickey kit -->
    <script src="/static/dist/js/sticky-kit.min.js"></script>

</body>

</html>