<!DOCTYPE html>
<html>
<head>
	<title>Traigo</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
	<link rel = "stylesheet" href="/static/css/app.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
</head>
<body>

	<%-include nav%>

	<div class = "container pt-4 align-items-center">

		<div class = "row h-80 justify-content-center align-items-center titulo">
			<h2><%= usuario.toUpperCase()%></h2>
		</div>

		<div class = "row h-20 justify-content-center align-items-center">
			<%if(fail == 'userpass'){ %>
				<div class="col-4 alert alert-danger" role="alert">
	  				Usuario o contraseña incorrectos
				</div>
			<%}%>
		</div>
		<div class = "row h-80 justify-content-center align-items-center">
			<form class = "form-login col-4" action = "/login/<%=usuario%>/verificar" method = "POST" enctype= multipart/form-data>
			  <div class="form-group">
			   
			    <input type="text" class="form-control" id="usuario" aria-describedby="emailHelp" placeholder="Usuario" name = "usuario" required>
			  </div>
			  <div class="form-group">
			  
			    <input type="password" class="form-control" id="contrasenia" placeholder="Contraseña" name = "contrasenia" required>
			  </div>
			  <button type="submit" class="btn btn-light btn-block btn-form">Ingresar</button>
			</form>
		</div>
	</div>
</body>
</html>