<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/head%>
    <link href="/static/dist/css/jquery-clockpicker.min.css" rel="stylesheet">
    <link href="/static/dist/css/bootstrap-select.min.css" rel="stylesheet" />
</head>


<body class="skin-blue fixed-layout">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Traigo</p>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">

        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <% include ../../partials/header%>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <% include ../../partials/sidebar%>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->

        <div class="page-wrapper">

            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Editar estado</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/administrador">Administrador</a></li>
                                <li class="breadcrumb-item"><a href="/administrador/estados">Estadoss</a></li>
                                <li class="breadcrumb-item active">Editar estado</li>
                            </ol>
                        </div>
                    </div>
                </div>

                <!-- Row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header bg-info">
                                <h4 class="m-b-0 text-white">Formulario de actualizacion de estado</h4>
                            </div>
                            <div class="card-body">
                                <form novalidate action="/administrador/estados/<%=estado.id%>" method="POST" enctype="multipart/form-data">
                                    <input type="hidden" name="_method" value="PUT">
                                    <% include ./fields%>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Row -->
            </div>
        </div>
<% include ../../partials/footer%>
    </div>

    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->

    <% include ../../partials/scripts%>
    <script src="/static/dist/js/pages/validation.js"></script>
    <script src="/static/dist/js/pages/custom.min.js"></script>
    <script src="/static/dist/js/moment.js"></script>
    <!-- Clock Plugin JavaScript -->
    <script src="/static/dist/js/jquery-clockpicker.min.js"></script>
    <script src="/static/dist/js/bootstrap-material-datetimepicker.js"></script>
    <!-- Select bootstrap -->
    <script src="/static/dist/js/bootstrap-select.min.js"></script>
    <script src="/static/dist/js/axios.min.js"></script>

    <script src="/static/dist/js/jquery.inputmask.bundle.js"></script>

    <script type = "text/javascript">

        // Verifica la validacion de los campos de nuevo rider
        $("input,select,textarea").not("[type=submit]").jqBootstrapValidation();
        
        $('.clockpicker').clockpicker({
            donetext: 'Ok',
        }).find('input').change(function() {
            console.log(this.value);
        });

        $(".currency-inputmask").inputmask("******");

        var state = document.getElementById("estados");
        var contexto = document.getElementById("contexto");

        getSelectedOptions(contexto);

        function getSelectedOptions(selected) {
            var ids = [];
            for (var i = 0; i < selected.options.length; i++) {
                var opt = selected.options[i]; 
                if (opt.selected) {
                    ids.push(opt.value);
                }
            }

            if (ids.length > 0) {
                axios({
                    url: '/administrador/getOrderStatus',
                    method: 'GET',
                    responseType:'json',
                    headers: { "Content-Type": "application/json" },
                    params : {
                        ids: JSON.stringify(ids)
                    }
                }).then((estados) => {
                    let states = estados.data;
                    for (var i = 0; i < states.length; i++) {
                        if (states[i].id !== <%= estado.id %>) {
                            state.options.add(new Option(states[i].estado_rider, states[i].id));
                        }
                    };
                });
            }
        }

    </script>
</body>

</html>