
                                    <div class="form-body">
                                        <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <h5>Estado rider <span class="text-danger">*</span></h5>
                                                        <div class="controls">
                                                            <input type="text" id="estado_rider" name="estado_rider" class="form-control"
                                                                value="<%= (locals.estado) ? estado.estado_rider : '' %>"
                                                                required data-validation-required-message="Éste campo es requerido">
                                                        </div>
                                                        <small class="form-control-feedback"> El que parece en la aplicación de riders </small>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <h5>Estado cliente <span class="text-danger">*</span></h5>
                                                        <div class="controls">
                                                            <input type="text" id="estado_cliente" name="estado_cliente" class="form-control"
                                                                value="<%= (locals.estado) ? estado.estado_cliente : '' %>"
                                                                required data-validation-required-message="Éste campo es requerido">
                                                        </div>
                                                        <small class="form-control-feedback"> El que parece en el panel de la tienda </small>
                                                    </div>
                                                </div>
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Tiempo minimo <span class="text-danger">*</span></h5>
                                                    <div class="controls input-group clockpicker" data-placement="bottom" data-align="top" data-autoclose="true">
                                                        <input type="text" id="tiempo_minimo" name="tiempo_minimo" class="form-control"
                                                            placeholder="h : m"
                                                            value="<%= (locals.estado) ? estado.tiempo_minimo : '' %>"
                                                            required data-validation-required-message="Éste campo es requerido">
                                                    </div>
                                                    <small class="form-control-feedback">Tiempo minimo que dura el estado (Horas : Minutos) </small>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Tiempo maximo <span class="text-danger">*</span></h5>
                                                    <div class="controls input-group clockpicker" data-placement="bottom" data-align="top" data-autoclose="true">
                                                        <input type="text" id="tiempo_maximo" name="tiempo_maximo" class="form-control"
                                                            placeholder="h : m"
                                                            value="<%= (locals.estado) ? estado.tiempo_maximo : '' %>"
                                                            required data-validation-required-message="Éste campo es requerido">
                                                    </div>
                                                    <small class="form-control-feedback">Tiempo maximo que dura el estado (Horas : Minutos) </small>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Tiempo bajo demanda <span class="text-danger">*</span></h5>
                                                    <div class="controls input-group clockpicker" data-placement="bottom" data-align="top" data-autoclose="true">
                                                        <input type="text" id="tiempo_demanda" name="tiempo_demanda" class="form-control"
                                                            placeholder="h : m"
                                                            value="<%= (locals.estado) ? estado.tiempo_demanda : '' %>"
                                                            required data-validation-required-message="Éste campo es requerido">
                                                    </div>
                                                    <small class="form-control-feedback">Tiempo bajo demanda que dura el estado (Horas : Minutos) </small>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Color <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="text" id="color" name="color" class="form-control currency-inputmask"
                                                            value="<%= (locals.estado) ? estado.color : '' %>"
                                                            required data-validation-required-message="Éste campo es requerido">
                                                    </div>
                                                    <small class="form-control-feedback">Tiempo maximo que dura el estado (Horas : Minutos) </small>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <h5>Descripción <span class="text-danger">*</span> <small>Max 300 caracteres</small></h5>
                                                    <div class="controls">
                                                        <textarea name="descripcion" id="descripcion" class="form-control"
                                                            placeholder="Descipción del paso del estado (app riders)"
                                                            required data-validation-required-message="Éste campo es requerido"><%= (locals.estado) ? estado.descripcion : '' %></textarea>
                                                    </div>
                                                    <small class="form-control-feedback">Descripción del estado para los pasos del rider </small>
                                                </div>
                                            </div>
                                        </div>
                                        <% if(true) {%> 
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Tipo de pedidos <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <select class="selectpicker m-b-20 m-r-10 form-control" multiple data-style=" btn-info" data-actions-box="true"
                                                            onChange="getSelectedOptions(this)" name="contexto" id="contexto"
                                                            required data-validation-required-message="Éste campo es requerido">
                                                            <%for (let i = 0; i < tipos.length; i++) {%>
                                                                <option data-tokens="<%=tipos[i].id%>" <%= (tipos[i].selected)? 'selected':''%> value="<%=tipos[i].id%>"><%=tipos[i].slug%></option>
                                                            <%}%>
                                                        </select>
                                                    </div>
                                                    <small class="form-control-feedback">Seleccione los tipos de pedido a los que pertenece el estado. </small>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Estados</h5>
                                                    <div class="controls">
                                                        <select class="selectpicker m-b-20 m-r-10 form-control show-tick" data-style=" btn-info"
                                                            name="estados" id="estados">
                                                            <option disabled selected>Seleccione un estado anterior</option>
                                                        </select>
                                                    </div>
                                                    <small class="form-control-feedback">Seleccione el estado anterior a éste. </small>
                                                </div>
                                            </div>
                                        </div>
                                        <%}%>
                                    </div>
                                    <!--/row-->
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-offset-3 col-md-9">
                                                        <button type="submit" class="btn btn-success">
                                                            <i class="fa fa-check"></i>
                                                            Guardar
                                                        </button>
                                                        <a href="/administrador/estados">
                                                            <button type="button" class="btn btn-inverse">Cancelar</button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6"> </div>
                                        </div>
                                    </div>
