
                                    <div class="form-body">
                                        <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <h5>Costo de envio del deseo <span class="text-danger">*</span></h5>
                                                        <div class="controls">
                                                            <input type="text" id="costo_envio_deseo" name="costo_envio_deseo" class="form-control"
                                                                value="<%= (locals.costo) ? costo.costo_envio_deseo : '' %>"
                                                                required data-validation-required-message="Éste campo es requerido">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <h5>Comisión del cliente por deseo <span class="text-danger">*</span></h5>
                                                        <div class="controls">
                                                            <input type="text" id="comision_cliente_deseo" name="comision_cliente_deseo" class="form-control"
                                                                value="<%= (locals.costo) ? costo.comision_cliente_deseo : '' %>"
                                                                required data-validation-required-message="Éste campo es requerido">
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Costo de envío de pedido del cliente <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="text" id="costo_envio_cliente" name="costo_envio_cliente" class="form-control"
                                                            value="<%= (locals.costo) ? costo.costo_envio_cliente : '' %>"
                                                            required data-validation-required-message="Éste campo es requerido">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Comisión del rider del pedido del cliente <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="text" id="comision_rider_cliente" name="comision_rider_cliente" class="form-control"
                                                            value="<%= (locals.costo) ? costo.comision_rider_cliente : '' %>"
                                                            required data-validation-required-message="Éste campo es requerido">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Costo de envío de un mandado <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="text" id="costo_envio_mandado" name="costo_envio_mandado" class="form-control"
                                                            value="<%= (locals.costo) ? costo.costo_envio_mandado : '' %>"
                                                            required data-validation-required-message="Éste campo es requerido">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Costo por parada de un mandado<span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="text" id="costo_paradas_mandado" name="costo_paradas_mandado" class="form-control"
                                                            value="<%= (locals.costo) ? costo.costo_paradas_mandado : '' %>"
                                                            required data-validation-required-message="Éste campo es requerido">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Comisión del rider por un mandado<span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="text" id="comision_rider_mandado" name="comision_rider_mandado" class="form-control"
                                                            value="<%= (locals.costo) ? costo.comision_rider_mandado : '' %>"
                                                            required data-validation-required-message="Éste campo es requerido">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Comision del rider por pedido empresarial<span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="text" id="comision_rider_empresarial" name="comision_rider_empresarial" class="form-control"
                                                            value="<%= (locals.costo) ? costo.comision_rider_empresarial : '' %>"
                                                            required data-validation-required-message="Éste campo es requerido">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <h5>País <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <select class="form-control custom-select" id="pais" name="pais"
                                                            required>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <h5>Departamento <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <select class="form-control custom-select" id="departamento" name="departamento"
                                                            required>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <h5>Ciudad <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <select class="form-control custom-select" id="ciudad" name="municipio"
                                                            required>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/row-->
                                    </div>
                                    <!--/row-->
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-offset-3 col-md-9">
                                                        <button type="submit" class="btn btn-success">
                                                            <i class="fa fa-check"></i>
                                                            Guardar
                                                        </button>
                                                        <a href="/administrador/costos">
                                                            <button type="button" class="btn btn-inverse">Cancelar</button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6"> </div>
                                        </div>
                                    </div>
