<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head%>
</head>


<body class="skin-blue fixed-layout">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Traigo</p>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">

        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <% include ../partials/header%>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <% include ../partials/sidebar%>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->

        <div class="page-wrapper">

            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Costos</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0)">Administrador</a></li>
                                <li class="breadcrumb-item active">Costos</li>
                            </ol>
                            <!--<button type="button" class="btn btn-info d-none d-lg-block m-l-15">
                                <i class="fa fa-plus-circle"></i>
                                Create New
                            </button>-->
                        </div>
                    </div>
                </div>

                <!-- Row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header bg-info">
                                <h4 class="m-b-0 text-white">Formulario para la actualización de costos</h4>
                            </div>
                            <div class="card-body">
                                <%if(info == "eliminated"){%>
                                <div class="alert alert-info alert-rounded">
                                    <i class="ti-user"></i>
                                    Se ha eliminado el costos
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <%}else if(info == "err"){%>
                                <div class="alert alert-danger alert-rounded">
                                    <i class="ti-user"></i>
                                    Ha ocurrido un error en la operacion
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <%}else if(info == "correct"){%>
                                <div class="alert alert-success alert-rounded">
                                    <i class="ti-user"></i>
                                    Costos agregados con éxito
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <%}else if(info == "update"){%>
                                <div class="alert alert-success alert-rounded">
                                    <i class="ti-user"></i>
                                    Costos actualizados con éxito
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <%}%>
                                <form novalidate action="/administrador/modificarcostos" method="POST" enctype="multipart/form-data">
                                    <div class="form-body">
                                        <h3 class="card-title">Costos</h3>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Costo de envio del deseo <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="text" id="costo_envio_deseo" name="costo_envio_deseo" class="form-control"
                                                            value="<%= (locals.costos) ? costos.costo_envio_deseo : '' %>"
                                                            required data-validation-required-message="Éste campo es requerido">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Comisión del cliente por deseo <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="text" id="comision_cliente_deseo" name="comision_cliente_deseo" class="form-control"
                                                            value="<%= (locals.costos) ? costos.comision_cliente_deseo : '' %>"
                                                            required data-validation-required-message="Éste campo es requerido">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Costo de envío de pedido del cliente <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="text" id="costo_envio_cliente" name="costo_envio_cliente" class="form-control"
                                                            value="<%= (locals.costos) ? costos.costo_envio_cliente : '' %>"
                                                            required data-validation-required-message="Éste campo es requerido">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Comisión del rider del pedido del cliente <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="text" id="comision_rider_cliente" name="comision_cliente_deseo" class="form-control"
                                                            value="<%= (locals.costos) ? costos.comision_rider_cliente : '' %>"
                                                            required data-validation-required-message="Éste campo es requerido">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Costo de envío de un mandado <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="text" id="costo_envio_mandado" name="costo_envio_mandado" class="form-control"
                                                            value="<%= (locals.costos) ? costos.costo_envio_mandado : '' %>"
                                                            required data-validation-required-message="Éste campo es requerido">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Costo por parada de un mandado<span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="text" id="costo_paradas_mandado" name="costo_paradas_mandado" class="form-control"
                                                            value="<%= (locals.costos) ? costos.costo_paradas_mandado : '' %>"
                                                            required data-validation-required-message="Éste campo es requerido">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Comisión del rider por un mandado<span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="text" id="comision_rider_mandado" name="comision_rider_mandado" class="form-control"
                                                            value="<%= (locals.costos) ? costos.comision_rider_mandado : '' %>"
                                                            required data-validation-required-message="Éste campo es requerido">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Comision del rider por pedido empresarial<span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="text" id="comision_rider_empresarial" name="comision_rider_empresarial" class="form-control"
                                                            value="<%= (locals.costos) ? costos.comision_rider_empresarial : '' %>"
                                                            required data-validation-required-message="Éste campo es requerido">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/row-->
                                    </div>
                                    <div class="form-actions">
                                        <button type="submit" class="btn btn-success"> 
                                            <i class="fa fa-check"></i> 
                                            Guardar
                                        </button>
                                        <a href="/administrador">
                                            <button type="button" class="btn btn-inverse">Cancelar</button>
                                        </a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Row -->
            </div>

        </div>

<% include ../partials/footer%>
    </div>

    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->

    <% include ../partials/scripts%>

</body>

</html>