<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head%>
    <link href="/static/dist/css/jquery-clockpicker.min.css" rel="stylesheet">
</head>


<body class="skin-blue fixed-layout">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Traigo</p>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">

        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <% include ../partials/header%>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <% include ../partials/sidebar%>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->

        <div class="page-wrapper">

            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Formulario Sucursal</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0)">Administrador</a></li>
                                <li class="breadcrumb-item"><a href="javascript:void(0)">Sucursales</a></li>
                                <li class="breadcrumb-item active">Formulario Sucursal</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header bg-info">
                            <h4 class="m-b-0 text-white">Other Sample form</h4>
                        </div>
                        <div class="card-body">
                            <form novalidate action="/administrador/agregarsucursal" method="POST" enctype=multipart/form-data>
                                <div class="form-body">
                                    <h3 class="card-title">Agregar sucursal</h3>
                                    <hr>
                                    <div class="form-group">
                                        <input type="hidden" id="latitude" name = "latitude" value = 0>
                                    </div>
                                    <div class="form-group">
                                        <input type="hidden" id="longitude" name = "longitude" value = 0>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <!--<div class="form-group has-success">-->
                                            <div class="form-group">
                                                <h5>Tienda <span class="text-danger">*</span></h5>
                                                <div class="controls">
                                                    <select class="form-control custom-select" id="tienda" name="tienda"
                                                        required>
                                                    </select>
                                                    <small class="form-control-feedback">
                                                        Seleccione la tienda a la que pertenece la sucursal
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-4">
                                            <!--<div class="form-group has-success">-->
                                            <div class="form-group">
                                                <h5>Categoria <span class="text-danger">*</span></h5>
                                                <div class="controls">
                                                    <select class="form-control custom-select" id="categoria" name="categoria"
                                                        required>
                                                    </select>
                                                    <small class="form-control-feedback">
                                                        Seleccione la categoria a la que pertenece la sucursal
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <h5>¿Retiene? <span class="text-danger">*</span></h5>
                                                <div class="controls">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" required value="single" class="custom-control-input"
                                                            id="retenido">
                                                        <label class="custom-control-label" for="retenido">Retiene</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row p-t-20">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <h5>Nombre <span class="text-danger">*</span></h5>
                                                <div class="controls">
                                                    <input type="text" id="nombre" name="nombre" class="form-control"
                                                        required data-validation-required-message="Éste campo es requerido">
                                                </div>
                                                <small class="form-control-feedback"> Nombre de la sucursal </small>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <h5>RUT <span class="text-danger">*</span></h5>
                                                <div class="controls">
                                                    <input type="text" id="rut" name="rut" class="form-control" required
                                                        data-validation-required-message="Éste campo es requerido">
                                                </div>
                                                <small class="form-control-feedback"> RUT de la sucursal </small>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row p-t-20">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <h5>Tipo contrato <span class="text-danger">*</span></h5>
                                                <div class="controls">
                                                    <select class="form-control custom-select" id="empresarial" name="empresarial"
                                                        required>
                                                        <option disabled selected>Tipo de contrato</option>
                                                        <option>Normal</option>
                                                        <option>Solo empresarial</option>
                                                        <option>Solo tienda</option>
                                                    </select>
                                                    <small class="form-control-feedback">
                                                        Seleccione el tipo de contrato de la sucursal
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row p-t-20">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <h5>País <span class="text-danger">*</span></h5>
                                                <div class="controls">
                                                    <select class="form-control custom-select" id="pais" name="pais"
                                                        required>
                                                    </select>
                                                    <small class="form-control-feedback">
                                                        Seleccione el país de la sucursal
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <h5>Departamento <span class="text-danger">*</span></h5>
                                                <div class="controls">
                                                    <select class="form-control custom-select" id="departamento" name="departamento"
                                                        required>
                                                    </select>
                                                    <small class="form-control-feedback">
                                                        Seleccione el departamento de la sucursal
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <h5>Ciudad <span class="text-danger">*</span></h5>
                                                <div class="controls">
                                                    <select class="form-control custom-select" id="ciudad" name="municipio"
                                                        required>
                                                    </select>
                                                    <small class="form-control-feedback">
                                                        Seleccione la ciudad de la sucursal
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <h5>Dirección <span class="text-danger">*</span></h5>
                                                <div class="controls">
                                                    <input type="text" id="direccion" name="direccion" class="form-control"
                                                        required data-validation-required-message="Éste campo es requerido">
                                                </div>
                                                <small class="form-control-feedback">
                                                    Seleccione la dirección del mapa
                                                </small>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <h5>Notas <span class="text-danger">*</span></h5>
                                                <div class="controls">
                                                    <input type="text" id="notas" name="notas" class="form-control"
                                                        required data-validation-required-message="Éste campo es requerido">
                                                </div>
                                                <small class="form-control-feedback">
                                                    Ingrese las notas de la dirección (Casa, Apartamento, Conjunto, etc)
                                                </small>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div id="map" class="gmap"></div>
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <h5>Hora de apertura <span class="text-danger">*</span></h5>
                                                <div class="input-group clockpicker " data-placement="bottom" data-align="top"
                                                    data-autoclose="true">
                                                    <div class="controls">
                                                        <input type="text" class="form-control" id="hora_inicial" name="hora_inicial"
                                                            required data-validation-required-message="Éste campo es requerido">
                                                        <div class="input-group-append">
                                                            <span class="input-group-text">
                                                                <i class="fa fa-clock-o"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <h5>Hora de cierre <span class="text-danger">*</span></h5>
                                                <div class="input-group clockpicker " data-placement="bottom" data-align="top"
                                                    data-autoclose="true">
                                                    <div class="controls">
                                                        <input type="text" class="form-control" id="hora_final" name="hora_final"
                                                            required data-validation-required-message="Éste campo es requerido">
                                                        <div class="input-group-append">
                                                            <span class="input-group-text">
                                                                <i class="fa fa-clock-o"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <h5>Tiempo de entrega <span class="text-danger">*</span></h5>
                                                <div class="controls">
                                                    <input type="number" id="entrega" name="entrega" class="form-control"
                                                        required data-validation-required-message="Éste campo es requerido">
                                                </div>
                                                <small class="form-control-feedback">
                                                    En minutos
                                                </small>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <h5>Número de teléfono <span class="text-danger">*</span></h5>
                                                <div class="controls">
                                                    <input type="text" id="numero_punto" name="numero_punto" class="form-control"
                                                        required data-validation-required-message="Éste campo es requerido">
                                                </div>
                                                <small class="form-control-feedback">
                                                    Ingrese el número de teléfono correspondiente
                                                </small>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <h5>Costo de envío <span class="text-danger">*</span></h5>
                                                <div class="input-group">
                                                    <div class="controls">
                                                        <div class="input-group-append">
                                                            <span class="input-group-text">
                                                                <i class="fas fa-dollar-sign"></i>
                                                            </span>
                                                        </div>
                                                        <input type="number" name="costo_envio" id="costo_envio" class="form-control"
                                                            required data-validation-required-message="Éste campo es requerido">
                                                    </div>
                                                    <small class="form-control-feedback">
                                                        Costo de envío empresarial
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <h5>Comisión <span class="text-danger">*</span></h5>
                                                <div class="input-group">
                                                    <div class="controls">
                                                        <div class="input-group-append">
                                                            <span class="input-group-text">
                                                                %
                                                            </span>
                                                        </div>
                                                        <input type="number" name="comision" id="comision" class="form-control"
                                                            required data-validation-required-message="Éste campo es requerido">
                                                    </div>
                                                    <small class="form-control-feedback">
                                                        Comisión por total de venta(%) ejm. 5, 10
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <h5>Número de teléfono <span class="text-danger">*</span></h5>
                                                <div class="controls">
                                                    <input type="text" id="numero_punto" name="numero_punto" class="form-control"
                                                        required data-validation-required-message="Éste campo es requerido">
                                                </div>
                                                <small class="form-control-feedback">
                                                    Ingrese el número de teléfono correspondiente
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <h5>Cédula <span class="text-danger">*</span></h5>
                                                <div class="controls">
                                                    <input type="text" id="cedula" name="cedula" class="form-control"
                                                        required data-validation-required-message="Éste campo es requerido">
                                                </div>
                                                <small class="form-control-feedback">
                                                    Cédula del dueño
                                                </small>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <h5>Nombres <span class="text-danger">*</span></h5>
                                                <div class="controls">
                                                    <input type="text" id="nombre_dueno" name="nombre_dueno" class="form-control"
                                                        required data-validation-required-message="Éste campo es requerido">
                                                </div>
                                                <small class="form-control-feedback">
                                                    Nombres del dueño
                                                </small>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <h5>Apellidos <span class="text-danger">*</span></h5>
                                                <div class="controls">
                                                    <input type="text" id="apellido_dueno" name="apellido_dueno" class="form-control"
                                                        required data-validation-required-message="Éste campo es requerido">
                                                </div>
                                                <small class="form-control-feedback">
                                                    Apellidos del dueño
                                                </small>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <h5>Número privado <span class="text-danger">*</span></h5>
                                                <div class="controls">
                                                    <input type="text" id="numero_privado" name="numero_privado" class="form-control"
                                                        required data-validation-required-message="Éste campo es requerido">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <h5>Cuenta bancaria <span class="text-danger">*</span></h5>
                                                <div class="controls">
                                                    <input type="text" id="cuenta_bancaria" name="cuenta_bancaria" class="form-control"
                                                        required data-validation-required-message="Éste campo es requerido">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="row">
                                        <button type="submit" class="btn btn-success"> 
                                            <i class="fa fa-check"></i> 
                                            Guardar
                                        </button>
                                        <button type="button" class="btn btn-inverse">Cancelar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row -->
        </div>


    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer">
        © 2019 Traigo
    </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
    </div>

    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    
    <% include ../partials/scripts%>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKwCnkuKfwRNZUEDhXGDM6FHzsM9AD-Js&sensor=true"></script>
    <!--stickey kit -->
    <script src="/static/dist/js/sticky-kit.min.js"></script>

    <!-- Customjs-->
    <script src="/static/dist/js/custom.min.js"></script>

    <!-- Validation form-->
    <script src="/static/dist/js/pages/validation.js"></script>

    <!-- Clock Plugin JavaScript -->
    <script src="/static/dist/js/jquery-clockpicker.min.js"></script>
    
    <script>
        $("input,select,textarea").not("[type=submit]").jqBootstrapValidation();
    </script>

    <script>
        var map;
        var geocoder;
        var mapOptions = { center: new google.maps.LatLng(0.0, 0.0), zoom: 2,
            mapTypeId: google.maps.MapTypeId.ROADMAP };

        function initialize() {
            var myOptions = {
                center: new google.maps.LatLng(4.534440, -75.675830),
                zoom: 14,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            geocoder = new google.maps.Geocoder();
            var map = new google.maps.Map(document.getElementById("map"),
                myOptions);
            google.maps.event.addListener(map, 'click', function(event) {
                placeMarker(event.latLng);
            });

            var marker;
            function placeMarker(location) {
                if(marker){
                    marker.setPosition(location);
                }else{
                    marker = new google.maps.Marker({
                        position: location, 
                        map: map
                    });
                }

                getAddress(location);
            }

            function getAddress(latLng) {

                document.getElementById("latitude").value = latLng.lat();
                document.getElementById("longitude").value = latLng.lng();

                geocoder.geocode( {'latLng': latLng},
                    function(results, status) {
                        if(status == google.maps.GeocoderStatus.OK) {
                            if(results[0]) {
                                document.getElementById("direccion").value = results[0].formatted_address;
                            }
                            else {
                                document.getElementById("direccion").value = "No results";
                            }
                        }
                        else {
                            document.getElementById("direccion").value = status;
                        }
                    });
            }
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>

    <script type = "text/javascript">
        var io = io.connect('/', {'forceNew':true});
        var spaises = document.getElementById('pais');
        var sdep = document.getElementById("departamento");
        var smun = document.getElementById("ciudad");

        var scategoria = document.getElementById("categoria");
        var stienda = document.getElementById("tienda");
        spaises.setAttribute("onchange", "eventoDepartamentos()");
        sdep.setAttribute("onchange", "eventoCiudad()");

        function eventoDepartamentos(){
            io.emit("departamentos", {id:spaises.value});
        }

        function eventoCiudad(){
            io.emit("municipios", {id: sdep.value});
        }

        io.on("paises", function(data){
            var cont = data.length;
            spaises.length = cont;
            for(var i = 0; i < cont; i++){
                spaises.options[i] = new Option(data[i].nombre, data[i].idPais);
            };
            io.emit("departamentos", {id:spaises.value});
        });

        io.on("categorias", function(data){
            var cont = data.length;
            scategoria.length = cont;
            for(var i = 0; i < cont; i++){
                scategoria.options[i] = new Option(data[i].nombre, data[i].idcategoria);
            };
        });

        io.on("tiendas", function(data){
            var cont = data.length;
            stienda.length = cont;
            for(var i = 0; i < cont; i++){
                stienda.options[i] = new Option(data[i].nombre, data[i].idtienda);
            };
        });

        io.on("departamentos", function(data){
            var cont = data.length;
            sdep.length = cont;
            for(var i = 0; i < cont; i++){
                sdep.options[i] = new Option(data[i].nombre, data[i].idDepartamento);
            };
            io.emit("municipios", {id: sdep.value});
        });

        io.on("municipios", function(data){
            var cont = data.length;
            smun.length = cont;
            for(var i = 0; i < cont; i++){
                smun.options[i] = new Option(data[i].nombre, data[i].idmunicipios);
            };
        });
    </script>

</body>

</html>