<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head%>
    <link href="/static/dist/css/dataTables.bootstrap4.css" rel="stylesheet">
</head>


<body class="skin-blue fixed-layout">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Traigo</p>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">

        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <% include ../partials/header%>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <% include ../partials/sidebar%>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->

        <div class="page-wrapper">

            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Moderadores</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0)">Administrador</a></li>
                                <li class="breadcrumb-item active">Moderadores</li>
                            </ol>
                            <button type="button" class="btn btn-info d-none d-lg-block m-l-15" data-toggle="modal"
                                data-target="#new-moderator-modal">
                                <i class="fa fa-plus-circle"></i>
                                Nuevo moderador
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <%if(info == "eliminated"){%>
                                <div class="alert alert-info alert-rounded">
                                    <i class="ti-user"></i>
                                    Se ha eliminado el moderador
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <%}else if(info == "err"){%>
                                <div class="alert alert-danger alert-rounded">
                                    <i class="ti-user"></i>
                                    Ha ocurrido un error en la operacion
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <%}else if(info == "correct"){%>
                                <div class="alert alert-success alert-rounded">
                                    <i class="ti-user"></i>
                                    Moderador agregado con éxito
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <%}%>
                                <h4 class="card-title">Lista de moderadores</h4>
                                <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
                                <div class="table-responsive m-t-40">
                                    <table id="tbl_mdrs" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Foto</th>
                                                <th>Cédula</th>
                                                <th>Nombre</th>
                                                <th>Correo</th>
                                                <th>Último acceso</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>Foto</th>
                                                <th>Cédula</th>
                                                <th>Nombre</th>
                                                <th>Correo</th>
                                                <th>Último acceso</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <%for(var i = 0; i < moderadores.length; i++){%>
                                            <tr>
                                                <td>
                                                    <img src="/static/img/mod/<%=moderadores[i].foto_perfil%>" alt="image"
                                                        class="img-circle" width="50">
                                                </td>
                                                <td>
                                                    <a href='/administrador/moderador?cedula=<%=moderadores[i].cedula%>'>
                                                        <%=moderadores[i].cedula%>
                                                    </a>
                                                </td>
                                                <td>
                                                    <%=moderadores[i].nombre%> <%=moderadores[i].apellido%>
                                                </td>
                                                <td>
                                                    <%=moderadores[i].correo%>
                                                </td>
                                                <td>
                                                    <%=moderadores[i].ultimo_acceso%>
                                                </td>
                                                <td class="row">
                                                    <button type="button" class="btn btn-danger btn-circle" data-toggle="modal"
                                                        data-target="#modal<%=i%>">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                    <!-- sample modal content -->
                                                    <div class="modal fade bs-example-modal-sm" id="modal<%=i%>"
                                                        tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
                                                        aria-hidden="true" style="display: none;">
                                                        <div class="modal-dialog modal-sm">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h4 class="modal-title" id="mySmallModalLabel">Eliminar</h4>
                                                                    <button type="button" class="close" data-dismiss="modal"
                                                                        aria-hidden="true">×</button>
                                                                </div>
                                                                <div class="modal-body col-md-12">
                                                                    <p>
                                                                        ¿Seguro que desea eliminar éste elemento?
                                                                    </p>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-danger btn-circle"
                                                                        data-dismiss="modal">
                                                                        <i class="fa fa-times"></i>
                                                                    </button>
                                                                    <a href="/administrador/eliminarmoderador?userid=<%=moderadores[i].cedula%>">
                                                                        <button type="button" class="btn btn-rounded btn-block btn-outline-success"
                                                                            data-dismiss="modal">
                                                                            Aceptar
                                                                        </button>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <!-- /.modal-content -->
                                                        </div>
                                                        <!-- /.modal-dialog -->
                                                    </div>
                                                </td>
                                            </tr>
                                            <%}%>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="new-moderator-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                    aria-hidden="true" style="display: none;">
                    <div class="modal-dialog" style="max-width: 750px;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Agregar Moderador</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            </div>
                            <div class="modal-body">
                                <form novalidate action="/administrador/agregarmoderador" method="POST" enctype=multipart/form-data>
                                    <div class="row p-t-20">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <h5>Cédula <span class="text-danger">*</span></h5>
                                            <div class="controls">
                                                <input type="text" class="form-control" id="cedula" name="cedula"
                                                    required data-validation-required-message="Éste campo es obligatorio">
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            <div class="row p-t-20">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <h5>Nombre <span class="text-danger">*</span></h5>
                                        <div class="controls">
                                            <input type="text" class="form-control" id="nombre" name="nombre" required
                                                data-validation-required-message="Éste campo es obligatorio">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <h5>Apellido <span class="text-danger">*</span></h5>
                                        <div class="controls">
                                            <input type="text" class="form-control" id="apellido" name="apellido"
                                                required data-validation-required-message="Éste campo es obligatorio">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row p-t-20">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <h5>Correo <span class="text-danger">*</span></h5>
                                        <div class="controls">
                                            <input type="email" class="form-control" id="correo" name="correo" required
                                                data-validation-required-message="Éste campo es obligatorio">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <h5>Género <span class="text-danger">*</span></h5>
                                        <div class="controls">
                                            <select name="genero" id="genero" required class="form-control">
                                                <option disabled selected>Seleccione un género</option>
                                                <option>Masculino</option>
                                                <option>Femenino</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row p-t-20">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <h5>Foto de perfil <span class="text-danger">*</span></h5>
                                        <div class="controls">
                                            <input type="file" name="foto" id="foto" class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <h5>Dirección de anexos <span class="text-danger">*</span></h5>
                                        <div class="controls">
                                            <input type="text" class="form-control" id="anexos" name="anexos" required
                                                data-validation-required-message="Éste campo es obligatorio">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row p-t-20">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <h5>País <span class="text-danger">*</span></h5>
                                        <div class="controls">
                                            <select name="pais" id="pais" required class="form-control">
                                                <option disabled selected>Seleccione un pais</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <h5>Departamento <span class="text-danger">*</span></h5>
                                        <div class="controls">
                                            <select name="departamento" id="departamento" required class="form-control">
                                                <option disabled selected>Seleccione un departamento</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <h5>Ciudad <span class="text-danger">*</span></h5>
                                        <div class="controls">
                                            <select name="municipio" id="ciudad" required class="form-control">
                                                <option disabled selected>Seleccione una ciudad</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row p-t-20">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <h5>Dirección <span class="text-danger">*</span></h5>
                                        <div class="controls">
                                            <input type="text" name="direccion" id="direccion" class="form-control"
                                                required data-validation-required-message="Éste campo es obligatorio">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <h5>Notas de la dirección <span class="text-danger">*</span></h5>
                                        <div class="controls">
                                            <input type="text" class="form-control" id="notas" name="notas" placeholder="Bloque, apartamento, etc"
                                                required data-validation-required-message="Éste campo es obligatorio">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="reset" class="btn btn-danger waves-effect waves-light" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-default waves-effect">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer">
        © 2019 Traigo
    </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
    </div>

    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->

    <% include ../partials/scripts%>

    <script src="/static/dist/js/datatables.min.js"></script>

    <!--stickey kit -->
    <script src="/static/dist/js/sticky-kit.min.js"></script>

    <!-- start - This is for export functionality only -->
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
    <!-- end - This is for export functionality only -->

    <script src="/static/dist/js/pages/validation.js"></script>
    <script src="/static/dist/js/pages/custom.min.js"></script>

    <script>

        // Verifica la validacion de los campos de nuevo moderador
        $("input,select,textarea").not("[type=submit]").jqBootstrapValidation();

        // Tabla pedidos
        var table_mdrs = $('#tbl_mdrs').DataTable({
            orderCellsTop: true,
            fixedHeader: true,
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            language: {
                url: "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json",
            }
        });
        table_mdrs.columns.adjust().draw();

        $('#tbl_mdrs thead tr').clone(true).appendTo('#tbl_mdrs thead');
        $('#tbl_mdrs thead tr:eq(1) th').each(function (i) {
            if (!(i === 0 || i === 5)) {
                var title = $(this).text();
            
                $(this).html('<input class="form-control" type="text" placeholder="Buscar ' + title + '" />');

                $('input', this).on('keyup change', function () {
                    if (table_pec.column(i).search() !== this.value) {
                        table_pec
                            .column(i)
                            .search(this.value)
                            .draw();
                    }
                });
            }
        });

        $('.buttons-copy, .buttons-csv, .buttons-print, .buttons-pdf, .buttons-excel')
            .addClass('btn btn-primary mr-1');
    </script>

    <script type="text/javascript">
        var io = io.connect('/', { 'forceNew': true });
        var spaises = document.getElementById('pais');
        var sdep = document.getElementById("departamento");
        var smun = document.getElementById("ciudad");

        spaises.setAttribute("onchange", "eventoDepartamentos()");
        sdep.setAttribute("onchange", "eventoCiudad()");

        function eventoDepartamentos() {
            io.emit("departamentos", { id: spaises.value });
        }

        function eventoCiudad() {
            io.emit("municipios", { id: sdep.value });
        }

        io.on("paises", function (data) {
            var cont = data.length;
            spaises.length = cont;
            for (var i = 0; i < cont; i++) {
                spaises.options[i] = new Option(data[i].nombre, data[i].idPais);
            };

            io.emit("departamentos", { id: spaises.value });
        });

        io.on("departamentos", function (data) {
            var cont = data.length;
            sdep.length = cont;
            for (var i = 0; i < cont; i++) {
                sdep.options[i] = new Option(data[i].nombre, data[i].idDepartamento);
            };

            io.emit("municipios", { id: sdep.value });

        });

        io.on("municipios", function (data) {
            var cont = data.length;
            smun.length = cont;
            for (var i = 0; i < cont; i++) {
                smun.options[i] = new Option(data[i].nombre, data[i].idmunicipios);
            };
        });
    </script>

</body>

</html>