<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head%>
    <link href="/static/dist/css/dataTables.bootstrap4.css" rel="stylesheet">
</head>


<body class="skin-blue fixed-layout">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Traigo</p>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">

        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <% include ../partials/header%>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <% include ../partials/sidebar%>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->

        <div class="page-wrapper">

            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Solicitudes de pago</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0)">Administrador</a></li>
                                <li class="breadcrumb-item active">Solicitudes de pago</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <%if (locals.rider) {%>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex">
                                    <div>
                                        <h4 class="card-title">Estado actual</h4>
                                        <h6 class="card-subtitle">Información correspondiente de solicitudes de pago del rider</h6>
                                    </div>
                                    <div class="ml-auto">
                                        <a href="/administrador/get-payment-request/<%=rider.cedula%>">
                                            <button type="button" class="btn btn-lg waves-effect waves-light btn-success b-0">
                                                <i class="far fa-money-bill-alt"></i>
                                                Generar solicitud
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body bg-light">
                                <div class="row">
                                    <div class="col-6">
                                        <h2>
                                            <%=rider.nombre%>
                                            <%=rider.apellido%>
                                        </h2>
                                        <h4 class="font-light m-t-0">
                                            CC <%=rider.cedula%>
                                        </h4>
                                        <h5 class="font-light m-t-0">
                                            Tel <%=rider.telefono%>
                                        </h5>
                                    </div>
                                    <div class="col-6 align-self-center display-6 text-right">
                                        <h1 class="text-success">
                                            $<%=cuenta%>
                                        </h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <%}%>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <%if(info == "err"){%>
                                    <div class="alert alert-danger alert-rounded">
                                        <i class="ti-user"></i>
                                        Ha ocurrido un error en la operacion
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                <%}else if(info == "request"){%>
                                    <div class="alert alert-danger alert-rounded">
                                        <i class="ti-user"></i>
                                        No se pede generar la solicitud, primero pague las solicitudes pendientes.
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                <%}else if(info == "correct"){%>
                                    <div class="alert alert-success alert-rounded">
                                        <i class="ti-user"></i>
                                        Proceso realizado con exito.
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                <%}%>
                                <h4 class="card-title">Lista de solicitudes</h4>
                                <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
                                <div class="table-responsive m-t-40">
                                    <table id="tbl_solicitudes" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Nombre del Rider</th>
                                                <th>Fecha</th>
                                                <th>Hora</th>
                                                <th>Ver</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>ID</th>
                                                <th>Nombre del Rider</th>
                                                <th>Fecha</th>
                                                <th>Hora</th>
                                                <th>Ver</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <%for(var i = 0; i < solicitudes.length; i++){%>
                                            <tr>
                                                <td>
                                                    <%=solicitudes[i].idsolicitud%>
                                                </td>
                                                <td>
                                                    <%=solicitudes[i].rider.nombre%> <%=solicitudes[i].rider.apellido%>
                                                </td>
                                                <td>
                                                    <%=solicitudes[i].fecha%>
                                                </td>
                                                <td>
                                                    <%=solicitudes[i].hora%>
                                                </td>
                                                <td>
                                                    <a href="/administrador/solicitud?id=<%=solicitudes[i].idsolicitud%>">
                                                        <button type="button" class="btn btn-info btn-circle"
                                                            data-toggle="modal" data-target="#modal<%=i%>">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </a>
                                                </td>
                                            </tr>
                                            <%}%>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <% include ../partials/footer%>
    </div>

    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->

    <% include ../partials/scripts%>

    <script src="/static/dist/js/datatables.min.js"></script>

    <!--stickey kit -->
    <script src="/static/dist/js/sticky-kit.min.js"></script>

    <!-- start - This is for export functionality only -->
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
    <!-- end - This is for export functionality only -->

    <script>
            // Tabla pedidos
            var tbl_solicitudes = $('#tbl_solicitudes').DataTable({
                orderCellsTop: true,
                fixedHeader: true,
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ],
                language: {
                    url: "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json",
                }
            });
            tbl_solicitudes.columns.adjust().draw();
    
            $('#tbl_solicitudes thead tr').clone(true).appendTo('#tbl_solicitudes thead');
            $('#tbl_solicitudes thead tr:eq(1) th').each(function (i) {
                var title = $(this).text();
                $(this).html('<input class="form-control" type="text" placeholder="Buscar ' + title + '" />');
    
                $('input', this).on('keyup change', function () {
                    if (tbl_solicitudes.column(i).search() !== this.value) {
                        tbl_solicitudes
                            .column(i)
                            .search(this.value)
                            .draw();
                    }
                });
            });
    
            $('.buttons-copy, .buttons-csv, .buttons-print, .buttons-pdf, .buttons-excel')
                .addClass('btn btn-primary mr-1');
        </script>
</body>

</html>