<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head%>
    <link href="/static/dist/css/dataTables.bootstrap4.css" rel="stylesheet">
</head>


<body class="skin-blue fixed-layout">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Traigo</p>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">

        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <% include ../partials/header%>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <% include ../partials/sidebar%>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->

        <div class="page-wrapper">

            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Solicitud de pago</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0)">Administrador</a></li>
                                <li class="breadcrumb-item active">Solicitudes de pago</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex">
                                    <div>
                                        <h4 class="card-title">Información del rider</h4>
                                        <h6 class="card-subtitle">Información correspondiente para realizar el pago</h6>
                                    </div>
                                    <div class="ml-auto">
                                        <%if(solicitud.pagada === 'N') {%>
                                        <button type="button" class="btn btn-lg waves-effect waves-light btn-success b-0"
                                            data-toggle="modal" data-target="#modal_pay">
                                            <i class="fas fa-check"></i>
                                            Pagar
                                        </button>
                                        <%}%>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body bg-light">
                                <div class="row">
                                    <div class="col-6">
                                        <h2>
                                            <%=solicitud.rider.nombre%>
                                            <%=solicitud.rider.apellido%>
                                        </h2>
                                        <h4 class="font-light m-t-0">
                                            CC <%=solicitud.rider.cedula%>
                                        </h4>
                                        <h5 class="font-light m-t-0">
                                            Tel <%=solicitud.rider.telefono%>
                                        </h5>
                                    </div>
                                    <div class="col-6 align-self-center display-6 text-right">
                                        <h1 class="text-success">
                                            $<%=cuenta%>
                                        </h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-7">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Lista de pedidos empresariales</h4>
                                <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
                                <div class="table-responsive m-t-40">
                                    <table id="tbl_pedemp" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Sucursal</th>
                                                <th>Valor del envio</th>
                                                <th>Comisón Rider</th>
                                                <th>Retenido</th>
                                                <th>Ajuste</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>ID</th>
                                                <th>Sucursal</th>
                                                <th>Valor del envio</th>
                                                <th>Comisón Rider</th>
                                                <th>Retenido</th>
                                                <th>Ajuste</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <%for(var i = 0; i < empresariales.length; i++){%>
                                            <tr>
                                                <td>
                                                    <%=empresariales[i].idpedido_empresarial%>
                                                </td>
                                                <td>
                                                    <%=empresariales[i].nombresucursal%>
                                                </td>
                                                <td>
                                                    <%=empresariales[i].costo_envio%>
                                                </td>
                                                <td>
                                                    <%=empresariales[i].comision_rider%>%</td>
                                                <td>
                                                    <%=empresariales[i].retenido%>
                                                </td>
                                                <td>
                                                    <%=(empresariales[i].ajuste)? empresariales[i].ajuste.valor : '' %>
                                                </td>
                                            </tr>
                                            <%}%>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Lista de pedidos lo que quieras</h4>
                                <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
                                <div class="table-responsive m-t-40">
                                    <table id="tbl_plqq" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Valor total facturas</th>
                                                <th>Comisión del cliente</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>ID</th>
                                                <th>Valor total facturas</th>
                                                <th>Comisión del cliente</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <%for(var i = 0; i < deseos.length; i++){%>
                                            <tr>
                                                <td>
                                                    <%=deseos[i].idpedido_deseo%>
                                                </td>
                                                <td>
                                                    <%=deseos[i].totalfacturas%>
                                                </td>
                                                <td>
                                                    <%=deseos[i].comision_cliente%>
                                                </td>
                                            </tr>
                                            <%}%>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="modal_pay"
                        tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="mySmallModalLabel">Pagar</h4>
                                    <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">×</button>
                                </div>
                                <div class="modal-body">
                                    ¿Seguro que desea realizar el pago?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger btn-circle" data-dismiss="modal">
                                        <i class="fa fa-times"></i> 
                                    </button>
                                    <a href="/administrador/realizarpagosolicitud?idrider=<%=solicitud.rider.cedula%>&idsolicitud=<%=solicitud.idsolicitud%>">
                                        <button type="button" class="btn btn-rounded btn-block btn-outline-success">
                                            Aceptar
                                        </button>
                                    </a>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
            </div>

        </div>

        <% include ../partials/footer%>
    </div>

    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->

    <% include ../partials/scripts%>

    <script src="/static/dist/js/datatables.min.js"></script>

    <!--stickey kit -->
    <script src="/static/dist/js/sticky-kit.min.js"></script>

    <!-- start - This is for export functionality only -->
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
    <!-- end - This is for export functionality only -->

    <script>
        // Tabla pedidos empresariales
        var tbl_pedemp = $('#tbl_pedemp').DataTable({
            orderCellsTop: true,
            fixedHeader: true,
            pageLength: 7,
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            language: {
                url: "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json",
            }
        });
        tbl_pedemp.columns.adjust().draw();

        $('#tbl_pedemp thead tr').clone(true).appendTo('#tbl_pedemp thead');
        $('#tbl_pedemp thead tr:eq(1) th').each(function (i) {
            var title = $(this).text();
            $(this).html('<input class="form-control" type="text" placeholder="Buscar ' + title + '" />');

            $('input', this).on('keyup change', function () {
                if (tbl_pedemp.column(i).search() !== this.value) {
                    tbl_pedemp
                        .column(i)
                        .search(this.value)
                        .draw();
                }
            });
        });

        $('.buttons-copy, .buttons-csv, .buttons-print, .buttons-pdf, .buttons-excel')
            .addClass('btn btn-primary mr-1');


        // Tabla pedidos lo que quieras
        var tbl_plqq = $('#tbl_plqq').DataTable({
            orderCellsTop: true,
            fixedHeader: true,
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            language: {
                url: "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json",
            }
        });
        tbl_plqq.columns.adjust().draw();

        $('#tbl_plqq thead tr').clone(true).appendTo('#tbl_plqq thead');
        $('#tbl_plqq thead tr:eq(1) th').each(function (i) {
            var title = $(this).text();
            $(this).html('<input class="form-control" type="text" placeholder="Buscar ' + title + '" />');

            $('input', this).on('keyup change', function () {
                if (tbl_plqq.column(i).search() !== this.value) {
                    tbl_plqq
                        .column(i)
                        .search(this.value)
                        .draw();
                }
            });
        });

        $('.buttons-copy, .buttons-csv, .buttons-print, .buttons-pdf, .buttons-excel')
            .addClass('btn btn-primary mr-1');
    </script>


</body>

</html>