<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head%>
    <link href="/static/dist/css/dataTables.bootstrap4.css" rel="stylesheet">
</head>


<body class="skin-blue fixed-layout">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Traigo</p>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">

        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <% include ../partials/header%>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <% include ../partials/sidebar%>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->

        <div class="page-wrapper">

            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Sucursales</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0)">Administrador</a></li>
                                <li class="breadcrumb-item active">Sucursales</li>
                            </ol>
                            <button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i>
                                Nueva sucursal</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <%if(info == "eliminated"){%>
                                <div class="alert alert-info alert-rounded">
                                    <i class="ti-user"></i>
                                    Se ha eliminado la sucursal
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <%}else if(info == "err"){%>
                                <div class="alert alert-danger alert-rounded">
                                    <i class="ti-user"></i>
                                    Ha ocurrido un error en la operacion
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <%}else if(info == "correct"){%>
                                <div class="alert alert-success alert-rounded">
                                    <i class="ti-user"></i>
                                    Sucursal agregada con éxito
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <%}%>
                                <h4 class="card-title">Lista de sucursales</h4>
                                <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
                                <div class="table-responsive m-t-40">
                                    <table id="tbl_sucursales" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Dirección</th>
                                                <th>Categoria</th>
                                                <th>Hora de apertura</th>
                                                <th>Hora de cierre</th>
                                                <th>Tiempo entrega</th>
                                                <th>Teléfono</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Dirección</th>
                                                <th>Categoria</th>
                                                <th>Hora de apertura</th>
                                                <th>Hora de cierre</th>
                                                <th>Tiempo entrega</th>
                                                <th>Teléfono</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <%for(var i = 0; i < sucursales.length; i++){%>
                                            <tr>
                                                <td>
                                                    <a href="/administrador/sucursales/<%=sucursales[i].nombre%>">
                                                        <%=sucursales[i].nombre%>
                                                    </a>
                                                </td>
                                                <td>
                                                    <%=sucursales[i].direccion%>
                                                </td>
                                                <td>
                                                    <%=sucursales[i].categoria%>
                                                </td>
                                                <td>
                                                    <%=sucursales[i].hora_inicial%>
                                                </td>
                                                <td>
                                                    <%=sucursales[i].hora_final%>
                                                </td>
                                                <td>
                                                    <%=sucursales[i].tiempo_entrega%> minutos</td>
                                                <td>
                                                    <%=sucursales[i].numero_punto%>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-danger btn-circle"
                                                        data-toggle="modal" data-target="#modal<%=i%>">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                    <!-- sample modal content -->
                                                    <div class="modal fade bs-example-modal-sm" id="modal<%=i%>"
                                                        tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
                                                        aria-hidden="true" style="display: none;">
                                                        <div class="modal-dialog modal-sm">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h4 class="modal-title" id="mySmallModalLabel">Eliminar</h4>
                                                                    <button type="button" class="close" data-dismiss="modal"
                                                                        aria-hidden="true">×</button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <p>
                                                                        ¿Seguro que desea eliminar éste elemento?
                                                                    </p>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-danger btn-circle" data-dismiss="modal">
                                                                        <i class="fa fa-times"></i> 
                                                                    </button>
                                                                    <a href="/administrador/eliminarsucursal?id=<%=sucursales[i].idsucursal%>">
                                                                        <button type="button" class="btn btn-rounded btn-block btn-outline-success" data-dismiss="modal">
                                                                            Aceptar
                                                                        </button>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <!-- /.modal-content -->
                                                        </div>
                                                        <!-- /.modal-dialog -->
                                                    </div>
                                                </td>
                                            </tr>
                                            <%}%>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <% include ../partials/footer%>
    </div>

    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->

    <% include ../partials/scripts%>

    <script src="/static/dist/js/datatables.min.js"></script>

    <!--stickey kit -->
    <script src="/static/dist/js/sticky-kit.min.js"></script>

    <!-- start - This is for export functionality only -->
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
    <!-- end - This is for export functionality only -->

    <script src="/static/dist/js/pages/validation.js"></script>

    <script>
        // Tabla pedidos
        var tbl_sucursales = $('#tbl_sucursales').DataTable({
            orderCellsTop: true,
            fixedHeader: true,
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            language: {
                url: "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json",
            }
        });
        tbl_sucursales.columns.adjust().draw();

        $('#tbl_sucursales thead tr').clone(true).appendTo('#tbl_sucursales thead');
        $('#tbl_sucursales thead tr:eq(1) th').each(function (i) {
            var title = $(this).text();
            $(this).html('<input class="form-control" type="text" placeholder="Buscar ' + title + '" />');

            $('input', this).on('keyup change', function () {
                if (tbl_sucursales.column(i).search() !== this.value) {
                    tbl_sucursales
                        .column(i)
                        .search(this.value)
                        .draw();
                }
            });
        });

        $('.buttons-copy, .buttons-csv, .buttons-print, .buttons-pdf, .buttons-excel')
            .addClass('btn btn-primary mr-1');
    </script>

</body>

</html>