
                                    <div class="form-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <h5>Nombre <span class="text-danger">*</span></h5>
                                                        <div class="controls">
                                                            <input type="text" id="nombre" name="nombre" class="form-control"
                                                                value="<%= (locals.categoria) ? categoria.nombre : '' %>"
                                                                required data-validation-required-message="Éste campo es requerido">
                                                        </div>
                                                        <small class="form-control-feedback"> Nombre de la categoría </small>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <h5>Descripción <span class="text-danger">*</span></h5>
                                                        <div class="controls">
                                                            <input type="text" id="descripcion" name="descripcion" class="form-control"
                                                                value="<%= (locals.categoria) ? categoria.nombre : '' %>"
                                                                required data-validation-required-message="Éste campo es requerido">
                                                        </div>
                                                        <small class="form-control-feedback"> Descripción de la categoría </small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <h5>Imágen <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="file" name="imagen" id="imagen" class="form-control" required
                                                            value="<%= (locals.categoria) ? categoria.imagen : '' %>">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/row-->
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-offset-3 col-md-9">
                                                            <button type="submit" class="btn btn-success">
                                                                <i class="fa fa-check"></i>
                                                                Guardar
                                                            </button>
                                                            <a href="/administrador/categoriatiendas">
                                                                <button type="button" class="btn btn-inverse">Cancelar</button>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6"> </div>
                                            </div>
                                        </div>
    