<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/head%>
    <link href="/static/dist/css/select2.min.css" rel="stylesheet" />
</head>


<body class="skin-blue fixed-layout">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Traigo</p>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">

        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <% include ../../partials/header%>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <% include ../../partials/sidebar%>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->

        <div class="page-wrapper">

            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Modificar estado pedido</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0)">Administrador</a></li>
                                <li class="breadcrumb-item">Pedidos en curso</li>
                                <li class="breadcrumb-item active">Modificar estado pedido</li>
                            </ol>
                        </div>
                    </div>
                </div>
                
                <!-- Row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header bg-info">
                                <h4 class="m-b-0 text-white">Formulario de asignación o desasignación de pedidos</h4>
                            </div>
                            <div class="card-body">
                                <form novalidate action="/administrador/modificarpedidodeseo/<%=pedido.idpedido_deseo%>" method="POST" enctype="multipart/form-data">
                                    <input type="hidden" name="_method" value="PUT">
                                    <div class="form-body">
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Rider <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <select class="form-control custom-select select2" id="rider" name="rider"
                                                            required>
                                                            <option>Sin Rider</option>
                                                            <% for (let i = 0; i < riders.length; i++) {%>
                                                            <option value="<%=riders[i].cedula%>" <%=(riders[i].cedula == pedido.idrider)? 'selected' : '' %> ><%=riders[i].nombre%> <%=riders[i].apellido%></option>
                                                            <%}%>
                                                        </select>
                                                        <small class="form-control-feedback">
                                                            Selector de riders.
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Estado <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <select class="form-control custom-select select2" id="estado" name="estado"
                                                            required>
                                                            <% for (let i = 0; i < estados.length; i++) {%>
                                                            <option <%=(estados[i] == pedido.estado)? 'selected' : '' %> ><%=estados[i]%></option>
                                                            <%}%>
                                                        </select>
                                                        <small class="form-control-feedback">
                                                            Selector de estados.
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/row-->
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-offset-3 col-md-9">
                                                        <button type="submit" class="btn btn-success">
                                                            <i class="fa fa-check"></i>
                                                            Guardar
                                                        </button>
                                                        <a href="/administrador/pedidosencurso">
                                                            <button type="button" class="btn btn-inverse">Cancelar</button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6"> </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Row -->
            </div>

        </div>

<% include ../../partials/footer%>
    </div>

    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->

    <% include ../../partials/scripts%>
    <script src="/static/dist/js/pages/validation.js"></script>
    <script src="/static/dist/js/pages/custom.min.js"></script>
    <script src="/static/dist/js/jqBootstrapValidation.js"></script>
    <script src="/static/dist/js/select2.full.min.js"></script>

    <script type="text/javascript">
    $(".select2").select2();
	</script>


</body>

</html>