
                                    <div class="form-body">
                                        <!--<h3 class="card-title">Agregar sucursal</h3>
                                        <hr>-->
                                        <!--/row-->
                                        <%if (locals.admin) {%>
                                        <input value = "<%=admin.foto_perfil%>" type="hidden" class="form-control" id="foto_perfil" aria-describedby="emailHelp" name="foto_perfil">
                                        <input value = "<%=admin.iddireccion%>" type="hidden" class="form-control" id="direccion_anterior" aria-describedby="emailHelp" name="direccion_anterior">
                                        <%}%>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Cédula <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="text" id="cedula" name="cedula" class="form-control"
                                                            value="<%= (locals.admin) ? admin.cedula : '' %>"
                                                            required data-validation-required-message="Éste campo es requerido">
                                                    </div>
                                                    <small class="form-control-feedback"> Cédula del administrador </small>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Nombre <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="text" id="nombre" name="nombre" class="form-control"
                                                            value="<%= (locals.admin) ? admin.nombre : '' %>"
                                                            required data-validation-required-message="Éste campo es requerido">
                                                    </div>
                                                    <small class="form-control-feedback"> Nombre del administrador </small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Apellido <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="text" id="apellido" name="apellido" class="form-control"
                                                        value="<%= (locals.admin) ? admin.apellido : '' %>"
                                                            required data-validation-required-message="Éste campo es requerido">
                                                    </div>
                                                    <small class="form-control-feedback"> Apellido del administrador </small>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Correo <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="text" id="correo" name="correo" class="form-control" required
                                                            value="<%= (locals.admin) ? admin.correo : '' %>"
                                                            data-validation-regex-regex="([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})" 
                                                            data-validation-required-message="Éste campo es requerido">
                                                    </div>
                                                    <small class="form-control-feedback"> Correo electrónico del administrador </small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Género <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <select class="form-control custom-select" id="genero" name="genero"
                                                            required>
                                                            <option>Masculino</option>
                                                            <option>Femenino</option>
                                                        </select>
                                                        <small class="form-control-feedback">
                                                            Seleccione el género del administrador
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Foto de perfil <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="file" name="foto" id="foto" class="form-control" required
                                                            value="<%= (locals.admin) ? admin.foto_perfil : '' %>">
                                                    </div>
                                                    <small class="form-control-feedback"> Seleccione una imágen de perfil </small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-9">
                                                <div class="form-group">
                                                    <h5>Dirección de anexos <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="text" id="anexos" name="anexos" class="form-control"
                                                            value="<%= (locals.admin) ? admin.anexos : '' %>"
                                                            required data-validation-required-message="Éste campo es requerido">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                                        
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <h5>País <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <select class="form-control custom-select" id="pais" name="pais"
                                                            required>
                                                        </select>
                                                        <small class="form-control-feedback">
                                                                Seleccione el país en donde reside el administrador
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <h5>Departamento <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <select class="form-control custom-select" id="departamento" name="departamento"
                                                            required>
                                                        </select>
                                                        <small class="form-control-feedback">
                                                                Seleccione el departamento en donde reside el administrador
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <h5>Ciudad <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <select class="form-control custom-select" id="ciudad" name="municipio"
                                                            required>
                                                        </select>
                                                        <small class="form-control-feedback">
                                                                Seleccione la ciudad en donde reside el administrador
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Dirección <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="text" id="direccion" name="direccion" class="form-control"
                                                            value="<%= (locals.direccion) ? direccion.direccion : '' %>"
                                                            required data-validation-required-message="Éste campo es requerido">
                                                    </div>
                                                    <small class="form-control-feedback"> Direccíon del administrador </small>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Notas de la dirección <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="text" id="notas" name="notas" class="form-control"
                                                            value="<%= (locals.direccion) ? direccion.notas : '' %>"
                                                            required data-validation-required-message="Éste campo es requerido">
                                                    </div>
                                                    <small class="form-control-feedback"> Digite las notas de la dirección (Bloque, apartamento, etc) </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/row-->
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-offset-3 col-md-9">
                                                        <button type="submit" class="btn btn-success">
                                                            <i class="fa fa-check"></i>
                                                            Guardar
                                                        </button>
                                                        <a href="/administrador/administradores">
                                                            <button type="button" class="btn btn-inverse">Cancelar</button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6"> </div>
                                        </div>
                                    </div>
