<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/head%>
    <link href="/static/dist/css/dropify.min.css" rel="stylesheet"> 
    <link href="/static/dist/css/sweetalert.css" rel="stylesheet">
</head>

<body class="skin-blue fixed-layout">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Traigo</p>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">

        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <% include ../../partials/header%>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <% include ../../partials/sidebar%>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->

        <div class="page-wrapper">

            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid" id="alerts">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Alertas</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/administrador">Administrador</a></li>
                                <li class="breadcrumb-item active">Alertas</li>
                            </ol>
                            <button @click="showModal(true)" type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i>
                                Nueva alerta
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Lista de alertas</h4>
                                <div class="table-responsive">
                                    <table class="table  table-striped">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Imágen</th>
                                                <th>Nombre</th>
                                                <th>Tipo</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>#</th>
                                                <th>Imágen</th>
                                                <th>Nombre</th>
                                                <th>Tipo</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <tr v-for="(alert, index) in mListAlerts">
                                                <td>{{ index + 1 }}</td>
                                                <td><img :src="alert.img" alt="image" class="img-responsive radius" width="50"></td>
                                                <td>{{ alert.nombre }}</td>
                                                <td>{{ alert.tipo }}</td>
                                                <td>
                                                    <button type="button" @click="showModal(false, alert.id)" class="btn btn-warning btn-lg btn-circle" data-toggle="tooltip" data-original-title="Editar información">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                    <button type="button" @click="deleteAlert(alert.id)" class="btn btn-danger btn-lg btn-circle" data-toggle="tooltip" data-original-title="Eliminar">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                </td>
                                            </tr> 
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- use the modal component, pass in the prop -->
                <div class="modal fade bs-example-modal-lg" id="modalFormAlerts" role="dialog"
                tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Formulario de alertas</h4>
                                <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true">×</button>
                            </div>
                            <div class="modal-body">
                                <form novalidate v-on:submit.prevent="saveAlert(); return false;" enctype="multipart/form-data">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Nombre <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="text" class="form-control" v-model="fNombre"/>
                                                        <small class="form-control-feedback">
                                                            Nombre de la alerta
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Tipo <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <v-select :options="mListTypeAlerts" :reduce="mListTypeAlerts => mListTypeAlerts.id" label="description" v-model="fTipo"></v-select>
                                                        <small class="form-control-feedback">
                                                            Selector de tipo de alerta.
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <h5>Imágen <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="file" class="dropify" id="dropify-img"
                                                            :data-default-file="fImg" ref="imgInput" @change="handleFileUpload()"/>
                                                        <small class="form-control-feedback">
                                                            Seleccione una imagen representativa
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/row-->
                                    <hr>
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-offset-3 col-md-9">
                                                        <button type="submit" class="btn btn-success">
                                                            <i class="fa fa-check"></i>
                                                            Guardar
                                                        </button>
                                                        <button type="button" class="btn btn-inverse" data-dismiss="modal">Cancelar</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6"></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                <!-- /.modal-dialog -->
                </div>
            </div>
        </div>

        <% include ../../partials/footer%>
    </div>

    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->

    <% include ../../partials/scripts%>
    <!--stickey kit -->
    <script src="/static/dist/js/sticky-kit.min.js"></script>
    <script src="/static/dist/js/dropify.min.js"></script>
    <script src="/static/dist/js/sweetalert.min.js"></script>

    <script>    
        // Vue.component('v-select', VueSelect.VueSelect);
        let vue = new Vue({
            el: '#alerts',
            data: {
                /**
                 * Lista de alertas
                 */
                mListAlerts: [],
                /**
                 * Lista de tipos de alertas
                 */
                mListTypeAlerts: [],
                /**
                 * Verifica si abre modal de creacion o actualizacion
                 */
                mIsCreate: true,
                /**
                 * Campo de imagen
                 */ 
                fImg: '/static/img/config/default.jpeg',
                /**
                 * Archivo de imagen para subir
                 */
                imgFile: null,
                /**
                 * Campo de nombre de la alerta
                 */
                fNombre: null,
                /**
                 * Campo tipo de alerta
                 */ 
                fTipo: null,
                /**
                 * Campo identificador de alerta
                 */ 
                fhId: null,
            },
            methods: {
                /**
                 * Evento que se ejecuta cuando hay una nueva imagen
                 */ 
                handleFileUpload(){
                    this.imgFile = this.$refs.imgInput.files[0];
                },
                /**
                 * Obtiene todas las alertas existentes
                 */
                getAlerts() {
                    axios({
                        method: 'GET',
                        url: '/administrador/alertas/all',
                        responseType: 'json',
                        headers: {'Content-Type': 'application/json'}
                    }).then((request) => {
                        // Obtiene todos los tipos de alertas
                        this.mListTypeAlerts = request.data.tiposAlerta;
                        // Obtiene todas las alertas
                        this.mListAlerts = request.data.alertas.map(alert => {
                            alert.img = `/static/img/alertas/${alert.img}`;
                            alert.tipo = this.mListTypeAlerts[this.getIndexList(this.mListTypeAlerts, Number(alert.tipo), 'id')].description;
                            return alert;
                        });
                    }).catch(err => {
                        console.log('Error al obtener las alertas', err);
                    });
                },
                /**
                 * Muestra el modal de pendiendo si es para crear o modificar un elemento
                 * @param isCreate boolean
                 * @param alertId identificador de la alerta
                 */
                showModal(isCreate, alertId) {
                    this.mIsCreate = isCreate;
                    // Verifica si se habilita el formulario para crear
                    if (this.mIsCreate) {
                        // Limpia todos los campos del formulario
                        this.clearFieldsModal();
                        this.changeDefaultImageDropify('/static/img/config/default.jpeg');
                    } else {
                        const indx = this.getIndexList(this.mListAlerts, alertId, 'id');
                        this.changeDefaultImageDropify(this.mListAlerts[indx].img);
                        this.fNombre = this.mListAlerts[indx].nombre
                        this.fTipo = this.mListTypeAlerts[this.getIndexList(this.mListTypeAlerts, this.mListAlerts[indx].tipo, 'description')].id;
                        this.fImg = this.mListAlerts[indx].img;
                        this.fhId = alertId;
                    }
                    $('#modalFormAlerts').modal();
                },
                /**
                 * Verifica si muestra el modal de crear o modificar
                 */
                saveAlert() {
                    // Valida si los campos estan ingresados en su totalidad
                    if (!this.validateFieldsModal()) {
                        console.log('FAlta elementos para ingresar en el formulario')
                        return;
                    } else {
                        // Datos de formulario
                        let form_data = new FormData();
                        form_data.append('tipo', this.fTipo);
                        form_data.append('nombre', this.fNombre);

                        // Datos de la peticion
                        let dataRequest = {
                            responseType: 'json',
                            headers: {'Content-Type': 'multipart/form-data'},
                            data: form_data
                        }

                        // Verifica si crea o edita
                        if (this.mIsCreate) {
                            dataRequest.method = 'POST';
                            dataRequest.url = '/administrador/alertas/store';
                            form_data.append('img', this.imgFile);
                        } else {
                            dataRequest.method = 'PUT';
                            dataRequest.url = `/administrador/alertas/${this.fhId}`;
                            // Verifica si existe un archivo para subir
                            if (this.imgFile) {
                                form_data.append('img', this.imgFile);
                            }
                        }

                        // Envia solicitud
                        axios(dataRequest)
                        .then((alert) => {
                            console.log('Respuesta recibida', alert);
                            // Actualiza los datos el elemento encontrado
                            this.getAlerts();
                            // Oculta el modal
                            $('#modalFormAlerts').modal('toggle');
                            // Limpia todos lo campos del modal
                            this.clearFieldsModal();
                            // Muestra mensaje
                            this.showToastMessage(false);
                        })
                        .catch(err => {
                            console.log('Error al crear una nueva tienda', err);
                            this.showToastMessage(true);
                        });
                    }
                },
                /**
                 * Muestra mensaje de confirmacion de guardado
                 */ 
                showToastMessage(isError) {
                    if (isError) {
                        $.toast({
                            heading: 'Error',
                            text: 'Error al guardar la información.',
                            position: 'top-right',
                            loaderBg:'#dee2e6',
                            icon: 'error',
                            hideAfter: 3500, 
                            stack: 6
                        });
                    } else {
                        $.toast({
                            heading: 'Información',
                            text: 'Información guardada con exito',
                            position: 'top-right',
                            loaderBg:'#dee2e6',
                            icon: 'success',
                            hideAfter: 3500, 
                            stack: 6
                        });
                    }
                },
                /**
                 * Limpia los campos del modal
                 */ 
                clearFieldsModal() {
                    this.fImg = '/static/img/config/default.jpeg';
                    this.fNombre = null;
                    this.fTipo = null;
                    this.fhId = null;
                    this.imgFile = null;
                },
                /**
                 * Valida los campos del modal
                 */
                validateFieldsModal() {
                    // Verifica si es para editar
                    if (!this.isCreate && this.fTipo && this.fNombre) {
                        return true;
                    }
                    // Verifica si es para ingresar un nuevo elemento
                    if (this.isCreate && this.imgFile && this.fTipo && this.fNombre) {
                        return true;
                    }
                    return false;
                },
                /**
                 * Obtiene el identificador de la lsita
                 * @param list lista a filtrar
                 * @param value valor a buscar
                 * @param findKey llave a de referencia de objeto
                 */
                getIndexList(list, value, findKey) {
                    return list.findIndex((obj => obj[findKey] === value));
                },
                /**
                 * Cambia la imagen por defecto de dropify
                 */ 
                changeDefaultImageDropify(urlImage) {
                    let filedropper = $('.dropify').dropify();
                    filedropper = filedropper.data('dropify');
                    filedropper.resetPreview();
                    filedropper.clearElement();
                    filedropper.settings['defaultFile'] = urlImage;
                    filedropper.destroy();
                    filedropper.init();
                },
                /**
                 * Elimina una alerta por el id
                 * @param alertId identificador de la alerta a eliminar
                 */ 
                deleteAlert(alertId) {
                    
                    swal({   
                        title: "¿Seguro que desea eliminar éste elemento?",   
                        text: "Se eliminara ésta alerta",   
                        type: "warning",   
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "SI",
                        cancelButtonText: "NO",
                        closeOnConfirm: false
                    }).then((value) => {
                        console.log('Elimina elemento', value);

                        // Verifica si se oprime la opcion positiva
                        if (value.value) {
                            axios.delete(`/administrador/alertas/${alertId}`)
                            .then(response => {
                                this.getAlerts();
                                this.showToastMessage(false);
                            });
                        }
                        
                    }).catch(err => {
                        console.log('Error al eliminar la alerta', alertId, err);
                        this.showToastMessage(true);
                    });
                }
            }
        });
        vue.getAlerts();
        $('.dropify').dropify();
    </script>
</body>

</html>