
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Imágen de inicio <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                            <input type="file" id="input-file-now-custom-1" class="dropify" data-default-file="/static/img/config/default.jpeg" />
                                                        <input type="file" name="imagen" id="imagen" class="form-control" required
                                                            value="<%= (locals.config) ? config.img_login : '' %>">
                                                    </div>
                                                    <small class="form-control-feedback"> Seleccione una imágen para inicio del login </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/row-->
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-offset-3 col-md-9">
                                                        <button type="submit" class="btn btn-success">
                                                            <i class="fa fa-check"></i>
                                                            Guardar
                                                        </button>
                                                        <a href="/administrador/configuraciones">
                                                            <button type="button" class="btn btn-inverse">Cancelar</button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6"> </div>
                                        </div>
                                    </div>
