
                                    <div class="form-body">
                                        <%if(locals.tienda){%>
                                        <div class="form-group">
                                            <input value="<%=tienda.imagen%>" type="hidden" class="form-control" id="imagenanterior"  name="imagenanterior" required>                                    
                                        </div>
                                        <%}%>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Nombre <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="text" id="nombre" name="nombre" class="form-control"
                                                            value="<%= (locals.tienda) ? tienda.nombre : '' %>"
                                                            required data-validation-required-message="Éste campo es requerido">
                                                    </div>
                                                    <small class="form-control-feedback"> Nombre de la tienda </small>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Imágen de la tienda <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="file" name="imagen" id="imagen" class="form-control"
                                                            value="<%= (locals.tienda) ? tienda.imagen : '' %>">
                                                    </div>
                                                    <small class="form-control-feedback"> Seleccione una imágen de la tienda </small>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <h5>Descripción <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <textarea name="descripcion" id="descripcion" class="form-control" required 
                                                        placeholder="Agrega una descripción" aria-invalid="false"><%= (locals.tienda) ? tienda.descripcion : '' %></textarea>
                                                    </div>
                                                    <small class="form-control-feedback"> Agregale una descripción a la tienda </small>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-offset-3 col-md-9">
                                                        <button type="submit" class="btn btn-success">
                                                            <i class="fa fa-check"></i>
                                                            Guardar
                                                        </button>
                                                        <a href="/administrador/tiendas">
                                                            <button type="button" class="btn btn-inverse">Cancelar</button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6"> </div>
                                        </div>
                                    </div>
