<!-- views/partials/header.ejs -->
<div id="options-nav">
<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-dark">

        <!-- ============================================================== -->
        <!-- Logo -->
        <!-- ============================================================== -->
        <div class="navbar-header">
            <a class="navbar-brand col-sm-12" href="/administrador">
                <!-- Logo icon -->
                <b>
                    <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                    <!-- Dark Logo icon -->
                    <img src="/static/dist/images/favicon_bl.png" alt="homepage" class="dark-logo" />
                    <!-- Light Logo icon -->
                    <img src="/static/dist/images/favicon_bl.png" alt="homepage" class="light-logo" />
                </b>
                <!--End Logo icon -->
                <!-- Logo text -->
                <span class="col-sm-9">
                    <!-- dark Logo text -->
                    <img src="/static/dist/images/logo.png" alt="homepage" class="dark-logo" />
                    <!-- Light Logo text -->
                    <img src="/static/dist/images/logo.png" class="light-logo" alt="homepage" />
                </span>
            </a>
        </div>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <div class="navbar-collapse">
            <!-- ============================================================== -->
            <!-- toggle and nav items -->
            <!-- ============================================================== -->
            <ul class="navbar-nav mr-auto">
                <!-- This is  -->
                <li class="nav-item"> <a class="nav-link nav-toggler d-block d-md-none waves-effect waves-dark" href="javascript:void(0)"><i
                            class="ti-menu"></i></a> </li>
                <li class="nav-item"> <a class="nav-link sidebartoggler d-none d-lg-block d-md-block waves-effect waves-dark"
                        href="javascript:void(0)"><i class="icon-menu"></i></a> </li>
                <!-- ============================================================== -->
                <!-- Search -->
                <!-- ============================================================== -->
                <li class="nav-item">
                    <!--<form class="app-search d-none d-md-block d-lg-block">
                            <input type="text" class="form-control" placeholder="Search & enter">
                        </form>-->
                </li>
            </ul>
            <!-- ============================================================== -->
            <!-- User profile and search -->
            <!-- ============================================================== -->
            <ul class="navbar-nav my-lg-0">
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <%if(locals.usuario.type == ('administrador' || 'moderador')) {%>

                    <!-- ============================================================== -->
                    <!-- Alerts -->
                    <!-- ============================================================== -->
                    <li class="nav-item dropdown" data-toggle="tooltip" data-placement="bottom" data-original-title="Publicar alerta">
                        <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" @click="openAlertForm()">
                            <i class="ti-alert"></i>
                            <div class="notify">
                                <!--<span class="heartbit"></span>-->
                                <!--<span class="point"></span>-->
                            </div>
                        </a>
                    </li>
                    <!-- ============================================================== -->
                    <!-- End Alerts -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- mega menu -->
                    <!-- ============================================================== -->
                    <li class="nav-item dropdown mega-dropdown"> <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ti-layout-width-default"></i></a>
                        <div class="dropdown-menu animated bounceInDown">
                            <ul class="mega-dropdown-menu row">
                                <li class="col-lg-7 col-xlg-2 m-b-30">
                                    
                                    <h4 class="m-b-20">Notificaciones enviadas</h4>
                                    <%if (locals.usuario.notifications) {
                                        for (let i= 0; i < locals.usuario.notifications.length; i++) {%>
                                        
                                    <div>
                                        <h4><%=locals.usuario.notifications[i].title%> <b><%=locals.usuario.notifications[i].created_at%></b> </h4>
                                        <p><%=locals.usuario.notifications[i].description%></p>
                                    </div>
                                    <%}}%>
                                </li>
                                <li class="col-lg-5  m-b-30">
                                    <h4 class="m-b-20">Nueva notificación</h4>
                                    <!-- Contact -->
                                    <form class="col-lg-12 row" id="form-notification" onsubmit="sendNotification()" action="">
                                        <div class="form-group col-lg-12">
                                            <input type="text" class="form-control" id="title_notification" placeholder="Titulo" required> 
                                        </div>
                                        <div class="form-group col-lg-12">
                                            <textarea class="form-control" id="description_notification" rows="5" placeholder="Descripción" required></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-info right">Enviar notificación</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- ============================================================== -->
                    <!-- End mega menu -->
                    <!-- ============================================================== -->
                <%}%>
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- User Profile -->
                <!-- ============================================================== -->
                <li class="nav-item dropdown u-pro">
                    <a class="nav-link dropdown-toggle waves-effect waves-dark profile-pic" href="" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"><img src="/static/img/admin/<%=locals.usuario.usuario.foto_perfil%>" alt="user"
                            class=""> <span class="hidden-md-down"><%=locals.usuario.usuario.nombre%> <%=locals.usuario.usuario.apellido%> &nbsp;<i class="fa fa-angle-down"></i></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right animated flipInY">
                        <a href="/administrador/cerrarsesion" class="dropdown-item"><i class="fa fa-power-off"></i> Salir</a>
                        <!-- text-->
                    </div>
                </li>
                <!-- ============================================================== -->
                <!-- End User Profile -->
                <!-- ============================================================== -->
                <!--<li class="nav-item right-side-toggle"> <a class="nav-link  waves-effect waves-light" href="javascript:void(0)"><i
                            class="ti-settings"></i></a></li>-->
            </ul>
        </div>
    </nav>
    
</header>
<!-- ============================================================== -->
<!-- Modal de publicacion de alertas -->
<!-- ============================================================== -->
<% include ./modals/alert.modal.ejs %>
<!-- ============================================================== -->
<!-- End modal -->
<!-- ============================================================== -->
</div>
