<!-- ============================================================== -->
    <!-- All Jquery -->

    <script type='text/javascript' src="/socket.io/socket.io.js"></script>

    <!-- ============================================================== -->
    <script src="/static/dist/js/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap popper Core JavaScript -->
    <script src="/static/dist/js/popper.min.js"></script>
    <script src="/static/dist/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="/static/dist/js/perfect-scrollbar.jquery.min.js"></script>
    <!--Wave Effects -->
    <script src="/static/dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="/static/dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="/static/dist/js/custom.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!--morris JavaScript -->
    <script src="/static/dist/js/jquery.sparkline.min.js"></script>
    <!-- Popup message jquery -->
    <script src="/static/dist/js/jquery.toast.js"></script>
    <!-- Chart JS -->
    <script src="/static/dist/js/dashboard1.js"></script>
    <script src="/static/dist/js/jquery.toast.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- development version, includes helpful console warnings -->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
    <script src="https://unpkg.com/vue@latest"></script>
    <!-- use the latest vue-select release -->
    <script src="https://unpkg.com/vue-select@latest"></script>

    <script>
        $('#form-notification').on('submit', function (event) {
            event.preventDefault();
            let title = document.getElementById('title_notification').value;
            let description = document.getElementById('description_notification').value;

            axios({
                method:'POST',
                url:'/administrador/notifications',
                data:{
                    title: title,
                    description: description,
                    type: 1,
                    offices: []    
                },
                responseType:'json',
                headers: { "Content-Type": "application/json" },
            })
            .then( (response) => {
                console.log(response);
                if (response.status == 200) {
                    $.toast({
                        heading: 'Notificación creada',
                        text: 'Se ha enviado la notificación.',
                        position: 'top-right',
                        loaderBg:'#ff6849',
                        icon: 'success',
                        hideAfter: 3500, 
                        stack: 6
                    });
                } else {
                    $.toast({
                        heading: 'Error',
                        text: 'No se ha podido enviar la notificación.',
                        position: 'top-right',
                        loaderBg:'#ff6849',
                        icon: 'error',
                        hideAfter: 3500
                    });
                }
            })
            .catch( (error) => {
                console.log(error);
                $.toast({
                    heading: 'Error',
                    text: 'No se ha podido enviar la notificación.',
                    position: 'top-right',
                    loaderBg:'#ff6849',
                    icon: 'error',
                    hideAfter: 3500
                });
            });
                
        });
    </script>

    <!-- Componente de publicacion de alertas -->
    <script>
        Vue.component('v-select', VueSelect.VueSelect);
        let vueOptionsAlert = new Vue({
            el: '#options-nav',
            data() {
                return {
                    /**
                     * Lista de alertas disponibles
                     */ 
                    mListAlerts: [],
                    /**
                     * Lista origial de alertas disponibles
                     */ 
                    mRealListAlerts: [],
                    /**
                     * Lista de tipos de alerta
                     */ 
                    mListTypesAlerts: [],
                    /**
                     * Lista de tiendas disponibles
                     */ 
                    mListShops: [],
                    /**
                     * Lista de tipos de tiendas
                     */ 
                    mListTypesShops: [],
                    /**
                     * Valida si se debe enviar la alerta
                     * a todas las tiendas
                     */ 
                    mCheckAllShops: false,
                    /**
                     * Alerta seleccionada
                     */
                    mAlertSelected: null,
                    /**
                     * Lista de tiendas seleccionadas
                     */ 
                    mShopsSelected: [],
                    /**
                     * Lista de tipos de alerta seleccionados
                     */
                    mListTypesAlertsSelected: []
                }
            },
            methods: {
                /**
                 * Abre el modal del formulario 
                 * para la publicacion de una alerta
                 */ 
                openAlertForm() {
                    // Obtiene todas las alertas
                    this.getAllAlerts();
                    // Obtiene todas las tiendas
                    this.getAllShops();
                    // Abre el modal
                    $('#modalPublishAlerts').modal();
                },
                /**
                 * Emite la notificacion de alerta
                 */ 
                sendAlert() {
                    if (this.mShopsSelected.length > 0 && this.mAlertSelected) {
                        // console.log('Alerta', this.mAlertSelected, 'Son todas?', this.mCheckAllShops, 'Si son todas imprime', this.mCheckAllShops? [] : this.mShopsSelected );
                        axios({
                            method: 'POST',
                            url: '/administrador/alertas/publish',
                            responseType: 'json',
                            headers: { 'Content-Type': 'application/json' },
                            data: {
                                shops: this.mShopsSelected,
                                alert: this.mAlertSelected,
                                isAllShopSelected: this.mCheckAllShops
                            }
                        }).then((response) => {
                            // Cierra el modal de publicacion de alertas
                            $('#modalPublishAlerts').modal('toggle');
                            // Visualiza notificacion de publicacion de alerta satisfactoria
                            $.toast({
                                heading: 'Información',
                                text: 'Se ha publicado la alerta satisfactoriamente.',
                                position: 'top-right',
                                loaderBg:'#ff6849',
                                icon: 'info',
                                hideAfter: 5000, 
                                stack: 6
                            });
                        }).catch(err => {
                            console.log('Error al obtener las tiendas', err);
                        });
                    }

                },
                /**
                 * Obtiene todas las alertas y tipos de aletas disponibles
                 */
                getAllAlerts() {
                    axios({
                        method: 'GET',
                        url: '/administrador/alertas/all',
                        responseType: 'json',
                        headers: {'Content-Type': 'application/json' }
                    }).then(response => {
                        this.mListAlerts = response.data.alertas;
                        this.mRealListAlerts = response.data.alertas;
                        this.mListTypesAlerts = response.data.tiposAlerta;
                    }).catch(err => {
                        console.log('Error al obtener las tiendas', err);
                    });
                },
                /**
                 * Filtra la lista de alertas por tipo de alerta
                 *
                 * @param ids lista de ids de tipos de alertas
                 * @returns lista de alertas filtradas
                 */ 
                getListAlertsFilter(ids) {
                    // Verifica si hay tipos de tiendas a filtrar
                    if (ids.length > 0)  {
                        let temporalList = [];
                        // Recorre los tipos de alertas a filtrar por ID
                        for (let i = 0; i < ids.length; i++) {
                            const id = ids[i];
                            // Recorre todas las alertas
                            for (let j = 0; j < this.mRealListAlerts.length; j++) {
                                const alert = this.mRealListAlerts[j];
                                // Se verifica si los tipos de alertas coinciden
                                if (Number(alert.tipo) === id) {
                                    temporalList.push(alert);
                                    break;
                                }
                            }   
                        }
                        this.mAlertSelected = null;
                        return temporalList;
                    } else {
                        return this.mRealListAlerts;
                    }  
                },
                /**
                 * Se ejecuta cuando detecta un cambio en el selector de tipos de alertas,
                 * filtra las alertas por tipo de alerta
                 *
                 * @param ids identificadoresd e tipos de alertas a filtrar
                 */ 
                filterTypeAlert(ids) {
                    this.mListAlerts = this.getListAlertsFilter(ids);
                },
                /**
                 * Se ejecuta cuando detecta un cambio en el selector de tiendas
                 */ 
                selectAllShopsEvent() {
                    console.log('Entra evento select all shops');
                    
                    this.mCheckAllShops = false;
                },
                /**
                 * Selecciona todas las tiendas del selector
                 */
                selectAllShops() {
                    this.mCheckAllShops = true;
                    this.mShopsSelected = this.mListShops.map(shop => shop.idtienda);
                },
                /**
                 * Deselecciona todas las tiendas del selector
                 */
                deselectAllShops() {
                    this.mShopsSelected = [];
                },
                /**
                 * Obtiene todas las tiendas y
                 * tipos de tiendas | sucursales disponibles
                 */ 
                getAllShops() {
                    axios({
                        method: 'GET',
                        url: '/administrador/tiendas/all',
                        responseType: 'json',
                        headers: {'Content-Type': 'application/json' }
                    }).then(response => {
                        this.mListShops = response.data.tiendas;
                        this.mListTypesShops = response.data.tipoSucursales;
                    }).catch(err => {
                        console.log('Error al obtener las alertas', err);
                    });
                }

            },
        });
    </script>
    