<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/head%>
</head>


<body class="skin-blue fixed-layout">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Traigo</p>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">

        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <% include ../../partials/header%>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <% include ../../partials/sidebar%>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->

        <div class="page-wrapper">

            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Crear administrador</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0)">Administrador</a></li>
                                <li class="breadcrumb-item"><a href="/administrador/moderadores">Moderadores</a></li>
                                <li class="breadcrumb-item active">Crear moderador</li>
                            </ol>
                        </div>
                    </div>
                </div>

                <!-- Row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header bg-info">
                                <h4 class="m-b-0 text-white">Formulario de creación de moderador</h4>
                            </div>
                            <div class="card-body">
                                <form novalidate action="/administrador/moderadores" method="POST" enctype=multipart/form-data>
                                    <% include ./fields%>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Row -->
            </div>
        </div>
<% include ../../partials/footer%>
    </div>

    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->

    <% include ../../partials/scripts%>
    <script src="/static/dist/js/pages/validation.js"></script>
    <script src="/static/dist/js/pages/custom.min.js"></script>
    <script src="/static/dist/js/jqBootstrapValidation.js"></script>

    <script type = "text/javascript">
    
        // Verifica la validacion de los campos de nuevo administrador
        $("input,select,textarea").not("[type=submit]").jqBootstrapValidation();

    	var io = io.connect('/', {'forceNew':true});
    	
		var spaises = document.getElementById('pais');
		var sdep = document.getElementById("departamento");
		var smun = document.getElementById("ciudad");

		spaises.setAttribute("onchange", "eventoDepartamentos()");
		sdep.setAttribute("onchange", "eventoCiudad()");

		function eventoDepartamentos() {
			io.emit("departamentos", {
                id: spaises.value
            });
		};

		function eventoCiudad() {
            io.emit("municipios", {
                id: sdep.value
            });
		};

		io.on("paises", function(data) {
			var cont = data.length;
			spaises.length = cont;
			for (var i = 0; i < cont; i++) {
				spaises.options[i] = new Option(data[i].nombre, data[i].idPais);
			};
            io.emit("departamentos", {
                id: spaises.value
            });
		});

		io.on("departamentos", function(data) {
			var cont = data.length;
			sdep.length = cont;
			for (var i = 0; i < cont; i++) {
				sdep.options[i] = new Option(data[i].nombre, data[i].idDepartamento);
			};
            io.emit("municipios", {
                id: sdep.value
            });
		});

		io.on("municipios", function(data){
			var cont = data.length;
			smun.length = cont;
			for (var i = 0; i < cont; i++) {
				smun.options[i] = new Option(data[i].nombre, data[i].idmunicipios);
			};
		});
    </script>

</body>

</html>