
                                    <div class="form-body">
                                        <!--<h3 class="card-title">Agregar sucursal</h3>
                                        <hr>-->
                                        <!--/row-->
                                        <%if (locals.mod) {%>
                                            <input value = "<%=mod.foto_perfil%>" type="hidden" class="form-control" id="foto_perfil" aria-describedby="emailHelp" name = "foto_perfil">
                                            <input value = "<%=mod.iddireccion%>" type="hidden" class="form-control" id="direccion_anterior" aria-describedby="emailHelp" name = "direccion_anterior">                              
                                        <%}%>
                                        <div class="row p-t-20">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <h5>Cédula <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="text" class="form-control" id="cedula" name="cedula"
                                                            value="<%= (locals.mod) ? mod.cedula : '' %>"
                                                            required data-validation-required-message="Éste campo es obligatorio">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row p-t-20">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Nombre <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="text" class="form-control" id="nombre" name="nombre" 
                                                            value="<%= (locals.mod) ? mod.nombre : '' %>"
                                                            required data-validation-required-message="Éste campo es obligatorio">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Apellido <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="text" class="form-control" id="apellido" name="apellido"
                                                        value="<%= (locals.mod) ? mod.apellido : '' %>"
                                                        required data-validation-required-message="Éste campo es obligatorio">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row p-t-20">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Correo <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="email" class="form-control" id="correo" name="correo" required
                                                            value="<%= (locals.mod) ? mod.correo : '' %>"
                                                            data-validation-required-message="Éste campo es obligatorio">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Género <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <select name="genero" id="genero" required class="form-control">
                                                            <option>Masculino</option>
                                                            <option>Femenino</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row p-t-20">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Foto de perfil <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="file" name="foto" id="foto" class="form-control" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Dirección de anexos <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="text" class="form-control" id="anexos" name="anexos" required
                                                            data-validation-required-message="Éste campo es obligatorio">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row p-t-20">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <h5>País <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <select name="pais" id="pais" required class="form-control">
                                                            <option disabled selected>Seleccione un pais</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <h5>Departamento <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <select name="departamento" id="departamento" required class="form-control">
                                                            <option disabled selected>Seleccione un departamento</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <h5>Ciudad <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <select name="municipio" id="ciudad" required class="form-control">
                                                            <option disabled selected>Seleccione una ciudad</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row p-t-20">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Dirección <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="text" name="direccion" id="direccion" class="form-control"
                                                            required data-validation-required-message="Éste campo es obligatorio">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <h5>Notas de la dirección <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="text" class="form-control" id="notas" name="notas" placeholder="Bloque, apartamento, etc"
                                                            required data-validation-required-message="Éste campo es obligatorio">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/row-->
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-offset-3 col-md-9">
                                                        <button type="submit" class="btn btn-success">
                                                            <i class="fa fa-check"></i>
                                                            Guardar
                                                        </button>
                                                        <a href="/administrador/moderadores">
                                                            <button type="button" class="btn btn-inverse">Cancelar</button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6"> </div>
                                        </div>
                                    </div>
