body{
	background-color: #01a9da
}

.label{
	color: #fff
}

.btn-form{
	color: #01a9da
}

.titulo{
	color: #fff
}

.tarjetatext{
	color: #000
}

.imgtable{
	width: 100%;
}

.thfoto{
	width: 7%;
}

.map{
	margin-bottom: 20px;
}

.tituloblack{
	color: #000
}

